<div class="row top-space">
  <div class="col-xs-6">
    <h4 class="blue">Alerts</h4>
  </div>
</div>
<div class="row top-bar">
  <div class="col-xs-12 alert-tab-div">
    <% if @pcap_attachments.any? %>
      <table id="alerts-table" class="table table-condensed small table-hover">
        <thead>
        <tr>
          <th>Filename</th>
          <th>Local</th>
          <th>All Rules</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
