<div class="row">
  <div class="col-xs-6">
    <div class="alert_comment"></div>
    <h4 class="top-space blue">History</h4>
  </div>
  <div class="col-xs-6 right">
    <p class="top-space">
      <a>
      <i class="glyphicon glyphicon-sort"></i>&nbsp;
      <span id="notesChronToggle" style="display:none;">oldest -> newest</span>
      <span id="notesTLDRToggle">newest -> oldest</span>
      </a>
      <span class="text-muted">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a class="toggle_comment_form">
      <span id="showAddNotesToggle"><i class="glyphicon glyphicon-plus"></i> comment</span>
      <span id="hideAddNotesToggle" class="text-muted" style="display: none;"><i class="glyphicon glyphicon-remove"></i> cancel</span>
      </a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form role="form" id="addResearchNoteForm" style="display: none;">
    <h5>post a comment... &nbsp;&nbsp;</h5>
    <div class="form-group">
      <textarea class="form-control" name="comment" id="noteCommentField"></textarea>
    </div>
    <input type="hidden" name="comment_type" value="research">
    <input type="hidden" name="bugzilla_id" value="<%= @bug.id %>">
    <div class="form-group">
      <button value="submit" class="btn btn-warning btn-sm">save</button>
    </div>
    <hr />
    </form>
  </div>
</div>
<% @notes.each do |note| %>
  <div class="row top-space research-note">
    <div class="col-xs-6">
      <p class="small text-muted">written by <strong><%= note.author %></strong> <%= note.created_at %></p>
    </div>
    <div class="col-xs-6 right">
      <a {{action 'toggleNote' id}}>
      <span class="show-note-toggle text-muted">[-]</span>
      <span class="hide-note-toggle hidden text-muted">[+]</span>
      </a>
    </div>
    <div class="col-xs-12">
      <pre class="comment"><%= note.comment %></pre>
    </div>
    <div class="col-xs-12">
      <p class="line"></p>
    </div>
  </div>
<% end %>
