<div class="row top-space">
  <div class="col-sm-12">
    <h4 class="blue">&nbsp; Task Logs</h4>
  </div>
  <div class="col-sm-12">
    <table id="task-log-table" class="table table-condensed table-striped small">
      <thead>
      <tr>
        <td class="narrow-column">Successful</td>
        <td class="task-type-col">Type</td>
        <th>Details</th>
        <td class="user-col">User</td>
        <td class="narrow-column">Created</td>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
