<% flash.each do |type, message| %>
    <div class="ac-flash-wrapper">
      <div class="ac-flash alert <%= bootstrap_class_for(type) %> alert-dismissible fade in">
        <button type="button" class="ac_flash_button close" data-dismiss="alert" aria-label="Close">
          <!--<span aria-hidden="true">&times;</span>-->
        </button>
        <%= message %>
      </div>
    </div>
<% end %>
