.verbage
  %h1 Snort Rule Doc

  %p This is administration for the system of publishing rule doc to snort.org.

  %p.long
    Rule doc write ups from Analysts is combined with CVE documentation from the NIST NVD.
    When updated snort rules are published to the snort product,
    analyst console system downloads data from the NIST NVD,
    gathers the analyst write up for the new rules published,
    and uploads them to snort.org.
    This administration interface allows editing of settings for the process,
    and provides utilities to do some of the steps manually.


  %h2 Normal Steps

  %p
    This section documents the normal steps for publishing documetation.

  %ol
    %li
      %h3 Snort rules are published
      %p
        Rule documentation on snort.org needs to be updated when and only when rules are published for snort.

    %li
      %h3 Snort operations notifies analyst console
      %p
        Analyst console provides a web service to be notified when snort rules are updated.
        The snort rule operations organization has a process to vet and publish the rules.
        At the end of that process, they call the web service
        and sends a manifest of rules which are added and updated.

    %li
      %h3 Download NVD data
      %p
        The first step analyst console does once notified,
        is to determine all CVE references on rules which are missing NIST NVD data.
        It then downloads the year data for any necessary years.
        It then loads data from those files into a database table for any CVEs missing data from the database.

    %li
      %h3 Generate rule doc JSON
      %p
        Next, analyst console generates JSON for the rules which need to be published to snort.org.
        The JSON combines the rule doc written by the analysts with the NVD write up for all and any CVEs
        referenced by the rules.

    %li
      %h3 Upload rule doc JSON
      %p
        The rule doc JSON is uploaded to snort.org, which stores it in its database.
        The snort.org web site will show the sections of the rule doc from a combination
        of the analyst write up and the NVD write up.


  %h2 Admin Tools

  %h3 Force a download of a given NVD year
  %p
    Admin tool to force a file download from NVD in case the file is out of data for analyst console's file store.
    The analyst console application will not update the file when it already has it,
    except for the current year, which it downloads every time the rules are published.

  .snort-doc-links
    %a{href: admin_snort_doc_cves_nvd_path} Downloads


  %h3 Force update of missing cve data
  %p
    Admin tool to run the process which finds all the CVE references without NVD data in the database,
    and loads the data from the NVD files in the file store.


  %h3 Include or exclude a rule from the snort documentation set
  %p
    Rules can be set to exclude from publishing rule doc on snort.org.
    Rules can also be set to be added to the rule doc publishing, even if not included in the manifest from OPS.


  %h3 Generate and upload an update to snort.org for a given list of rules.


  %h3 Suppress or un-suppress a CVE from updating.
  %p
    A CVE can be marked to not be updated from the NVD files.
    If a CVE is not found in the NVD files, after three tries, it will stop trying to read the NVD files for it.
    This can be cleared so it will try next time.
    It can also be manually set, to exclude a CVE from documentation.


  %h2 TODO
  %ol
    %li Force a download of a given NVD year
    %li Populate the cves table with all the CVEs we have references for, but have no record in the cves table.
    %li Include or exclude a rule from the snort documentation set
    %li Generate and upload an update to snort.org for a given list of rules.
    %li Manually suppress or un-suppress a CVE from updating.
    %li Auto-suppress a CVE after three failed attempts.
    %li Exclude ** REJECT ** CVEs.
    %li opensource.gz

