.content-wrapper
  .row.webcat-reports-top-content
    .col-xs-2.header-content
      %span.icon-reports-white.top-info-icon
      %h1 Reports
    .col-xs-10
      .complaint-mgt-top-area
        = render "escalations/webcat/shared/telemetry"

%ul.nav.nav-tabs#reports-tab{role: 'tablist'}
  %li.nav-item{role:'presentation'}
    %a.nav-link#generate-reports-tab-link{href: '#generate_reports_tab', 'aria-controls': 'gen_reports_tabs', role: 'tab', 'data-toggle': 'tab'}
      Generate Reports
  %li.nav-item{role:'presentation'}
    %a.nav-link#mothra-tab-link{href: '#imports_tab', 'aria-controls': 'research', role: 'tab', 'data-toggle': 'tab'}
      Jira Imports


.tab-content.content-wrapper#report-tab-content
  .tab-pane#generate_reports_tab{role: 'tabpanel'}
    = render 'escalations/webcat/shared/generate_reports'
  .tab-pane#imports_tab{role: 'tabpanel'}
    = render 'escalations/webcat/shared/jira_imports'