#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

if [[ $(command -v asdf) ]]; then
  header "Installing asdf plugins"

  for plugin in "${asdf_plugins[@]}"; do
    if ! asdf plugin-list | grep -q "^${plugin}\$"; then
      header "Adding asdf plugin: ${plugin}"
      asdf plugin add "${plugin}"
    else
      notice "asdf plugin already added: ${plugin}"
    fi
  done

  header "Installing asdf versions"

  if [ -e ".tool-versions" ]; then
    asdf install
  else
    warning "No .tool-versions file found, skipping asdf install"
  fi
fi
