#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

{{- if or (eq .os "linux-pop") (eq .os "linux-ubuntu") (eq .os "linux-debian") -}}

if [[ ! $(command -v keybase ) ]]; then
  header "🔑 Installing Keybase chat and file sharing app"
  curl --remote-name https://prerelease.keybase.io/keybase_amd64.deb
  sudo apt install ./keybase_amd64.deb
  run_keybase

  success "Added keybase"
fi

{{- end }}

_safeExit_
