#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . -}}

if [[ "$(basename "$SHELL")" != "zsh" && -x "$(command -v zsh)" ]]; then
  ZSH_PATH="$(which zsh)"
  if ! grep -qxF "$ZSH_PATH" /etc/shells; then
    echo "$ZSH_PATH" | sudo tee -a /etc/shells
  fi
  chsh -s "$ZSH_PATH"
fi

_safeExit_
