#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

{{ if eq .chezmoi.os "linux" }}

if [[ "$(basename "$SHELL")" != "zsh" && -x "$(command -v zsh)" ]]; then
   chsh -s $(which zsh)
fi

{{- end }}

_safeExit_
