#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}
if [[ ! $(command -v kitty) ]]; then
  header "😸 Installing Kitty terminal emulator"
  {{ if .work_computer }}
  curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin dest=~/Applications/
  {{ else }}
  curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin
  {{ end }}
  {{ if eq .chezmoi.os "linux" }}
  sudo update-alternatives --install /usr/bin/x-terminal-emulator x-terminal-emulator $( which kitty) 10
  {{ end }}
fi

if [[ ! $(command -v brew) ]]; then
  header "🍺 Installing Homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
if [[ -e "/opt/homebrew/bin/brew" && ! $(command -v brew) ]]; then
  notice "Adding Homebrew to your PATH"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{ else if eq .chezmoi.os "linux" }}
if [[ -e "~/.linuxbrew/bin/brew" && ! $(command -v brew) ]]; then
  notice "Adding Homebrew to your PATH"
  eval "$(~/.linuxbrew/bin/brew shellenv)"
fi
{{ end }}

{{ if eq .chezmoi.os "linux" }}

install=false

# Declare a regular array for the package names
declare -a packages=(
  "curl"
  "unzip"
  "wget"
)

to_install=()

# Loop through the commands to check if they're installed
for cmd in "${packages[@]}"; do
  if ! command -v "${cmd}" &>/dev/null; then
      install=true
      to_install+=("${cmd}")
  fi
done

{{ if or (eq .os "linux-pop") (eq .os "linux-ubuntu") (eq .os "linux-debian") -}}
  # Install missing packages
  if ${install}; then
    header "Updating package list"
    sudo apt update

    for pkg in "${to_install[@]}"; do
        header "Installing ${pkg}"
        sudo apt install -y "${pkg}"
    done
  fi
{{ else if or (eq .os "linux-endeavouros") (eq .os "linux-arch") -}}
  # Install missing packages
  if ${install}; then
    header "Updating package list"
    sudo pacman -Sy

    for pkg in "${to_install[@]}"; do
        header "Installing ${pkg}"
        sudo pacman -S --noconfirm "${pkg}"
    done
  fi
{{   end }}

{{ end }}

_safeExit_
