.row
  .col-sm-3
    %h1 Case History
    .row
      .col-xs-6
        Sort by [DROPDOWN]
      .col-xs-6
        Show [DROPDOWN]
    .row
      .col-xs-12
        %table
          %tr
            %td e
            %td
              %span.email-address
                mtaylor@paragon-downloads.com
              %span.email-subject
                RE: [E][Paragon-downloads.com] Thanks for your great...
            %td.email-datetime
              2017-10-24
              15:35:24
          %tr
            %td e
            %td
              %span.email-address
                mtaylor@paragon-downloads.com
              %span.email-subject
                RE: [E][Paragon-downloads.com] Thanks for your great...
            %td.email-datetime
              2017-10-24
              15:35:24
          %tr
            %td e
            %td
              %span.email-address
                mtaylor@paragon-downloads.com
              %span.email-subject
                RE: [E][Paragon-downloads.com] Thanks for your great...
            %td.email-datetime
              2017-10-24
              15:35:24


  .col-sm-6
    %h1 Communication
    .customer-facing-notice
      ! Customer Facing Messages
    .row
      .col-xs-12.email-header-information
        .row
          .col-xs-10
            RE: [E] [Paragon-downloads.com] Thanks for your great... support. Can you please let us know what other...
            From: Monica Taylor - mtaylor@paragon-downloads.com
            To: Senderbase Support - support@senderbase.org
          .col-xs-2
            [REPLY] [FORWARD]
            2017-10-24
            15:35:24
    .row
      .col-xs-12.email-msg-body
        ———————— Original Message ——————————
        From: Monica Taylor [mtaylor@paragon-downloads.com] Sent:
        4/2/2018 1:16 PM
        To: support@senderbase.org
        Subject: RE: [E] [Paragon-downloads.com] Thanks for your great... support. Can you please let us
        know what other actions do we need to take....

        Inquiry Type: email
        Key Rules:
        Problem Summary: Thanks for your great support. Can you please let us know what other actions do
        we need to take. We send informational material of technical nature and conduct webinars. Please
        call us at 949 825 6282, if you have any questions.

        Thanks, Monica

        IPs to be Investigated:
        69.64.99.250
        69.64.99.250
        69.64.99.250
        69.64.99.250
        69.64.99.250
        69.64.99.250
        69.64.99.250
        69.64.99.250


        ———————— ———————— ————————

        CAUTION: DO NOT DELETE THE REFERENCE ID BELOW Case No: 014


  .col-sm-3
    %h1 Notes
    .row
      .col-xs-12
        .author-info
          Written by melitayl 1 day ago
        .note-datetime
          2017-10-24 15:35:24
        .note-tool-buttons
          [buttons]

    .row
      .col-xs-12.note-content
        This is a note regarding this ticket. I have looked into this information and it appears to be correct.

    .row
      .col-xs-12
        %a.btn.btn-primary
          Add Note
