# See http://help.github.com/ignore-files/ for more about ignoring files.
/.env*
# Ignore bundler config.
/.bundle



# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/vendor/cache
/vendor/bundle
/vendor/gems/activemessaging

/bundle/
.DS_Store
.byebug_history
/public/assets/*
/public/escalations/assets/*
/public/system/*

config/config.yml


/extras/snort
/extras/snort_repo
/extras/working
/extras/ruledocs

/extras/ssh/*
/extras/working/

/ignore/

#data directories
/load_ruledoc/
/lib/data/

/net-snort-parser/

/coverage*


.idea/*
.tags*
gems.tags*
.env*


dump.rdb
/websocket/node_modules
