export PATH=$HOME/bin:/usr/local/bin:$PATH

{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/bin:$PATH"
{{ end }}

export PATH="${HOME}/.local/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"

export XDG_CONFIG_HOME="${HOME}/.config"
export YAMLLINT_CONFIG_FILE="${XDG_CONFIG_HOME}/yamllint/config.yml"
export PRETTIERD_DEFAULT_CONFIG="~/.config/prettier/prettier.config.js"

# oh-my-posh theme
# tokyonight_moon
# eval "$(oh-my-posh init zsh --config ~/.config/tokyonight/oh-my-posh/tokyonight_moon.omp.yaml)"
# Catppuccin Macchiato
omp_config='~/.config/catppuccin/oh-my-posh/catppuccin_macchiato.omp.yaml'
eval "$(oh-my-posh init zsh --config ${omp_config})"

{{ if eq .chezmoi.os "Linux" }}
export PYENV_ROOT=$HOME/.pyenv
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

export KERL_CONFIGURE_OPTIONS="--disabled-debug --without-javac --disable-hipe \
  --with-ssl=$(brew --prefix openssl)"

{{ else if eq .chezmoi.os "darwin" }}
export KERL_CONFIGURE_OPTIONS="--disable-debug --disable-silent-rules \
  --without-javac --enable-shared-zlib --enable-dynamic-ssl-lib \
  --enable-hipe --disable-sctp --enable-smp-support --enable-threads \
  --enable-kernel-poll --enable-wx --enable-darwin-64bit \
  --with-ssl=$(brew --prefix openssl)"
export NODE_OPTIONS="--max-old-space-size=8192"
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
{{ end }}

# Custom syntax highlighting must come before activating zsh-syntax-highlighting
# source ~/.config/tokyonight/zsh-syntax-highlighting.zsh
source ~/.config/catppuccin/zsh-syntax-highlighting/themes/catppuccin_macchiato-zsh-syntax-highlighting.zsh

eval $(thefuck --alias)

zmodload zsh/complist
bindkey -M menuselect 'h' vi-backward-char
bindkey -M menuselect 'k' vi-up-line-or-history
bindkey -M menuselect 'j' vi-down-line-or-history
bindkey -M menuselect 'l' vi-forward-char

bindkey -M menuselect '^xg' clear-screen
bindkey -M menuselect '^xi' vi-insert                      # Insert
bindkey -M menuselect '^xh' accept-and-hold                # Hold
bindkey -M menuselect '^xn' accept-and-infer-next-history  # Next
bindkey -M menuselect '^xu' undo                           # Undo

# zsh completions config
autoload -U compinit; compinit
_comp_options=(globdots) # With hidden files

compdef vman="man"

# Options
setopt MENU_COMPLETE
setopt AUTO_LIST
setopt COMPLETE_IN_WORD

# zstyles

# Define completers
zstyle ':completion:*' completer _extensions _complete _approximate

# Use cache for commands using cache
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path "$XDG_CONFIG_HOME/zsh/.zcompcache" 

# Complete the alias when _expand_alias is used as a function
zstyle ':completion:*' complete true 
zle -C alias-expansion complete-word _generic
bindkey '^Xa' alias-expansion
zstyle ':completion:alias-expansion:*' completer _expand_alias 

# Use cache for commands which use it

# Enable menu selection and keymaps
zstyle ':completion:*' menu select

# Autocomplete options for cd instead of directory stack
zstyle ':completion:*' complete-options true
zstyle ':completion:*' file-sort modification 

# Only displays ome tags for the command cd and z
zstyle ':completion:*:*:cd:*' tag-order local-directories directory-stack path-directories
zstyle ':completion:*:*:z:*' tag-order local-directories directory-stack path-directories

# Group completions
zstyle ':completion:*' group-name ''
zstyle ':completion:*:*:-command-:*:*' group-order aliases builtins functions commands

# See ZSHCOMPWID "completion matching control"
zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'

zstyle ':completion:*' keep-prefix true

zstyle -e ':completion:*:(ssh|scp|sftp|rsh|rsync):hosts' hosts 'reply=(${=${${(f)"$(cat {/etc/ssh_,~/.ssh/known_}hosts(|2)(N) /dev/null)"}%%[# ]*}//,/ })'

## For kubernetes
zstyle ':completion:*:*:kubectl:*' list-grouped false

# Expand '//' to '/'
zstyle ':completion:*' squeeze-slashes true

# # AWS Completions (the aws plugin may render this redundant)
# {{ if (and (eq .chezmoi.os "darwin") (not .work_computer)) -}}
# source "/usr/local/bin/aws_zsh_completer.sh"
# {{ else }}
# if command -v aws_completer >/dev/null 2>&1; then
#     complete -C aws_completer aws
# fi
# {{ end }}

# 1Password
export SSH_AUTH_SOCK=~/.1password/agent.sock

# zsh plugins using antidate
source $(brew --prefix antidote)/share/antidote/antidote.zsh
antidote load $XDG_CONFIG_HOME/zsh_plugins.txt


# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
HYPHEN_INSENSITIVE="true"

# asdf setup
source ~/.config/asdf/asdf_setup.zsh

# auto execute after zsh-vi-mode initializes
function zvm_after_init() {
  # Atuin
  # Disable up arrow navigation
  eval "$(atuin init zsh --disable-up-arrow)"
  zvm_bindkey viins '^R' atuin-search
  zvm_bindkey vicmd '^R' atuin-search

  # FZF setup
  source ~/.config/fzf/fzf.zsh
}

# obsidianmd-cli completions
source ~/.config/completions/obsidianmd.zsh

# You may need to manually set your language environment
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

export PATH="$(brew --prefix imagemagick@6)/bin:$PATH"
export PATH="$(brew --prefix openssl@3)/bin:$PATH"
export PATH="$(brew --prefix make)/libexec/gnubin:$PATH"

# set brew installed curl if installed
if brew list curl &>/dev/null; then 
  export PATH="$(brew --prefix curl)/bin:$PATH"
  export HOMEBREW_FORCE_BREWED_CURL=1
fi

# vivid/colorls setup
export LS_COLORS="$(vivid generate catppuccin-macchiato)"

# Homebrew aliases
alias bsc="brew services cleanup"
alias bsl="brew services list"
alias bsp="brew services stop"
alias bsr="brew services restart"
alias bss="brew services start"

{{ if !.work_computer -}}
# Betterdiscord alias
alias betterdiscord-update="DISC_CONFIG=\"\$HOME/.var/app/com.discordapp.Discord/config/discord\" && BD_ASAR=betterdiscord.asar && wget --timestamping -P \"\${DISC_CONFIG}/../BetterDiscord/data\" -- \"https://github.com/BetterDiscord/BetterDiscord/releases/latest/download/\${BD_ASAR}\" && DISC_VER=\"\$(ls --sort=time --time=creation \"\${DISC_CONFIG}\" | grep -E -m 1 '^[0-9]+\\.[0-9]+\\.[0-9]+\$')\" && echo -e \"require('../../../../BetterDiscord/data/\${BD_ASAR}');\\nmodule.exports = require('./core.asar');\" | tee \"\${DISC_CONFIG}/\${DISC_VER}/modules/discord_desktop_core/index.js\" && echo -e \"\\nBetterDiscord installed. Restart Discord if currently running.\" || echo -e \"\\nInstallation failed.\""
{{ end }}

# Tre setup
tre() { command tre "$@" -e && source "/tmp/tre_aliases_$USER" 2>/dev/null; }

alias cc='gcc'
alias CC='gcc'

# Openssl setup
export LDFLAGS="-Wl,-rpath,$(brew --prefix openssl@3)/lib"
export CPPFLAGS="-I$(brew --prefix openssl@3)/include"
export OPENSSLDIR="$(brew --prefix openssl@3)"
export CONFIGURE_OPTS="--with-ssl=$(brew --prefix openssl@3) --with-openssl=$(brew --prefix openssl@3) --with-openssl-rpath=auto"

{{ if eq .chezmoi.os "linux" }}
# Podman setup
export DOCKER_HOST=unix:///run/user/1000/podman/podman.sock
alias lzp='DOCKER_HOST=unix:///run/user/1000/podman/podman.sock lazydocker'
alias docker='podman'
alias pc='podman compose'
{{ else }}
# Docker
alias lzd='lazydocker'
{{ end -}}

# Zsh aliases
source ~/.config/zsh/zsh.zsh
source ~/.config/zsh/yarn.zsh

# use bat as a colorizing pager for man
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
# Uncomment below if you experience formatting problems
# export MANROFFOPT="-c"

# Ripgrep config
export RIPGREP_CONFIG_PATH="${XDG_CONFIG_HOME}/ripgrep/.ripgreprc"

{{ if eq .chezmoi.os "linux" }}
export WINEPREFIX="${HOME}/.wine32 winecfg"
export WINEARCH="win32"
{{ end }}

# Zoxide setup
eval "$(zoxide init zsh)"

# Bun
export PATH="${HOME}/.bun/bin:$PATH"

# Enable vi mode
bindkey -v

{{ if .work_computer -}}
export AWS_PROFILE='spreetail-dev'
{{- end }}
