%div{style: 'float: left;'}
  %div
    Table View
  %select
    %option Show/Hide Columns
%div{style: 'float: left;'}
  %div
    Edit Ticket
  %select
    %option Edit Status
%div{style: 'float: left;'}
  %div
    Edit Ticket
  %select
    %option Edit Status
%div{style: 'float: left;'}
  %select
    %option Adjust  Rule UI WL/BL
%div{style: 'float: left;'}
  %select
    %option Adjust Reptool BL
%div{style: 'float: left;'}
  %div
    File
  %button Export to CSV