-#%form#search-webrep-cases-form{method: 'get', 'accept-charset': 'UTF-8'}
-#=simple_form_for Dispute.new, url: escalations_webrep_disputes_path, class: 'escalations-search', method: :get do |dispute_form|
= form_for :advanced_search, html: {id: 'disputes-advanced-search-form'}, url: escalations_webrep_disputes_path, method: 'get', 'accept-charset': 'UTF-8' do |advanced_search_form|
  .form-group.search-item
    %label.content-label-sm Case IDs
    %input.form-control#caseid-input{name: 'case_id'}
    %button.remove-input#remove-criteria-caseid{type: 'button'}
  .form-group.search-item
    %label.content-label-sm Dispute (URL/IP/Domain)
    %input.form-control#dispute-input{name: 'ip_or_uri'}
    %button.remove-input#remove-criteria-dispute{type: 'button'}
  .form-group.search-item
    %label.content-label-sm Assignee
    %input.form-control#owner-input{name: 'username', list: 'user-list'}
    %datalist#user-list
    %button.remove-input#remove-criteria-assignee{type: 'button'}
  .form-group.search-item
    %label.content-label-sm Status
    %input.form-control#status-input.selectize{name: 'status', list: 'status-list', multiple: 'multiple', tabindex: '-1', data: 'webrep'}
    %datalist#status-list
    %button.remove-input#remove-criteria-status{type: 'button', onclick: 'clearSelectize("status-input")'}
  .form-group.search-item.hidden
    %label.content-label-sm Priority
    %input.form-control#priority-input.selectize{name: 'priority', list: 'priority-list', multiple: 'multiple', tabindex: '-1', data: 'webrep'}
    %datalist#priority-list
    %button.remove-input#remove-criteria-owner{type: 'button', onclick: 'clearSelectize("priority-input")'}
  .form-group.search-item.hidden
    %label.content-label-sm Suggested Disposition
    %input.form-control#disposition-input{name: 'disposition'}
    %button.remove-input#remove-criteria-disposition{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Resolution
    %input.form-control#resolution-input.selectize{name: 'resolution', list: 'resolution-list', multiple: 'multiple', tabindex: '-1', data: 'webrep'}
    %datalist#resolution-list
    %button.remove-input#remove-criteria-resolution{type: 'button', onclick: 'clearSelectize("resolution-input")'}
  .form-group.search-item.hidden
    #submission-type
      %label.content-label-sm Submission Type
      .radio-wrapper
        .ticket-radio-button-wrapper
          = advanced_search_form.check_box(:submission_type, {id: 'submission-type-w-cb', class: 'form-control', checked: 'checked'}, 'w')
          %label.content-label-sm{for: 'submission-type-w-cb'} Web Tickets (W)
        .ticket-radio-button-wrapper
          = advanced_search_form.check_box(:submission_type, {id: 'submission-type-e-cb', class: 'form-control', checked: 'checked'}, 'e')
          %label.content-label-sm{for: 'submission-type-e-cb'} Email Tickets (E)
        .ticket-radio-button-wrapper
          = advanced_search_form.check_box(:submission_type, {id: 'submission-type-ew-cb', class: 'form-control', checked: 'checked'}, 'ew')
          %label.content-label-sm{for: 'submission-type-ew-cb'} Email/Web Tickets (EW)
      %button.remove-input.remove-radio-input{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Submitter Type
    %input.form-control#submitter-input{name: 'submitter', list: 'submittertype-list'}
    %datalist#submittertype-list
    %button.remove-input#remove-criteria-submitter{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Contact Name
    %input.form-control#name-input{name: 'contact-name', list: 'contactname-list'}
    %datalist#contactname-list
    %button.remove-input#remove-criteria-contact-name{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Contact Email
    %input.form-control#email-input{name: 'contact-email', list: 'contactemail-list'}
    %datalist#contactemail-list
    %button.remove-input#remove-criteria-contact-email{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Submitter Org
    %input.form-control#company-input{name: 'company', list: 'company-list'}
    %datalist#company-list
    %button.remove-input#remove-criteria-company{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Submitter Domain
    %input.form-control#domain-input{name: 'domain'}
    %button.remove-input#remove-criteria-domain{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Platform
    %input.form-control.selectize#platform-input{name: 'platform', multiple: 'multiple', tabindex: '-1', data: 'webrep'}
    %button#remove-criteria-platform.remove-input{type: 'button', onclick: 'clearSelectize("platform-input")'}
  .form-group.search-item.hidden
    %label.content-label-sm Date Submitted (Newer)
    %input.form-control#submitted-newer-input{type: 'date', name: 'date-submitted-newer'}
    %button.remove-input#remove-criteria-submitted-newer{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Date Submitted (Older)
    %input.form-control#submitted-older-input{type: 'date', name: 'date-submitted-older'}
    %button.remove-input#remove-criteria-submitted-older{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Case Origin
    %input.form-control#case-origin-input{name: 'case-origin', list: 'case-origin-list'}
    %datalist#case-origin-list
    %button.remove-input#remove-criteria-case-origin{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Case Age (Newer) ex: 30d 12h
    %input.form-control#age-newer-input{name: 'age'}
    %button.remove-input#remove-criteria-age-newer{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Case Age (Older) ex: 7d 12h
    %input.form-control#age-older-input{name: 'age'}
    %button.remove-input#remove-criteria-age-older{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Last Modified (Newer)
    %input.form-control#modified-newer-input{type: 'date', name: 'date-modified-newer'}
    %button.remove-input#remove-criteria-modified-newer{type: 'button'}
  .form-group.search-item.hidden
    %label.content-label-sm Last Modified (Older)
    %input.form-control#modified-older-input{type: 'date', name: 'date-modified-older'}
    %button.remove-input#remove-criteria-modified-older{type: 'button'}

  %button#add-search-items-button{type: 'button'}
    Add Search Criteria
  #search-criteria-options
    .multicol-2
      %ul
        %li.hidden
          %label.search-criteria-label{for: 'caseid-cb'}
            Case IDs
          %input.search-checkbox#caseid-cb{type: 'checkbox', name: 'search-criteria', value: 'Case IDs', for: 'caseid-input'}
        %li.hidden
          %label.search-criteria-label{for: 'dispute-cb'}
            Dispute (URL/IP/Domain)
          %input.search-checkbox#dispute-cb{type: 'checkbox', name: 'search-criteria', value: 'Dispute (URL/IP/Domain)', for: 'dispute-input'}
        %li.hidden
          %label.search-criteria-label{for: 'owner-cb'}
            Assignee
          %input.search-checkbox#owner-cb{type: 'checkbox', name: 'search-criteria', value: 'Case Owner', for: 'owner-input'}
        %li.hidden
          %label.search-criteria-label{for: 'status-cb'}
            Status
          %input.search-checkbox#status-cb{type: 'checkbox', name: 'search-criteria', value: 'Status', for: 'status-input'}
        %li
          %label.search-criteria-label{for: 'priority-cb'}
            Priority
          %input.search-checkbox#priority-cb{type: 'checkbox', name: 'search-criteria', value: 'Priority', for: 'priority-input'}
        %li
          %label.search-criteria-label{for: 'disposition-cb'}
            Suggested Disposition
          %input.search-checkbox#disposition-cb{type: 'checkbox', name: 'search-criteria', value: 'Suggested Disposition', for: 'disposition-input'}
        %li
          %label.search-criteria-label{for: 'resolution-cb'}
            Resolution
          %input.search-checkbox#resolution-cb{type: 'checkbox', name: 'search-criteria', value: 'Resolution', for: 'resolution-input' }
        %li
          %label.search-criteria-label{for: 'submission-type-cb'}
            Submission Type
          %input.search-checkbox#submission-type-cb{type: 'checkbox', name: 'search-criteria', value: 'SubmissionType', for: 'submission-type'}
        %li
          %label.search-criteria-label{for: 'submitter-cb'}
            Submitter Type
          %input.search-checkbox#submitter-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Type', for: 'submitter-input'}
        %li
          %label.search-criteria-label{for: 'name-cb'}
            Contact Name
          %input.search-checkbox#name-cb{type: 'checkbox', name: 'search-criteria', value: 'Contact Name', for: 'name-input'}
        %li
          %label.search-criteria-label{for: 'email-cb'}
            Contact Email
          %input.search-checkbox#email-cb{type: 'checkbox', name: 'search-criteria', value: 'Contact Email', for: 'email-input'}
        %li
          %label.search-criteria-label{for: 'company-cb'}
            Submitter Org
          %input.search-checkbox#company-cb{type: 'checkbox', name: 'search-criteria', value: 'Company', for: 'company-input'}
        %li
          %label.search-criteria-label{for: 'domain-cb'}
            Submitter Domain
          %input.search-checkbox#domain-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Domain', for: 'domain-input'}
        %li
          %label.search-criteria-label{for: 'platform-cb'}
            Platform
          %input.search-checkbox#platform-cb{type: 'checkbox', name: 'search-criteria', value: 'Platform', for: 'platform-input'}
        %li
          %label.search-criteria-label{for: 'submitter-newer-cb'}
            Date Submitted (Newer)
          %input.search-checkbox#submitted-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Date Submitted (Newer)', for: 'submitted-newer-input'}
        %li
          %label.search-criteria-label{for: 'submitted-older-cb'}
            Date Submitted (Older)
          %input.search-checkbox#submitted-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Date Submitted (Older)', for: 'submitted-older-input'}
        %li
          %label.search-criteria-label{for: 'age-newer-cb'}
            Case Age (Newer)
          %input.search-checkbox#age-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Case Age', for: 'age-newer-input'}
        %li
          %label.search-criteria-label{for: 'age-older-cb'}
            Case Age (Older)
          %input.search-checkbox#age-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Case Age', for: 'age-older-input'}
        %li
          %label.search-criteria-label{for: 'case-origin-cb'}
            Case Origin
          %input.search-checkbox#case-origin-cb{type: 'checkbox', name: 'search-criteria', value: 'Case Origin', for: 'case-origin-input'}
        %li
          %label.search-criteria-label{for: 'modified-newer-cb'}
            Last Modified (Newer)
          %input.search-checkbox#modified-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Last Modified (Newer)', for: 'modified-newer-input'}
        %li
          %label.search-criteria-label{for: 'modified-older-cb'}
            Last Modified (Older)
          %input.search-checkbox#modified-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Last Modified (Older)', for: 'modified-older-input'}
    .form-group.text-center
      %button.tertiary#cancel-add-criteria{type: 'button'}
        Close

  %hr.thin
  .form-group
    %label.content-label-sm
      Add Name to save this search criteria to My Saved Searches
    %input.form-control#search_name{name: 'search_name', :type => 'text', :maxlength => '50'}
  .form-group.text-center
    %button.primary#submit-advanced-search{type: 'button', value: 'submit', onclick: 'advanced_webrep_index_table();'}
      Submit Search
    %button.secondary#reset-advanced-search.reset{type: 'button', onclick: 'webrep_reset_search()'}
      Reset Search


