-#%form#search-webrep-cases-form{method: 'get', 'accept-charset': 'UTF-8'}
-#=simple_form_for Dispute.new, url: escalations_webrep_disputes_path, class: 'escalations-search', method: :get do |dispute_form|
= form_for :advanced_search, html: {id: 'disputes-advanced-search-form'}, url: escalations_webrep_disputes_path, method: 'get', 'accept-charset': 'UTF-8' do |advanced_search_form|
  .form-group.search-item
    %label.content-label-sm Case IDs
    %input.form-control#caseid-input{name: 'case_id'}
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm Dispute (URL/IP/Domain)
    %input.form-control#dispute-input{name: 'ip_or_uri'}
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm Case Owner
    %input.form-control#owner-input{name: 'username', list: 'user-list'}
    %datalist#user-list
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm Status
    %input.form-control#status-input{name: 'status', list: 'status-list'}
    %datalist#status-list
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Priority
    %input.form-control#priority-input{name: 'priority'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Suggested Disposition
    %input.form-control#disposition-input{name: 'disposition'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Resolution
    %input.form-control#resolution-input{name: 'resolution', list: 'resolution-list'}
    %datalist#resolution-list
    %button.remove-input
  .form-group.search-item.hidden#submission-type
    %label.content-label-sm Submission Type
    .radio-wrapper
      .ticket-radio-button-wrapper
        = advanced_search_form.check_box(:submission_type, {id: 'submission-type-w-cb', class: 'form-control', checked: 'checked'}, 'w')
        %label.content-label-sm{for: 'submission-type-w-cb'} Web Tickets (W)
      .ticket-radio-button-wrapper
        = advanced_search_form.check_box(:submission_type, {id: 'submission-type-e-cb', class: 'form-control', checked: 'checked'}, 'e')
        %label.content-label-sm{for: 'submission-type-e-cb'} Email Tickets (E)
      .ticket-radio-button-wrapper
        = advanced_search_form.check_box(:submission_type, {id: 'submission-type-ew-cb', class: 'form-control', checked: 'checked'}, 'ew')
        %label.content-label-sm{for: 'submission-type-ew-cb'} Email/Web Tickets (EW)
    %button.remove-input.remove-radio-input
  .form-group.search-item.hidden
    %label.content-label-sm Submitter Type
    %input.form-control#submitter-input{name: 'submitter', list: 'submittertype-list'}
    %datalist#submittertype-list
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Contact Name
    %input.form-control#name-input{name: 'contact-name', list: 'contactname-list'}
    %datalist#contactname-list
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Contact Email
    %input.form-control#email-input{name: 'contact-email', list: 'contactemail-list'}
    %datalist#contactemail-list
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Company
    %input.form-control#company-input{name: 'company', list: 'company-list'}
    %datalist#company-list
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Submitter Domain
    %input.form-control#domain-input{name: 'domain'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Date Submitted (Newer)
    %input.form-control#submitted-newer-input{type: 'date', name: 'date-submitted-newer'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Date Submitted (Older)
    %input.form-control#submitted-older-input{type: 'date', name: 'date-submitted-older'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Case Age (Newer) ex: 30d 12h
    %input.form-control#age-newer-input{name: 'age'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Case Age (Older) ex: 7d 12h
    %input.form-control#age-older-input{name: 'age'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Last Modified (Newer)
    %input.form-control#modified-newer-input{type: 'date', name: 'date-modified-newer'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Last Modified (Older)
    %input.form-control#modified-older-input{type: 'date', name: 'date-modified-older'}
    %button.remove-input

  %button#add-search-items-button
    Add Search Criteria
  #search-criteria-options
    .multicol-2
      %ul
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#caseid-cb{type: 'checkbox', name: 'search-criteria', value: 'Case IDs', for: 'caseid-input'}
            Case IDs
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#dispute-cb{type: 'checkbox', name: 'search-criteria', value: 'Dispute (URL/IP/Domain)', for: 'dispute-input'}
            Dispute (URL/IP/Domain)
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#owner-cb{type: 'checkbox', name: 'search-criteria', value: 'Case Owner', for: 'owner-input'}
            Case Owner
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#status-cb{type: 'checkbox', name: 'search-criteria', value: 'Status', for: 'status-input'}
            Status
        %li
          %label.search-criteria-label
            %input.search-checkbox#priority-cb{type: 'checkbox', name: 'search-criteria', value: 'Priority', for: 'priority-input'}
            Priority
        %li
          %label.search-criteria-label
            %input.search-checkbox#disposition-cb{type: 'checkbox', name: 'search-criteria', value: 'Suggested Disposition', for: 'disposition-input'}
            Suggested Disposition
        %li
          %label.search-criteria-label
            %input.search-checkbox#resolution-cb{type: 'checkbox', name: 'search-criteria', value: 'Resolution', for: 'resolution-input' }
            Resolution
        %li
          %label.search-criteria-label
            %input.search-checkbox#submission-type-cb{type: 'checkbox', name: 'search-criteria', value: 'SubmissionType', for: 'submission-type'}
            Submission Type
        %li
          %label.search-criteria-label
            %input.search-checkbox#submitter-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Type', for: 'submitter-input'}
            Submitter Type
        %li
          %label.search-criteria-label
            %input.search-checkbox#name-cb{type: 'checkbox', name: 'search-criteria', value: 'Contact Name', for: 'name-input'}
            Contact Name
        %li
          %label.search-criteria-label
            %input.search-checkbox#email-cb{type: 'checkbox', name: 'search-criteria', value: 'Contact Email', for: 'email-input'}
            Contact Email
        %li
          %label.search-criteria-label
            %input.search-checkbox#company-cb{type: 'checkbox', name: 'search-criteria', value: 'Company', for: 'company-input'}
            Company
        %li
          %label.search-criteria-label
            %input.search-checkbox#domain-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Domain', for: 'domain-input'}
            Submitter Domain
        %li
          %label.search-criteria-label
            %input.search-checkbox#submitted-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Date Submitted (Newer)', for: 'submitted-newer-input'}
            Date Submitted (Newer)
        %li
          %label.search-criteria-label
            %input.search-checkbox#submitted-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Date Submitted (Older)', for: 'submitted-older-input'}
            Date Submitted (Older)
        %li
          %label.search-criteria-label
            %input.search-checkbox#age-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Case Age', for: 'age-newer-input'}
            Case Age (Newer)
        %li
          %label.search-criteria-label
            %input.search-checkbox#age-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Case Age', for: 'age-older-input'}
            Case Age (Older)
        %li
          %label.search-criteria-label
            %input.search-checkbox#modified-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Last Modified (Newer)', for: 'modified-newer-input'}
            Last Modified (Newer)
        %li
          %label.search-criteria-label
            %input.search-checkbox#modified-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Last Modified (Older)', for: 'modified-older-input'}
            Last Modified (Older)
    .form-group.text-center
      %button.primary#add-search-criteria
        Add Search Criteria
      %button.tertiary#cancel-add-criteria
        Cancel

  %hr.thin
  .form-group
    %label.content-label-sm
      Add Name to save this search criteria to My Saved Searches
    %input.form-control#search_name{name: 'search_name'}
  .form-group.text-center
    %button.primary#submit-advanced-search{type: 'button', value: 'submit', onclick: 'advanced_webrep_index_table();'}
      Submit Search
    %button.secondary#reset-advanced-search.reset{type: 'button', onclick: 'webrep_reset_search()'}
      Reset Search


-#= simple_form_for Dispute.new, url: escalations_webrep_disputes_path, class: 'escalations-search', method: :get do |dispute_form|
-#  = dispute_form.input :search_type, as: :hidden, input_html: {value: 'advanced'}
-#  = dispute_form.input :customer_name
-#  = dispute_form.input :customer_email
-#  = dispute_form.input :customer_company_name
-#  = dispute_form.input :status
-#  = dispute_form.input :resolution
-#  = dispute_form.input :subject
-#  = dispute_form.input :search_name, input_html: {value: ''}
-#  = dispute_form.submit 'Search'

