%form#search-webrep-cases-form{method: 'get', 'accept-charset': 'UTF-8'}
  .form-group.search-item
    %label.content-label-sm
      Case IDs
    %input.form-control
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm
      Dispute (URL/IP/Domain)
    %input.form-control
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm
      Case Owner
    %input.form-control
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm
      Status
    %input.form-control{name: 'dispute[status]'}
    %button.remove-input
  %button#add-search-items-button
    Add Search Criteria
  #search-criteria-options
    .multicol-2
      %ul
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#caseid-cb{type: 'checkbox', name: 'search-criteria', value: 'Case IDs'}
            Case IDs
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#dispute-cb{type: 'checkbox', name: 'search-criteria', value: 'Dispute (URL/IP/Domain)'}
            Dispute (URL/IP/Domain)
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#owner-cb{type: 'checkbox', name: 'search-criteria', value: 'Case Owner'}
            Case Owner
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#status-cb{type: 'checkbox', name: 'search-criteria', value: 'Status'}
            Status
        %li
          %label.search-criteria-label
            %input.search-checkbox#priority-cb{type: 'checkbox', name: 'search-criteria', value: 'Priority'}
            Priority
        %li
          %label.search-criteria-label
            %input.search-checkbox#disposition-cb{type: 'checkbox', name: 'search-criteria', value: 'Suggested Disposition'}
            Suggested Disposition
        %li
          %label.search-criteria-label
            %input.search-checkbox#regex-cb{type: 'checkbox', name: 'search-criteria', value: 'URL Regex'}
            URL Regex
        %li
          %label.search-criteria-label
            %input.search-checkbox#resolution-cb{type: 'checkbox', name: 'search-criteria', value: 'Resolution'}
            Resolution
        %li
          %label.search-criteria-label
            %input.search-checkbox#dispute-type-cb{type: 'checkbox', name: 'search-criteria', value: 'Dispute Type'}
            Dispute Type
        %li
          %label.search-criteria-label
            %input.search-checkbox#origin-cb{type: 'checkbox', name: 'search-criteria', value: 'Origin'}
            Origin
        %li
          %label.search-criteria-label
            %input.search-checkbox#origin-id-cb{type: 'checkbox', name: 'search-criteria', value: 'Origin ID'}
            Origin ID
        %li
          %label.search-criteria-label
            %input.search-checkbox#submitter-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Type'}
            Submitter Type
        %li
          %label.search-criteria-label
            %input.search-checkbox#name-cb{type: 'checkbox', name: 'search-criteria', value: 'Contact Name'}
            Contact Name
        %li
          %label.search-criteria-label
            %input.search-checkbox#email-cb{type: 'checkbox', name: 'search-criteria', value: 'Contact Email'}
            Contact Email
        %li
          %label.search-criteria-label
            %input.search-checkbox#company-cb{type: 'checkbox', name: 'search-criteria', value: 'Company'}
            Company
        %li
          %label.search-criteria-label
            %input.search-checkbox#domain-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Domain'}
            Submitter Domain
        %li
          %label.search-criteria-label
            %input.search-checkbox#submitted-cb{type: 'checkbox', name: 'search-criteria', value: 'Date Submitted'}
            Date Submitted
        %li
          %label.search-criteria-label
            %input.search-checkbox#age-cb{type: 'checkbox', name: 'search-criteria', value: 'Case Age'}
            Case Age
        %li
          %label.search-criteria-label
            %input.search-checkbox#modified-cb{type: 'checkbox', name: 'search-criteria', value: 'Last Modified'}
            Last Modified
    .form-group.text-center
      %button.primary#add-search-criteria
        Add Search Criteria
      %button.tertiary#cancel-add-criteria
        Cancel

  %hr.thin
  .form-group
    %label.content-label-sm
      Add Name to save this search criteria to My Saved Searches
    %input.form-control{name: 'dispute[status]'}
  .form-group.text-center
    %button.primary#submit-advanced-search{value: 'submit'}
      Submit Search
    %button.secondary#reset-advanced-search.reset
      Reset Search


-#= simple_form_for Dispute.new, url: escalations_webrep_disputes_path, class: 'escalations-search', method: :get do |dispute_form|
-#  = dispute_form.input :search_type, as: :hidden, input_html: {value: 'advanced'}
-#  = dispute_form.input :customer_name
-#  = dispute_form.input :customer_email
-#  = dispute_form.input :customer_company_name
-#  = dispute_form.input :status
-#  = dispute_form.input :resolution
-#  = dispute_form.input :subject
-#  = dispute_form.input :search_name, input_html: {value: ''}
-#  = dispute_form.submit 'Search'

