.toolbar
  %div
    %label.toolbar-section-label
      Table View
    %button.toolbar-button{title: 'Show/Hide Columns'}
      %span.toolbar-button-text
        Show/Hide Columns
    %button.toolbar-button{title: 'Expand All Rows'}
      %span.toolbar-button-text
        Expand All Rows
  %div
    %label.toolbar-section-label
      Edit Ticket
    %button.toolbar-button{title: 'Edit Ticket Status'}
      %span.toolbar-button-text
        Edit Ticket Status
    %button.toolbar-button{title: 'Change Assignee'}
      %span.toolbar-button-text
        Change Assignee
    %button.toolbar-button{title: 'Mark as Duplicate'}
      %span.toolbar-button-text
        Mark as Duplicate
  %div
    %label.toolbar-section-label
      Edit Dispute Entry
    %button.toolbar-button{title: 'Edit Ticket Status'}
      %span.toolbar-button-text
        Edit Entry Status
    %button.toolbar-button{title: 'Change Assignee'}
      %span.toolbar-button-text
        Adjust WL/BL
    %button.toolbar-button{title: 'Mark as Duplicate'}
      %span.toolbar-button-text
        Adjust RepTool BL
  %div
    %label.toolbar-section-label
      File
    %button.toolbar-button{title: 'Export to CSV'}
      %span.toolbar-button-text
        Export to CSV
