<table id="my-disputes" class="table responsive no-wrap">
  <!--
  <thead>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th>STATUS</th>
  <th>DISPUTE</th>
  <th>OWNER</th>
  <th>TIME SUBMITTED</th>
  <th>AGE</th>
  <th>SUGGESTED DISPOSITION</th>
  <th>ORIGIN</th>
  <th>ORIGIN ID</th>
  <th>SUBMITTER ORG</th>
  <th>SUBMITTER DOMAIN</th>
  <th>WBRS SCORE</th>
  <th>WBRS RULE HITS</th>
  <th>MALWARE PROBABILITY</th>
  </thead>

  columns:
    [ checkbox ] | [ type     ] | [ case number ] | [ suggested disposition ]
                 | [ priority ] | [ age         ] | [ submitter domain ]
  -->
  <thead>
    <tr>
      <td><input type="checkbox" /></td>
      <td>&nbsp;</td>
      <td>SORT BY</td>
      <td>
        <select>
          <option value="tage">Ticket Age</option>
        </select>
      </td>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
