<table id="my-disputes" class="table responsive no-wrap">
  <!--
  columns:
    [ checkbox ] | [ type     ] | [ case number ] | [ suggested disposition ]
                 | [ priority ] | [ age         ] | [ submitter domain ]
  -->
  <thead>
    <tr>
      <td><input type="checkbox" /></td>
      <td>&nbsp;</td>
      <td>SORT BY</td>
      <td>
        <select>
          <option value="tage">Ticket Age</option>
        </select>
      </td>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
