<div>
  <div style="float: left;">
    <div style="float: left; padding: 0px 5px; border: 1px solid black;">
      <div>
        <a class="filter-toggle">FILTER</a>
      </div>
      <div id="filter-pane" style="display: none; position: absolute; z-index: 9999;">
        <div style="margin: 0px; padding: 0px; border: 1px solid orange; background-color: white;">
          <%= render 'escalations/webrep/disputes/filter_menu' %>
        </div>
      </div>
    </div>
    <div style="float: left; padding: 0px 5px; border: 1px solid black;">
      <a> &#8615; IMPORT</a>
    </div>
    <div style="float: left; padding: 0px 5px; border: 1px solid black;">
      <div style="float: left;">
        <input type="text" style="height: 25px;">
      </div>
      <div style="float: left;">
        <a class="advanced-toggle">ADVANCED</a>
      </div>
      <div id="advanced-pane" style="display: none; position: absolute; z-index: 9999;">
        <div style="margin: 0px; padding: 0px; border: 1px solid orange; background-color: white;">
          <%= render 'escalations/webrep/disputes/advanced_search' %>
        </div>
      </div>
    </div>
  </div>
</div>
