%form#new-complaint-form{method: 'get', 'accept-charset': 'UTF-8'}

  .form-group
    %input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
    %input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
    %input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}

  .form-group
    %label.content-label-sm URLs/IP Addresses
    %textarea#ips_urls{required: true}
  .form-group
    %label.content-label-sm Assignee
    %input.form-control#owner-input{name: 'username', list: 'assignee-list'}
    %datalist#assignee-list
  .form-group
    %label.content-label-sm Priority
    %input.form-control#priority{name: 'priority'}
  .form-group
    %label.content-label-sm Ticket Type
    %input.form-control#ticket_type{list: 'customerList'}
      %datalist#customerList

  %hr.thin
  .form-group.text-center
    %button.primary{value: 'submit', type: 'submit'}
      Create
    %button.secondary#cancel_complaint{type: 'button'}
      Cancel
