%form#new-dispute-form{method: 'get', 'accept-charset': 'UTF-8'}

  .form-group
    %input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
    %input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
    %input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}

  .form-group
    %label.content-label-sm URLs/IP Addresses
    %textarea#ips_urls{required: true}
  .form-group
    %label.content-label-sm Assignee
    %input.form-control#assignee{name: 'assignee', list: 'assignee-list', required: true}
    %datalist#assignee-list
  .form-group
    %label.content-label-sm Priority
  .form-group
    %select#priority.content-label-md
      %option P1
      %option P2
      %option{:selected => 'selected'} P3
      %option P4
      %option P5
  .form-group
    %label.content-label-sm Ticket Type
  .form-group
    %select#ticket_type.content-label-md#ticket-type-dropdown
      %option{:selected => 'selected'} Web
      %option Email
      %option Email & Web

  %hr.thin
  .form-group.text-center
    %button.primary{value: 'submit', type: 'submit'}
      Create
    %button.secondary#cancel_dispute{type: 'button'}
      Cancel
