#reputation-history-dialog{title: 'Observable File History'}
  %table#reputation-history-dialog-table.table.table-striped
    %thead
      %tr
        %th Timestamp
        %th WBRS Score
        %th SBRS Score
        %th Threat Categories
        %th Rule Hits
        %th Multi IP Score
        %th Multi Rule Hits
        %th Multi Threat Categories
    %tbody
