#reputation-history-dialog{title: 'Observable File History'}
  %table#reputation-history-dialog-table.table.table-striped
    %thead
      %tr
        %th Timestamp
        %th WBRS
        %th SBRS
        %th Threat Categories
    %tbody
