  <div class="row">
    <div class="col-xs-4">
      <h1>Research Data</h1>
    </div>
    <div class="col-xs-3">
      Data View
      <div>
        TABLE VIEW / BLOCK VIEW
<!--        TODO: wire up the javascript here-->
      </div>
    </div>
    <div class="col-xs-5">
      Table View
      <div>
        SHOW/HIDE COLUMNS / COLLAPSE ROWS
<!--        TODO: Wire up the javascript for these too-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Dispute</th>
            <th>Category</th>
            <th class="text-center">Original WBRS Score</th>
            <th class="text-center wbrs-highlight">Current WBRS Score</th>
            <th class="text-center">WBRS Rule Hits Total</th>
            <th class="text-center sbrs-highlight">SBRS Score</th>
            <th class="text-center">SBRS Rule Hits Total</th>
            <th>WL/BL Entries</th>
            <th><!-- Edit buttons area --></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>paragon-downloads.com</td>
            <td>Computer and Internet</td>
            <td class="text-center">5.6</td>
            <td class="text-center wbrs-highlight">8.7</td>
            <td class="text-center">6</td>
            <td class="text-center sbrs-highlight">8.65</td>
            <td class="text-center">0</td>
            <td>WL - Medium</td>
            <td></td>
          </tr>
          <tr class="nested-data-row">
            <td colspan="3">
              <table class="table-nested-reputation">
                <tr>
                  <th>Category</th>
                  <td>Computers & Technology</td>
                </tr>
                <tr>
                  <th>Hostname</th>
                  <td>dsl247.tek.advisor.com</td>
                </tr>
                <tr>
                  <th>WBRS Rules</th>
                  <td>
                    <table class="table-nested-rep-rules">
                      <tr>
                        <th>Rule</th>
                        <th>Rule Description</th>
                        <th class="text-center">Malware Probability</th>
                      </tr>
                      <tr>
                        <td class="emphasis">vsvd</td>
                        <td>Verisign Verified Domains</td>
                        <td class="text-center data-small-emphasis">24.86%</td>
                      </tr>
                      <tr>
                        <td class="emphasis">wlh</td>
                        <td>Heavy-weight manual whitelist</td>
                        <td class="text-center data-small-emphasis">2.5%</td>
                      </tr>
                      <tr>
                        <td class="emphasis">wlm</td>
                        <td>Medium-weight manual whitelist</td>
                        <td class="text-center data-small-emphasis">22.50%</td>
                      </tr>
                      <tr>
                        <td class="emphasis">wuwl</td>
                        <td>SURBL Whitelist</td>
                        <td class="text-center data-small-emphasis">23.13%</td>
                      </tr>
                      <tr>
                        <td class="emphasis">tuse</td>
                        <td>TRUSTe Site Seal</td>
                        <td class="text-center data-small-emphasis">34.78%</td>
                      </tr>
                      <tr>
                        <td class="emphasis">alx_chn</td>
                        <td>Clean URIs from Alexa top 1 million list</td>
                        <td class="text-center warning-emphasis">65.00%</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <th>SBRS Rules</th>
                  <td>
                    <table class="table-nested-rep-rules">
                      <tr>
                        <th>Rule</th>
                        <th>Rule Description</th>
                        <th class="text-center">Malware Probability</th>
                      </tr>
                      <tr>
                        <td class="emphasis">wlm</td>
                        <td>Medium-weight manual whitelist</td>
                        <td class="text-center data-small-emphasis">22.50%</td>
                      </tr>
                      <tr>
                        <td class="emphasis">wuwl</td>
                        <td>SURBL Whitelist</td>
                        <td class="text-center data-small-emphasis">23.13%</td>
                      </tr>
                      <tr>
                        <td class="emphasis">tuse</td>
                        <td>TRUSTe Site Seal</td>
                        <td class="text-center data-small-emphasis">34.78%</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td colspan="5">
              <h2>Cross-listed URLs</h2>
              <table class="table table-sm">
                <tr>
                  <th>ID</th>
                  <th>URL</th>
                  <th>List Type</th>
                  <th>Original Score</th>
                  <th>Current Score</th>
                  <th>Username</th>
                  <th>Last Update</th>
                  <th>Created</th>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>

              </table>

              <h2>XBRS Hits</h2>
              <table class="table table-sm">
                <tr>
                  <th>Domain</th>
                  <th>Subdomain</th>
                  <th>Path</th>
                  <th>XBRS Rule ID</th>
                  <th>XBRS Mnemonic</th>
                  <th>WBRS Rules</th>
                  <th>Last Update</th>
                  <th>Created</th>
                </tr>
                <tr>
                  <td>paragon-downloads.com</td>
                  <td></td>
                  <td>/k</td>
                  <td>456</td>
                  <td>truste_domains</td>
                  <td>tuse</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>paragon-downloads.com</td>
            <td>Computer and Internet</td>
            <td>5.6</td>
            <td>8.7</td>
            <td>6</td>
            <td>8.65</td>
            <td>0</td>
            <td>WL - Medium</td>
          </tr>
          <tr>
            <td colspan="3">
              Category: Computers & Technology<br />
              Hostname: dsl247.tek.advisor.com<br />
              WBRS Rules:<br />
              <table class="table table-sm">
                <tr>
                  <th>Rule</th>
                  <th>Rule Description</th>
                  <th>Malware Probability</th>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>

              </table>
            </td>
            <td colspan="5">
              <h2>Cross-listed URLs</h2>
              <table class="table table-sm">
                <tr>
                  <th>ID</th>
                  <th>URL</th>
                  <th>List Type</th>
                  <th>Original Score</th>
                  <th>Current Score</th>
                  <th>Username</th>
                  <th>Last Update</th>
                  <th>Created</th>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>

              </table>

              <h2>XBRS Hits</h2>
              <table class="table table-sm">
                <tr>
                  <th>Domain</th>
                  <th>Subdomain</th>
                  <th>Path</th>
                  <th>XBRS Rule ID</th>
                  <th>XBRS Mnemonic</th>
                  <th>WBRS Rules</th>
                  <th>Last Update</th>
                  <th>Created</th>
                </tr>
                <tr>
                  <td>paragon-downloads.com</td>
                  <td></td>
                  <td>/k</td>
                  <td>456</td>
                  <td>truste_domains</td>
                  <td>tuse</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>paragon-downloads.com</td>
            <td>Computer and Internet</td>
            <td>5.6</td>
            <td>8.7</td>
            <td>6</td>
            <td>8.65</td>
            <td>0</td>
            <td>WL - Medium</td>
          </tr>
          <tr>
            <td colspan="3">
              Category: Computers & Technology<br />
              Hostname: dsl247.tek.advisor.com<br />
              WBRS Rules:<br />
              <table class="table table-sm">
                <tr>
                  <th>Rule</th>
                  <th>Rule Description</th>
                  <th>Malware Probability</th>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>

              </table>
            </td>
            <td colspan="5">
              <h2>Cross-listed URLs</h2>
              <table class="table table-sm">
                <tr>
                  <th>ID</th>
                  <th>URL</th>
                  <th>List Type</th>
                  <th>Original Score</th>
                  <th>Current Score</th>
                  <th>Username</th>
                  <th>Last Update</th>
                  <th>Created</th>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>

              </table>

              <h2>XBRS Hits</h2>
              <table class="table table-sm">
                <tr>
                  <th>Domain</th>
                  <th>Subdomain</th>
                  <th>Path</th>
                  <th>XBRS Rule ID</th>
                  <th>XBRS Mnemonic</th>
                  <th>WBRS Rules</th>
                  <th>Last Update</th>
                  <th>Created</th>
                </tr>
                <tr>
                  <td>paragon-downloads.com</td>
                  <td></td>
                  <td>/k</td>
                  <td>456</td>
                  <td>truste_domains</td>
                  <td>tuse</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>paragon-downloads.com</td>
            <td>Computer and Internet</td>
            <td>5.6</td>
            <td>8.7</td>
            <td>6</td>
            <td>8.65</td>
            <td>0</td>
            <td>WL - Medium</td>
          </tr>
          <tr>
            <td colspan="3">
              Category: Computers & Technology<br />
              Hostname: dsl247.tek.advisor.com<br />
              WBRS Rules:<br />
              <table class="table table-sm">
                <tr>
                  <th>Rule</th>
                  <th>Rule Description</th>
                  <th>Malware Probability</th>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>
                <tr>
                  <td><strong>vsvd</strong></td>
                  <td><strong>Verisign Verified Domains</strong></td>
                  <td><strong>24.86%</strong></td>
                </tr>

              </table>
            </td>
            <td colspan="5">
              <h2>Cross-listed URLs</h2>
              <table class="table table-sm">
                <tr>
                  <th>ID</th>
                  <th>URL</th>
                  <th>List Type</th>
                  <th>Original Score</th>
                  <th>Current Score</th>
                  <th>Username</th>
                  <th>Last Update</th>
                  <th>Created</th>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
                <tr>
                  <td>138850</td>
                  <td>paragon-downloads.com/k</td>
                  <td>WL-med</td>
                  <td>5.6</td>
                  <td>8.7000</td>
                  <td>jgrandia</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>

              </table>

              <h2>XBRS Hits</h2>
              <table class="table table-sm">
                <tr>
                  <th>Domain</th>
                  <th>Subdomain</th>
                  <th>Path</th>
                  <th>XBRS Rule ID</th>
                  <th>XBRS Mnemonic</th>
                  <th>WBRS Rules</th>
                  <th>Last Update</th>
                  <th>Created</th>
                </tr>
                <tr>
                  <td>paragon-downloads.com</td>
                  <td></td>
                  <td>/k</td>
                  <td>456</td>
                  <td>truste_domains</td>
                  <td>tuse</td>
                  <td>2014-10-13 15:14:08</td>
                  <td>2014-10-13 15:14:08</td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>

        
      </table>
    </div>
  </div>
