%ul
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: 'FIXED_FP', value: 'FIXED_FP'}
    %label.ticket-res-radio-label.radio-label{for: 'FIXED_FP'} Fixed - FP
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: 'FIXED_FN', value: 'FIXED_FN'}
    %label.ticket-res-radio-label.radio-label{for: 'FIXED_FN'} Fixed - FN
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: 'UNCHANGED', value: 'UNCHANGED'}
    %label.ticket-res-radio-label.radio-label{for: 'UNCHANGED'} Unchanged
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: 'INVALID', value: 'INVALID'}
    %label.ticket-res-radio-label.radio-label{for: 'INVALID'} Invalid / Junk Mail
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: 'TEST_TRAINING', value: 'TEST_TRAINING'}
    %label.ticket-res-radio-label.radio-label{for: 'TEST_TRAINING'} Test / Training
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: 'OTHER', value: 'OTHER'}
    %label.ticket-res-radio-label.radio-label{for: 'OTHER'} Other