.row
  .col-xl-6.col-lg-7.col-xs-12.dashboard-tickets-wrapper
    %h1.dashboard-header My Tickets
    .toolbar
      %div
        %label.toolbar-section-label
          Show Tickets by Submitter
        %span.toolbar-select-wrapper
          %label.toolbar-button-label.icon-custom-star.esc-tooltipped{for:'tickets-show-customer-cb', title: 'Customer Tickets'}
            %input#tickets-show-customer-cb.tickets-show-customer-cb.toolbar-checkbox.show-tickets-cb{type: 'checkbox', checked: 'checked'}
            %span.toolbar-button-text
              Customer Tickets
          %label.toolbar-button-label.icon-guest-user.esc-tooltipped{for:'tickets-show-guest-cb', title: 'Guest Tickets'}
            %input#tickets-show-guest-cb.tickets-show-guest-cb.toolbar-checkbox.show-tickets-cb{type: 'checkbox', checked: 'checked'}
            %span.toolbar-button-text
              Guest Tickets
      %div
        %label.toolbar-section-label
          Show Tickets by Type
        %span.toolbar-select-wrapper
          %label.toolbar-button-label.dispute-E-grey.esc-tooltipped{for:'tickets-show-email-cb', title: 'Email Tickets'}
            %input#tickets-show-email-cb.tickets-show-email-cb.toolbar-checkbox.show-tickets-cb{type: 'checkbox', checked: 'checked'}
            %span.toolbar-button-text
              Email Tickets
          %label.toolbar-button-label.dispute-W-grey.esc-tooltipped{for:'tickets-show-web-cb', title: 'Web Tickets'}
            %input#tickets-show-web-cb.tickets-show-web-cb.toolbar-checkbox.show-tickets-cb{type: 'checkbox', checked: 'checked'}
            %span.toolbar-button-text
              Web Tickets
          %label.toolbar-button-label.dispute-EW-grey.esc-tooltipped{for:'tickets-show-email-web-cb', title: 'Email / Web Tickets'}
            %input#tickets-show-email-web-cb.tickets-show-email-web-cb.toolbar-checkbox.show-tickets-cb{type: 'checkbox', checked: 'checked'}
            %span.toolbar-button-text
              Email / Web Tickets

    .tickets-section-wrapper.open-tickets-wrapper
      .open-tickets-header
        -# TODO if selected tab is current user show 'My Open Tickets' in header, otherwise show 'username's Open Tickets'
        %h3.larger-lighter
          My Open Tickets
        .ticket-count-wrapper
          %label#open_single_ticket_count.total-table-ticket-count.esc-tooltipped{title: 'Total Open Tickets'}
          %label#open_single_entry_count.total-table-entry-count.esc-tooltipped{title: 'Total Open Ticket Entries'}
      %table.table.responsive.dashboard-tickets-table#table-user-disputes-open
        %thead
          %tr
            %th.esc-tooltipped{title: 'Priority'}
              -#  priority
            %th Case ID
            %th.esc-tooltipped{title: 'Submitter Type'}
              -#  Submitter type
            %th Status
            %th.esc-tooltipped{title: 'Ticket Type'}
              -#  Ticket type
            %th Dispute Preview
            %th Last Email Date

      .ticket-entries-totals-wrapper
        %label.totals-label
          Total Ticket Entries
        .ticket-entry-total-block
          %label.content-label-sm.submitter-customer
            Customer
          %span#open_single_customer_count.ticket-entry-total
        .ticket-entry-total-block.guest-block-total
          %label.content-label-sm
            Guest
          %span#open_single_guest_count.ticket-entry-total
        .ticket-entry-total-block
          %label.content-label-sm.dispute-E-grey
            Email Entries
          %span#open_single_email_count.ticket-entry-total
        .ticket-entry-total-block
          %label.content-label-sm.dispute-W-grey
            Web Entries
          %span#open_single_web_count.ticket-entry-total
        .ticket-entry-total-block
          %label.content-label-sm.dispute-EW-grey
            Email/Web Entries
          %span#open_single_email_web_count.ticket-entry-total


    .tickets-section-wrapper.closed-tickets-wrapper
      .closed-tickets-header
        %h3.larger-lighter My Closed Tickets
        .ticket-count-wrapper
          %label#closed_single_ticket_count.total-table-ticket-count.esc-tooltipped{title: 'Total Closed Tickets'}
          %label#closed_single_entry_count.total-table-entry-count.esc-tooltipped{title: 'Total Closed Ticket Entries'}
      %table.table.responsive.dashboard-tickets-table#table-user-disputes-closed
        %thead
          %tr
            %th.esc-tooltipped{title: 'Priority'}
              -#    priority
            %th Case ID
            %th.esc-tooltipped{title: 'Submitter Type'}
              -#  Submitter type
            %th.esc-tooltipped{title: 'Ticket Type'}
              -#  Ticket type
            %th Dispute Preview
            %th Time to Close
            %th Total Email Count

      .ticket-entries-totals-wrapper
        %label.totals-label
          Total Ticket Entries
        .ticket-entry-total-block
          %label.content-label-sm.submitter-customer
            Customer
          %span#closed_single_customer_count.ticket-entry-total
        .ticket-entry-total-block.guest-block-total
          %label.content-label-sm
            Guest
          %span#closed_single_guest_count.ticket-entry-total
        .ticket-entry-total-block
          %label.content-label-sm.dispute-E-grey
            Email Entries
          %span#closed_single_email_count.ticket-entry-total
        .ticket-entry-total-block
          %label.content-label-sm.dispute-W-grey
            Web Entries
          %span#closed_single_web_count.ticket-entry-total
        .ticket-entry-total-block
          %label.content-label-sm.dispute-EW-grey
            Email/Web Entries
          %span#closed_single_email_web_count.ticket-entry-total


  .col-xl-6.col-lg-5.col-xs-12.graph-section
    .row
      .col-md-12
        .reports-graph-info-container
          %h5 Total Ticket Entries Closed
          .graph-config
            -# TODO Hook this up
            -#%label.content-label-sm.graph-select-label Time Breakdown
            -#%select.form-control
            -#  %option{:selected => "selected", :value => "day"} By Day
            -#  %option{:value => "weekly"} By Week
            -#  %option{:value => "monthly"} By Month
            -#  %option{:value => "yearly"} By Year

            .graph-menu
              .label-wrapper
                %input.all-ticket{:type => "checkbox", :checked => "checked", :onclick => 'updateGraph(["Total Ticket Entries"], "userTicketClosedGraph", this)', autocomplete: 'off'}/
                %label.total-legend
                Total Tickets Entries

              .label-wrapper
                %input.group-ticket{:type => "checkbox", :checked => "checked", :onclick => 'updateGraph(["E", "W", "EW"], "userTicketClosedGraph", this)', autocomplete: 'off'}/
                %label.dispute-E.legend-option
                %label.dispute-W.legend-option
                %label.dispute-EW.legend-option
                Entries By Ticket Types
          .reports-graph-wrapper.graph-with-small-menu
            %canvas#graph-ticket-entries-closed

        .reports-graph-info-container
          %h5 Time to Close Tickets
          .reports-graph-wrapper
            %canvas#time-to-close-tickets-linechart

        .reports-graph-info-container
          %h5 Ticket Submitted by Submitter Type
          .graph-config
            -# TODO Hook this up
            -#%label.content-label-sm.graph-select-label Time Breakdown
            -#%select.form-control
            -#  %option{:selected => "selected", :value => ""} By Day
            -#  %option{:value => ""} Weekly
            -#  %option{:value => ""} Monthly
            -#  %option{:value => ""} Yearly
            .graph-bar-legend
              %label.skyblue-legend-color.graph-legend-circle Customer
              %label.orange-legend-color.graph-legend-circle Guest
          .reports-graph-wrapper
            %canvas#graph-ticket-entries-submitter


      .col-md-12.graph-section
        .reports-graph-info-container
          %h5.dispute-E-grey.graph-header-icon-stg Closed Email Entries by Resolution
          .reports-graph-wrapper.pie-graph-wrapper
            %canvas#closed-email-entries-resolution-piechart
          %table.table#closed-email-entries-resolution-table
            %thead
              %tr
                %th Resolution
                %th.text-center %
                %th.text-center Count
            %tbody

        .reports-graph-info-container
          %h5.dispute-W-grey.graph-header-icon-stg Closed Web Entries by Resolution
          .reports-graph-wrapper.pie-graph-wrapper
            %canvas#closed-web-entries-resolution-piechart
          %table.table#closed-web-entries-resolution-table
            %thead
              %tr
                %th Resolution
                %th.text-center %
                %th.text-center Count
            %tbody
