.row
  .col-sm-12
    %h1 Context Tags

    %h2 Tag Management Interface

    .toolbar.tags-toolbar
      %div
        %label.toolbar-section-label Show
        %button.toolbar-button.show-col-tags-button
          %span.toolbar-button-text Show/Hide Columns

      %div
        %label.toolbar-section-label View
        %span.tags-toggle.suppressed-tags-toggle
          %input.cb-suppressed-tags{type:'checkbox', checked: true}
          %span.toggle-label Suppressed Tags
        %span.tags-toggle.unsuppressed-tags-toggle
          %input.cb-suppressed-tags{type:'checkbox', checked: true}
          %span.toggle-label Unsuppressed Tags

      %div
        %label.toolbar-section-label Actions
        %button.toolbar-button.add-tag-button
          %span.toolbar-button-text Add Tag
        %button.toolbar-button.suppress-tag-button
          %span.toolbar-button-text Suppress Tag
        %button.toolbar-button.unsuppress-tag-button
          %span.toolbar-button-text Unsuppress Tag
        %button.toolbar-button.remove-tag-button
          %span.toolbar-button-text Remove Tag

    -# tag management interface datatable
    %table
      %tr
        %td data
        %td data
        %td data
        %td data

    -# enrichment datatable for this dispute (moved from research tab)
    %h2 Enrichment Service
    %table
      %tr
        %td data
        %td data
        %td data
        %td data

    -# prevalence datatable for this dispute (moved from research tab
    %h2 Prevalence
    %table
      %tr
        %td data
        %td data
        %td data
        %td data


    -# LEGACY ENRICHMENT, KEEP FOR REFERENCE. DELETE WHEN SAFE.
    -#.entry-details-table.enrich-details-table{'data-entry-id': ""}
    -#  %h5.entry-details-table-header Enrichment
    -#  %table.hidden.enrich-webrep-table-data-present
    -#    %thead
    -#      %tr
    -#        %th Context
    -#        %th Taxonomy
    -#        %th Name
    -#        %th Description
    -#        %th.enrich-webrep-external-ref-header External References
    -#    %tbody
    -#      %tr
    -#  %table.enrich-webrep-table-data-missing
    -#    %tbody
    -#      %tr
    -#        %td.missing-data No enrichment services data

    -# LEGACY PREVALENCE, KEEP FOR REFERENCE. DELETE WHEN SAFE.
    -#.entry-details-table.prevalence-details-table{'data-entry-id': ""}
    -#  %h5.entry-details-table-header Prevalence
    -#  %table.prevalence-webrep-table-data-present.hidden
    -#    %thead
    -#      %tr
    -#        %th Dataset
    -#        %th Count
    -#        %th First Seen
    -#        %th Last Seen
    -#    %tbody
    -#  %table.prevalence-webrep-table-data-missing
    -#    %tbody
    -#      %tr
    -#        %td.missing-data No prevalence data