<h1> this is the dashboard page </h1>

<div>
  <div style="float: left; padding-bottom: 20px;">
    <div>
      <div>My Dashboard [&#39;meter]</div>
      <div><strong>USERNAME</strong></div>
      <div><em>userlogin &middot; user-title</em></div>
    </div>
    <div>
      <div>[6] Open Tickets</div>
      <div>[1] In Progress Tickets</div>
      <div>[11] Closed Tickets</div>
    </div>
  </div><br style="clear: both;"/>
  <div style="float: left; padding-bottom: 20px;">
    <div style="float: left;">
      [chart]
    </div>
    <div style="float: left;">
      [ticket listing]
    </div>
  </div><br style="clear: both;"/>
  <div style="float: left; padding-bottom: 20px;">
    <div>
      <div>My Team [people]</div>
      <div><strong>USERNAME</strong></div>
      <div><em>userlogi &middot; user-title</em></div>
    </div>
    <div>
      <div>[6] Open Tickets</div>
      <div>[1] In Progress Tickets</div>
      <div>[11] Closed Tickets</div>
    </div>
  </div><br style="clear: both;"/>
</div>