.content-wrapper
  .dashboard-header-area.my-dashboard-header-area
    .row
      .col-xs-6
        .dashboard-wrapper
          .dashboard-title
            %h1 My Dashboard
            %span.my-dashboard-icon

          .user-info
            %h5= current_user.display_name
            %p.dashboard-details
              = current_user.cvs_username

      .col-xs-6.text-right
        .dashboard-time-wrapper
          .dashboard-time
            %label September 2 - 8, 2018
            %button.toolbar-button.icon-calendar Change Time Span
          .dashboard-time-ticket
            .button-wrapper
              %button.arrow-left View Last Week's Tickets

  .dashboard-submenu
    .dashboard-submenu-area
      .dashboard-menu-list
        %label.bold View:
        %ul
          %li
            %a.white-user.ticket-owner-button.user-icon-stg-1.bold{:href => ""} My Tickets
          %li
            %a.group-user-white.icon-team-grey.user-icon-stg.bold{:href => ""} My Team Tickets
          %li
            %a.all-tickets-white.icon-all-tickets-grey.user-icon-stg.bold{:href => ""} All Tickets

          %li.dropdown
            %a.custom-user-white.icon-custom-user-grey.user-icon-stg.bold{:href => ""} Select Custom Users

      .dashboard-submission-area
        %label.right-vertical-separator.bold.font-lg 30
        %label.font-lg 99
        %label.uppercase.right-vertical-separator.bold valid total tickets / entries submission
        %label.uppercase.icon-invalid-grey.user-icon-stg.invalid-stg.bold 12 invalid tickets

      .dashboard-export-report.left-vertical-separator
        %button.toolbar-button.export-button-white Export Report

  .row.top-space
    .col-xs-6
      %h1 My Tickets
      .content-layout-list
        %label.icon-custom-star
          Show Customer Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.no-left-pad.right-vertical-separator
          Show Guest Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-E-grey
          Show Email Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-W-grey
          Show Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-EW-grey.btn-margin-left
          Show Email/Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

      .user-tickets-top
        .user-tickets-header
          %h6 My Open Tickets

          .num-frame
            %label.label-stg 3
            %label.left-space.left-vertical-separator 23

      %table.table.my-table
        %thead
          %tr
            %th{:scope => "col"} CASE ID
            %th{:scope => "col"} STATUS
            %th{:scope => "col"} DISPUTE
            %th{:scope => "col"} LAST COMMENT
        %tbody
          %tr
            %th{:scope => "row"} 01402523
            %td.td-stg ASSIGNED
            %td paramon-dawnload.com
            %td 2018-08-08 13:59:10
          %tr
            %th{:scope => "row"} 01402523
            %td.td-stg IN PROGRESS
            %td http://b2bmdvan.net
            %td 2018-08-08 13:59:10
          %tr
            %th{:scope => "row"} 01402523
            %td.td-stg CUSTOMER PENDING
            %td http://ethermine.org
            %td 2018-08-08 13:59:10


      .user-tickets-top
        .user-tickets-header
          %h6 My Closed Tickets

      %table.table.responsive#close-ticket-table
        %thead
          %tr
            %th
              -# Expend / Collapse Button
            %th#case-id CASE ID
            %th
            %th
            %th#dispute DISPUTE
            %th
            %th#time-to-close TIME TO CLOSE