.content-wrapper
  .dashboard-header-area.my-dashboard-header-area
    .row
      .col-xs-6
        .dashboard-wrapper
          .dashboard-title
            %h1 My Dashboard
            %span.my-dashboard-icon

          .user-info
            %h5= current_user.display_name
            %p.dashboard-details
              = current_user.cvs_username

      .col-xs-6.text-right
        .dashboard-time-wrapper
          .dashboard-time
            %label September 2 - 8, 2018
            %button.toolbar-button.icon-calendar Change Time Span
          .dashboard-time-ticket
            .button-wrapper
              %button.arrow-left View Last Week's Tickets

  .dashboard-submenu
    .dashboard-submenu-area
      .dashboard-menu-list
        %label.bold View:
        %ul
          %li
            %a.white-user.ticket-owner-button.user-icon-stg-1.bold{:href => ""} My Tickets
          %li
            %a.group-user-white.icon-team-grey.user-icon-stg.bold{:href => ""} My Team Tickets
          %li
            %a.all-tickets-white.icon-all-tickets-grey.user-icon-stg.bold{:href => ""} All Tickets

          %li.dropdown
            %a.custom-user-white.icon-custom-user-grey.user-icon-stg.bold{:href => ""} Select Custom Users

      .dashboard-submission-area
        %label.right-vertical-separator.bold.font-lg 30
        %label.font-lg 99
        %label.uppercase.right-vertical-separator.bold valid total tickets / entries submission
        %label.uppercase.icon-invalid-grey.user-icon-stg.invalid-stg.bold 12 invalid tickets

      .dashboard-export-report.left-vertical-separator
        %button.toolbar-button.export-button-white Export Report

  .row.top-space
    .col-xs-6
      %h1 My Tickets
      .content-layout-list
        %label.icon-custom-star
          Show Customer Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.no-left-pad.right-vertical-separator
          Show Guest Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-E-grey
          Show Email Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-W-grey
          Show Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-EW-grey.btn-margin-left
          Show Email/Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

      .user-tickets-top
        .user-tickets-header
          %h6 My Open Tickets

          .num-frame
            %label.label-stg 3
            %label.left-space.left-vertical-separator 23

    .col-xs-6.graph-section
      .col-xs-6.left-graph-frame
        .graph-top-header
          %h5.uppercase.header-stg ticket entries closed by day


        %label.content-label-sm Time Breakdown
        .graph-config
          %select.form-control
            %option{:selected => "selected", :value => ""} By Day
            %option{:value => ""} Weekly
            %option{:value => ""} Monthly
            %option{:value => ""} Yearly

          .graph-menu
            %label
              %input{:type => "checkbox", :checked => "checked"}/
              %label.total-legend
              Total Tickets Entries

            %label
              %input{:type => "checkbox", :checked => "checked"}/
              %label.dispute-E.legend-option
              %label.dispute-W.legend-option
              %label.dispute-EW.legend-option
              Entries By Ticket Types
        %canvas#canvas


        .graph-top-header.top-space.bottom-space
          %h5.uppercase.header-stg Times to Close Tickets

        %canvas#line-chart


        %label.content-label-sm.top-space.top-space-ex Time Breakdown
        .graph-config
          %select.form-control
            %option{:selected => "selected", :value => ""} By Day
            %option{:value => ""} Weekly
            %option{:value => ""} Monthly
            %option{:value => ""} Yearly
        .graph-top-header
          %h5.uppercase.header-stg ticket submitted by submitter per day

        .graph-bar2-legend
          .legend-radio
            .customer-legend
              %label Customer
              %label.customer-legend-color

          .legend-radio
            .guest-legend
              %label Guest
              %label.guest-legend-color

        %canvas#bar-chart


      .col-xs-6.right-graph-frame
        .graph-top-header
          %h5.uppercase.dispute-E-grey.graph-header-icon-stg.header-stg.bottom-space closed email entries by resolution

        %canvas#pie-chart

        .right-graph-table-layout
          %table.table
            %thead
              %tr
                %th{:scope => "col"} RESOLUTION
                %th{:scope => "col"} %
                %th{:scope => "col"} COUNT
            %tbody
              %tr
                %td Unchanged
                %td 18.75%
                %td 3
              %tr
                %td Fixed FN
                %td 37.50%
                %td 6
              %tr
                %td Fixed FP
                %td 43.75%
                %td 7

              %tr
                %td Other
                %td 00.00%
                %td 0


        .graph-top-header.top-space.top-space-ex
          %h5.uppercase.dispute-W-grey.graph-header-icon-stg.header-stg.bottom-space closed web entries by resolution

        %canvas#pie-chart2

        .right-graph-table-layout
          %table.table
            %thead
              %tr
                %th{:scope => "col"} RESOLUTION
                %th{:scope => "col"} %
                %th{:scope => "col"} COUNT
            %tbody
              %tr
                %td Unchanged
                %td 18.75%
                %td 3
              %tr
                %td Fixed FN
                %td 37.50%
                %td 6
              %tr
                %td Fixed FP
                %td 43.75%
                %td 7

              %tr
                %td Other
                %td 00.00%
                %td 0
