.content-wrapper
  .dashboard-header-area.my-dashboard-header-area
    .row
      .col-xs-6
        .dashboard-wrapper
          .dashboard-title
            %h1 My Dashboard
            %span.my-dashboard-icon

          .user-info
            %h5= current_user.display_name
            %p.dashboard-details
              = current_user.cvs_username

      .col-xs-6.text-right
        .dashboard-time-wrapper
          .dashboard-time
            %label September 2 - 8, 2018
            %button.toolbar-button.icon-calendar Change Time Span
          .dashboard-time-ticket
            .button-wrapper
              %button.arrow-left View Last Week's Tickets

  .dashboard-submenu
    .dashboard-submenu-area
      .dashboard-menu-list
        %label.bold View:
        %ul
          %li
            %a.white-user.ticket-owner-button.user-icon-stg-1.bold{:href => ""} My Tickets
          %li
            %a.group-user-white.icon-team-grey.user-icon-stg.bold{:href => ""} My Team Tickets
          %li
            %a.all-tickets-white.icon-all-tickets-grey.user-icon-stg.bold{:href => ""} All Tickets

          %li.dropdown
            %a.custom-user-white.icon-custom-user-grey.user-icon-stg.bold{:href => ""} Select Custom Users

      .dashboard-submission-area
        %label.right-vertical-separator.bold.font-lg 30
        %label.font-lg 99
        %label.uppercase.right-vertical-separator.bold valid total tickets / entries submission
        %label.uppercase.icon-invalid-grey.user-icon-stg.invalid-stg.bold 12 invalid tickets

      .dashboard-export-report.left-vertical-separator
        %button.toolbar-button.export-button-white Export Report

  .row.top-space
    .col-xs-6
      %h1 My Tickets
      .content-layout-list
        %label.icon-custom-star
          Show Customer Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.no-left-pad.right-vertical-separator
          Show Guest Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-E-grey
          Show Email Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-W-grey
          Show Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-EW-grey.btn-margin-left
          Show Email/Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

      .user-tickets-top
        .user-tickets-header
          %h6 My Open Tickets

          .num-frame
            %label.label-stg 3
            %label.left-space.left-vertical-separator 23

    .col-xs-6.graph-section
      .col-xs-6.left-graph-frame
        .graph-top-header
          %h5.uppercase.header-stg ticket entries closed by day

        .graph1
          %label.content-label-sm Time Breakdown
          .graph-config
            %select.form-control
              %option{:selected => "selected", :value => ""} By Day
              %option{:value => ""} Weekly
              %option{:value => ""} Monthly
              %option{:value => ""} Yearly

            .graph-menu
              %label
                %input{:type => "checkbox", :checked => "checked"}/
                %label.total-legend
                Total Tickets Entries

              %label
                %input{:type => "checkbox", :checked => "checked"}/
                %label.dispute-E.legend-option
                %label.dispute-W.legend-option
                %label.dispute-EW.legend-option
                Entries By Ticket Types
          %canvas#canvas


        .graph-top-header.top-space.bottom-space
          %h5.uppercase.header-stg Times to Close Tickets

        .left-graph2
          %canvas#line-chart



        -#.graph2
        -#  %canvas#line-chart
        -#
        -#
        -#
        -#.graph3

      .col-xs-6.right-graph-frame
        .graph-top-header
          %h5.uppercase.dispute-E-grey.graph-header-icon-stg.header-stg closed email entries by resolution

        %canvas#pie-chart










  -#.col-xs-4
  -#  %table.tickets-totals-table
  -#    %tr
  -#      %td.ticket-total= Dispute.assigned_disputes.where(user: current_user).count
  -#      %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {user: current_user, status: Dispute::ASSIGNED}).count
  -#      %td
  -#        %span.ticket-type-label Open
  -#        Tickets / Total Entries per Ticket
  -#    %tr
  -#      %td.ticket-total= Dispute.in_progress_disputes.where(user: current_user).count
  -#      %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {user: current_user, status: [ Dispute::STATUS_RESEARCHING, Dispute::STATUS_ESCALATED, Dispute::STATUS_CUSTOMER_PENDING, Dispute::STATUS_ON_HOLD, Dispute::STATUS_REOPENED ]}).count
  -#      %td
  -#        %span.ticket-type-label In Progress
  -#        Tickets / Total Entries per Ticket
  -#    %tr
  -#      %td.ticket-total= Dispute.closed_disputes.where(user: current_user).count
  -#      %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {user: current_user, status: Dispute::RESOLVED}).count
  -#      %td
  -#        %span.ticket-type-label Closed
  -#        Tickets / Total Entries per Ticket

  -#.col-xs-5

  -#
  -#.row
  -#  .col-xs-3.temp-spacer
  -#    %h2 Generate Report
  -#    .report-form-wrapper
  -#      = simple_form_for :report, url: resolution_report_escalations_webrep_disputes_path, method: :get,
  -#                          html: { target: :_blank } do |rpt_form|
  -#        = rpt_form.input :date_from, as: :string, input_html: {type: :date}
  -#        = rpt_form.input :date_to, as: :string, input_html: {type: :date}
  -#        = rpt_form.input :period, collection: ['Daily', 'Weekly', 'Monthly'], selected: 'Daily'
  -#        = rpt_form.submit 'Create Report', class: 'button_primary create-report', data: { disable_with: false }
  -#    .report-display-wrapper
  -#
  -#  - if current_user&.has_role?('big_email_honcho')
  -#    .col-xs-9.temp-spacer
  -#      %h2 Edit Rulehit Resolution Mailer Templates
  -#      %a#resolution-email-editor.nav-page-button{href: '/rulehit_resolution_mailer_templates'} Edit Email Templates
  -#
  -#
  -#
  -#.dashboard-header-area.team-dashboard-header-area
  -#  .row
  -#    .col-xs-3.dashboard-left-data
  -#      %h1 My Team
  -#      %span.team-icon
  -#      %h5 Web Reputation Escalations
  -#      %p.dashboard-details
  -#        Manager:
  -#        = current_user.team_manager.display_name
  -#
  -#    .col-xs-4.dashboard-left-data
  -#      %table.tickets-totals-table
  -#        %tr
  -#          %td.ticket-total= Dispute.assigned_disputes.my_team(current_user).count
  -#          -#%td.entries-total= DisputeEntry.open_entries.my_team(current_user).count
  -#          %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {status: Dispute::ASSIGNED}).my_team(current_user).count
  -#          %td
  -#            %span.ticket-type-label Open
  -#            Tickets / Total Entries per Ticket
  -#        %tr
  -#          %td.ticket-total= Dispute.in_progress_disputes.my_team(current_user).count
  -#          %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {status: [ Dispute::STATUS_RESEARCHING, Dispute::STATUS_ESCALATED, Dispute::STATUS_CUSTOMER_PENDING, Dispute::STATUS_ON_HOLD, Dispute::STATUS_REOPENED ]}).my_team(current_user).count
  -#          %td
  -#            %span.ticket-type-label In Progress
  -#            Tickets / Total Entries per Ticket
  -#        %tr
  -#          %td.ticket-total= Dispute.closed_disputes.my_team(current_user).count
  -#          %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {status: Dispute::RESOLVED}).my_team(current_user).count
  -#          %td
  -#            %span.ticket-type-label Closed
  -#            Tickets / Total Entries per Ticket
  -#
  -#    .col-xs-5
  -#      %h5 Team Members
  -#      %ul.multi-col
  -#        - current_user.my_team.each do |teammate|
  -#          - unless teammate.cvs_username == current_user.cvs_username
  -#            %li.dashboard-details #{teammate.display_name} (#{teammate.cvs_username})
  -#
  -#.row
  -#  .col-xs-12.temp-spacer
