.content-wrapper
  .dashboard-header-area.my-dashboard-header-area
    .row
      .col-xs-6
        .dashboard-wrapper
          .dashboard-title
            %h1 My Dashboard
            %span.my-dashboard-icon

          .user-info
            %h5= current_user.display_name
            %p.dashboard-details
              = current_user.cvs_username

      .col-xs-6.text-right
        .dashboard-time-wrapper
          .dashboard-time
            %label September 08, 2018 - September 15, 2018
            %button.toolbar-button.icon-calendar Change Time Span

            %input#tickets_date_range{:type => 'text'}

          .dashboard-time-ticket
            .button-wrapper
              %button.arrow-left View Last Week's Tickets

  .dashboard-submenu
    .dashboard-submenu-area
      .dashboard-menu-list
        %label.bold View:
        %ul
          %li
            %a.white-user.ticket-owner-button.user-icon-stg-1.bold{:href => ""} My Tickets
          %li
            %a.group-user-white.icon-team-grey.user-icon-stg.bold{:href => ""} My Team Tickets
          %li
            %a.all-tickets-white.icon-all-tickets-grey.user-icon-stg.bold{:href => ""} All Tickets

          %li.dropdown
            %a.custom-user-white.icon-custom-user-grey.user-icon-stg.bold{:href => ""} Select Custom Users

      .dashboard-submission-area
        %label.right-vertical-separator.bold.font-lg 30
        %label.font-lg 99
        %label.uppercase.right-vertical-separator.bold valid total tickets / entries submission
        %label.uppercase.icon-invalid-grey.user-icon-stg.invalid-stg.bold 12 invalid tickets

      .dashboard-export-report.left-vertical-separator
        %button.toolbar-button.export-button-white Export Report

  .toolbar-content-layout
    -#%button.toolbar-button.icon-queue.btn-pad-left legend

    .content-layout-list
      %label.icon-custom-star
        Show Customer Tickets
        %input{:type => "checkbox", :checked => "checked"}/

      %label.right-vertical-separator
        Show Guest Tickets
        %input{:type => "checkbox", :checked => "checked"}/

      %label.dispute-E-grey.btn-margin-left
        Show Email Tickets
        %input{:type => "checkbox", :checked => "checked"}/

      %label.dispute-W-grey.btn-margin-left
        Show Web Tickets
        %input{:type => "checkbox", :checked => "checked"}/

      %label.dispute-EW-grey.btn-margin-left
        Show Email/Web Tickets
        %input{:type => "checkbox", :checked => "checked"}/

