.content-wrapper
  .dashboard-header-area.my-dashboard-header-area
    .row
      .col-xs-6
        .dashboard-wrapper
          .dashboard-title
            %h1 My Dashboard
            %span.my-dashboard-icon

          .user-info
            %h5= current_user.display_name
            %p.dashboard-details
              = current_user.cvs_username

      .col-xs-6.text-right
        .dashboard-time-wrapper
          .dashboard-time
            %label September 2 - 8, 2018
            %button.toolbar-button.icon-calendar Change Time Span
          .dashboard-time-ticket
            .button-wrapper
              %button.arrow-left.left-align View Last Week's Tickets


  .dashboard-submenu
    .dashboard-submenu-area
      .dashboard-menu-list
        %label View:
        %ul
          %li
            %a.ticket-owner-button.user-icon-stg{:href => ""} My Tickets
          %li
            %a.team-icon-grey.user-icon-stg{:href => ""} My Team Tickets
          %li
            %a.icon-all-tickets-grey.user-icon-stg{:href => ""} All Tickets

          %li
            %a.icon-customer-grey.user-icon-stg{:href => ""} Select Custom Users

      .dashboard-submission-area
        %label.label-stg.vertical-separator 30
        %label 99
        %label.valid-label.vertical-separator valid total tickets / entries submission
        %label.invalid-label 12 invalid tickets

      .dashboard-export-report
        %button.toolbar-button.export-button-white Export Report







  -#.col-xs-4
  -#  %table.tickets-totals-table
  -#    %tr
  -#      %td.ticket-total= Dispute.assigned_disputes.where(user: current_user).count
  -#      %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {user: current_user, status: Dispute::ASSIGNED}).count
  -#      %td
  -#        %span.ticket-type-label Open
  -#        Tickets / Total Entries per Ticket
  -#    %tr
  -#      %td.ticket-total= Dispute.in_progress_disputes.where(user: current_user).count
  -#      %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {user: current_user, status: [ Dispute::STATUS_RESEARCHING, Dispute::STATUS_ESCALATED, Dispute::STATUS_CUSTOMER_PENDING, Dispute::STATUS_ON_HOLD, Dispute::STATUS_REOPENED ]}).count
  -#      %td
  -#        %span.ticket-type-label In Progress
  -#        Tickets / Total Entries per Ticket
  -#    %tr
  -#      %td.ticket-total= Dispute.closed_disputes.where(user: current_user).count
  -#      %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {user: current_user, status: Dispute::RESOLVED}).count
  -#      %td
  -#        %span.ticket-type-label Closed
  -#        Tickets / Total Entries per Ticket

  -#.col-xs-5

  -#
  -#.row
  -#  .col-xs-3.temp-spacer
  -#    %h2 Generate Report
  -#    .report-form-wrapper
  -#      = simple_form_for :report, url: resolution_report_escalations_webrep_disputes_path, method: :get,
  -#                          html: { target: :_blank } do |rpt_form|
  -#        = rpt_form.input :date_from, as: :string, input_html: {type: :date}
  -#        = rpt_form.input :date_to, as: :string, input_html: {type: :date}
  -#        = rpt_form.input :period, collection: ['Daily', 'Weekly', 'Monthly'], selected: 'Daily'
  -#        = rpt_form.submit 'Create Report', class: 'button_primary create-report', data: { disable_with: false }
  -#    .report-display-wrapper
  -#
  -#  - if current_user&.has_role?('big_email_honcho')
  -#    .col-xs-9.temp-spacer
  -#      %h2 Edit Rulehit Resolution Mailer Templates
  -#      %a#resolution-email-editor.nav-page-button{href: '/rulehit_resolution_mailer_templates'} Edit Email Templates
  -#
  -#
  -#
  -#.dashboard-header-area.team-dashboard-header-area
  -#  .row
  -#    .col-xs-3.dashboard-left-data
  -#      %h1 My Team
  -#      %span.team-icon
  -#      %h5 Web Reputation Escalations
  -#      %p.dashboard-details
  -#        Manager:
  -#        = current_user.team_manager.display_name
  -#
  -#    .col-xs-4.dashboard-left-data
  -#      %table.tickets-totals-table
  -#        %tr
  -#          %td.ticket-total= Dispute.assigned_disputes.my_team(current_user).count
  -#          -#%td.entries-total= DisputeEntry.open_entries.my_team(current_user).count
  -#          %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {status: Dispute::ASSIGNED}).my_team(current_user).count
  -#          %td
  -#            %span.ticket-type-label Open
  -#            Tickets / Total Entries per Ticket
  -#        %tr
  -#          %td.ticket-total= Dispute.in_progress_disputes.my_team(current_user).count
  -#          %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {status: [ Dispute::STATUS_RESEARCHING, Dispute::STATUS_ESCALATED, Dispute::STATUS_CUSTOMER_PENDING, Dispute::STATUS_ON_HOLD, Dispute::STATUS_REOPENED ]}).my_team(current_user).count
  -#          %td
  -#            %span.ticket-type-label In Progress
  -#            Tickets / Total Entries per Ticket
  -#        %tr
  -#          %td.ticket-total= Dispute.closed_disputes.my_team(current_user).count
  -#          %td.entries-total= DisputeEntry.joins(:dispute).where(disputes: {status: Dispute::RESOLVED}).my_team(current_user).count
  -#          %td
  -#            %span.ticket-type-label Closed
  -#            Tickets / Total Entries per Ticket
  -#
  -#    .col-xs-5
  -#      %h5 Team Members
  -#      %ul.multi-col
  -#        - current_user.my_team.each do |teammate|
  -#          - unless teammate.cvs_username == current_user.cvs_username
  -#            %li.dashboard-details #{teammate.display_name} (#{teammate.cvs_username})
  -#
  -#.row
  -#  .col-xs-12.temp-spacer
