.content-wrapper
  = render "escalations/webrep/disputes/dashboard_topbar"

  .row
    .col-xs-6

      %h1.dashboard-header My Tickets
      .content-layout-list
        %label.content-label-sm.icon-custom-star
          Show Customer Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.content-label-sm.no-left-pad.right-vertical-separator
          Show Guest Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.content-label-sm.dispute-E-grey
          Show Email Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.content-label-sm.dispute-W-grey
          Show Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.content-label-sm.dispute-EW-grey.btn-margin-left
          Show Email/Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

      .tickets-section-wrapper.open-tickets-wrapper

        .open-tickets-header
          %h3.larger-lighter My Open Tickets

          .ticket-count-wrapper
            %label.total-table-ticket-count 4
            %label.total-table-entry-count 23

        %table.table.responsive.dashboard-tickets-table#table-user-complaints-open
          %thead
            %tr
              %th
                -#  priority
              %th Case ID
              %th
                -#  Submitter type
              %th Status
              %th
                -#  Ticket type
              %th Dispute Preview
              %th Last Comment Date

        .ticket-entries-totals-wrapper
          %label.totals-label
            Total Ticket Entries
          .ticket-entry-total-block
            %label.content-label-sm.submitter-customer
              Customer
            %span.ticket-entry-total
              32
          .ticket-entry-total-block.guest-block-total
            %label.content-label-sm
              Guest
            %span.ticket-entry-total
              12
          .ticket-entry-total-block
            %label.content-label-sm.dispute-E-grey
              Email Entries
            %span.ticket-entry-total
              25
          .ticket-entry-total-block
            %label.content-label-sm.dispute-W-grey
              Web Entries
            %span.ticket-entry-total
              22
          .ticket-entry-total-block
            %label.content-label-sm.dispute-EW-grey
              Email/Web Entries
            %span.ticket-entry-total
              3


      .tickets-section-wrapper.closed-tickets-wrapper
        .closed-tickets-header
          %h3.larger-lighter My Closed Tickets

          .ticket-count-wrapper
            %label.total-table-ticket-count 7
            %label.total-table-entry-count 46

        %table.table.responsive.dashboard-tickets-table#table-user-complaints-closed
          %thead
            %tr
              %th
                -#    priority
              %th Case ID
              %th
                -#  Submitter type
              %th
                -#  Ticket type
              %th Dispute Preview
              %th Time to Close
        .ticket-entries-totals-wrapper
          %label.totals-label
            Total Ticket Entries
          .ticket-entry-total-block
            %label.content-label-sm.submitter-customer
              Customer
            %span.ticket-entry-total
              32
          .ticket-entry-total-block.guest-block-total
            %label.content-label-sm
              Guest
            %span.ticket-entry-total
              12
          .ticket-entry-total-block
            %label.content-label-sm.dispute-E-grey
              Email Entries
            %span.ticket-entry-total
              25
          .ticket-entry-total-block
            %label.content-label-sm.dispute-W-grey
              Web Entries
            %span.ticket-entry-total
              22
          .ticket-entry-total-block
            %label.content-label-sm.dispute-EW-grey
              Email/Web Entries
            %span.ticket-entry-total
              3


    .col-xs-6.graph-section
      .row
        .col-xs-6
          .graph-top-header
            %h5.uppercase.header-stg ticket entries closed by day


          %label.content-label-sm Time Breakdown
          .graph-config
            %select.form-control
              %option{:selected => "selected", :value => "day"} By Day
              %option{:value => "weekly"} Weekly
              %option{:value => "monthly"} Monthly
              %option{:value => "yearly"} Yearly

            .graph-menu
              %label
                %input.all-ticket{:type => "checkbox", :checked => "checked", :onclick => 'updateGraph(["Total Ticket Entries"], "myBar", this)'}/
                %label.total-legend
                Total Tickets Entries

              %label
                %input.group-ticket{:type => "checkbox", :checked => "checked", :onclick => 'updateGraph(["E", "W", "EW"], "myBar", this)'}/
                %label.dispute-E.legend-option
                %label.dispute-W.legend-option
                %label.dispute-EW.legend-option
                Entries By Ticket Types
          %canvas#canvas


          .graph-top-header.top-space-ex.bottom-space
            %h5.uppercase.header-stg Times to Close Tickets
          .average-label
            %label Average Time To Close
            %label.label-stg 45m 12s
          %canvas#line-chart


          %label.content-label-sm.top-space-ex Time Breakdown
          .graph-config
            %select.form-control
              %option{:selected => "selected", :value => ""} By Day
              %option{:value => ""} Weekly
              %option{:value => ""} Monthly
              %option{:value => ""} Yearly
          .graph-top-header
            %h5.uppercase.header-stg ticket submitted by submitter per day
          .graph-bar-legend
            .custom-legend
              %label Customer
              %label.skyblue-legend-color
            .custom-legend
              %label Guest
              %label.navyblue-legend-color
          %canvas#bar-chart


        .col-xs-6.top-space-ex.graph-section
          .graph-top-header
            %h5.uppercase.dispute-E-grey.graph-header-icon-stg.header-stg.bottom-space closed email entries by resolution

          %canvas#pie-chart


          %table.table.left-space.top-space
            %thead
              %tr
                %th{:scope => "col"} RESOLUTION
                %th{:scope => "col"} %
                %th{:scope => "col"} COUNT
            %tbody
              %tr.text-left
                %td Unchanged
                %td 18.75%
                %td 3
              %tr.text-left
                %td Fixed FN
                %td 37.50%
                %td 6
              %tr.text-left
                %td Fixed FP
                %td 43.75%
                %td 7

              %tr.text-left
                %td Other
                %td 00.00%
                %td 0


          .graph-top-header.top-space.top-space-ex
            %h5.uppercase.dispute-W-grey.graph-header-icon-stg.header-stg.bottom-space closed web entries by resolution

          %canvas#pie-chart2

          %table.table.left-space.top-space
            %thead
              %tr
                %th{:scope => "col"} RESOLUTION
                %th{:scope => "col"} %
                %th{:scope => "col"} COUNT
            %tbody
              %tr.text-left
                %td Unchanged
                %td 18.75%
                %td 3
              %tr.text-left
                %td Fixed FN
                %td 37.50%
                %td 6
              %tr.text-left
                %td Fixed FP
                %td 43.75%
                %td 7

              %tr.text-left
                %td Other
                %td 00.00%
                %td 0
