.content-wrapper
  %h1 Open Tickets

  = render('index_toolbar')

  %input{type: 'hidden', name: 'token', value: "#{current_user.authentication_token}"}

  .row
    .col-xs-12
      %table.table.responsive#disputes-index
        %thead
          %tr
            %th
            -# Expand / Collapse Button
            %th
              %input#disputes_check_box{type: 'checkbox'}
            %th.center
            -# Priority
            %th Case ID
            %th Status
            %th Resolution
            %th.center
              -#Ticket Type
            %th Dispute
            %th Owner
            %th Time Submitted
            %th Age
            %th Case Origin
            %th Origin ID
            %th Submitter Type
            %th Submitter Org
            %th Submitter Domain
            %th Contact Name
            %th Contact Email

:javascript
  $(document).ready(function() {
    function format ( dispute ) {
      var table_head =
      '<table class="table dispute-entry-table">'+
        '<thead>' +
          '<tr>'+
              '<th><input type="checkbox"></th>' +
              '<th class="entry-col-content">Dispute Entry</th>'+
              '<th class="entry-col-status">Dispute Entry Status</th>' +
              '<th class="entry-col-disp">Suggested Disposition</th>' +
              '<th class="entry-col-cat">Category</th>' +
              '<th class="entry-col-wbrs-score">WBRS Score</th>' +
              '<th class="entry-col-wbrs-hits">WBRS Total Rule Hits</th>' +
              '<th class="entry-col-wbrs-rules">WBRS Rules</th>' +
              '<th class="entry-col-sbrs-score">SBRS Score</th>' +
              '<th class="entry-col-sbrs-hits">SBRS Total Rule Hits</th>' +
              '<th class="entry-col-sbrs-rules">SBRS Rules</th>' +
              '<th class="entry-col-wlbl">WL/BL Entries</th>' +
              '<th class="entry-col-reptool-class">RepTool Classification</th>' +
          '</tr>' +
          '</thead>' +
          '<tbody>'

      var entry = dispute.dispute_entries;
      var missing_data = '<span class="missing-data">Missing Data</span>';
      var entry_rows = [];
      $(entry).each(function() {

        var entry_content = ''
        if (this.ip_address != null) {
          entry_content = this.ip_address;
        }
        else if (this.uri != null) {
          entry_content = this.uri;
        }
        else {
          entry_content = missing_data;
        }

        var category = ''
        if (this.primary_category != null) {
          category = this.primary_category;
        }
        else {
          category = missing_data;
        }

        var status = ''
        if (this.status != null) {
          status = this.status;
        }
        else {
          status = missing_data;
        }

        var suggested_disposition = ''
        if (this.suggested_disposition != null) {
          suggested_disposition = this.suggested_disposition;
        }
        else {
          suggested_disposition = missing_data;
        }

        var entry_row =
        '<tr>'+
          '<td><input type="checkbox"></td>'+
          '<td class="entry-col-content">' + entry_content + '</td>'+
          '<td class="entry-col-status">' + status + '</td>'+
          '<td class="entry-col-disp">' + suggested_disposition + '</td>'+
          '<td class="entry-col-cat">' + category + '</td>' +
          '<td class="entry-col-wbrs-score">' + this.score + '</td>'+
          '<td class="entry-col-wbrs-hits"></td>'+
          '<td class="entry-col-wbrs-rules"></td>'+
          '<td class="entry-col-sbrs-score"></td>'+
          '<td class="entry-col-sbrs-hits"></td>'+
          '<td class="entry-col-sbrs-rules"></td>'+
          '<td class="entry-col-wlbl"></td>'+
          '<td class="entry-col-reptool-class"></td>'+
        '</tr>'
        entry_rows.push(entry_row);
      });

    // `d` is the original data object for the row
      return table_head + entry_rows.join("") + '</tbody></table>';
      }


    var dispute_table = $('#disputes-index').DataTable({
      order: [[ 9, "desc" ]],
      dom: '<"datatable-top-tools"lf>t<ip>',
      columnDefs: [
        {targets: [0, 1], orderable: false, searchable: false},
        {targets: [0], className:'expandable-row-column'},
        {targets: [3], className:'id-col'},
        {targets: [4], className:'state-col'},
        {targets: [8], className:'alt-col'}
      ],
      columns: [
        /*
            uses of 'render' below are not likely to be the final version of
            generating display, just messing with DataTable options
         */
        {data: null, defaultContent: '<button class="expand-row-button-inline"></button>'}, // expansion button
        {                                 // checkbox
          data: 'case_number',
          render: function ( data ) {
              return '<input type="checkbox" name="cbox" class="dispute_check_box" id="cbox' + data + '" value="' + data + '" />';
          }
        },
        {
          data: 'priority',
          render: function ( data ) {
              return '<span class="bug-priority p-P' + data + '"></span>';
          }
        },
        {data: 'case_link'},
        {data: "status"},                 // status
        {data: "resolution"},             // resolution
        {data: null, defaultContent: ''},  // ticket / submission type
        {data: "d_entry_preview"},        // entry content of first entry, followed by count of number of entries submitted
        {data: "assigned_to"},            // owner
        {data: "case_opened_at"},         // time submitted
        {data: "case_age"},               // age [ugly math?]
        {data: "source"},                 // origin
        {data: "source_id"},              // origin id
        {data: null, defaultContent: ''},  // submitter type (customer or guest)
        {data: "submitter_name"},         // submitter name
        {data: "submitter_org"},          // submitter org
        {data: "submitter_domain"},       // submitter domain
        {data: null, defaultContent: ''},  // contact name
        // {data: null, defaultContent: ''}   // contact email
      ]
    });
      populate_webrep_index_table();
      // removed "My Tickets" logic

    $('#disputes-index tbody').on('click', 'td.expandable-row-column', function () {
        var tr = $(this).closest('tr');
        var row = dispute_table.row( tr );

        if ( row.child.isShown() ) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
        }
        else {
          // Open this row
          row.child( format(row.data()) ).show();
          tr.addClass('shown');
          var td = $(tr).next("tr").find("td:first");
          $(td).addClass('dispute-entry-table-wrapper');
          // Check to see which columns should be displayed
          $('.toggle-vis-nested').each(function() {
            var checkbox_trigger = $(this).attr('data-column');
            var checkbox = $(this).find("input");
            if ($(checkbox).prop("checked")) {
              $('.dispute-entry-table td, .dispute-entry-table th').each(function() {
                if ($(this).hasClass(checkbox_trigger)) {
                  $(this).show();
                }
              });
            }
            else if ($(checkbox).prop("checked") == false) {
              $('.dispute-entry-table td, .dispute-entry-table th' ).each(function() {
                if ($(this).hasClass(checkbox_trigger)) {
                  $(this).hide();
                }
              });
            }
          });
        }
    });


    // Hide unchecked columns <- need to somehow save this 'view'
    $('.toggle-vis').each(function() {
      var column = dispute_table.column( $(this).attr('data-column') );
      var checkbox = $(this).find("input");
      if ($(checkbox).prop("checked")) {
        column.visible(true);
      }
      else   {
        column.visible(false);
      }

      $(this).on( 'click', function () {
        $(checkbox).prop("checked", !checkbox.prop("checked"));
        column.visible( ! column.visible() );
      });

      $(checkbox).on( 'click', function () {
        $(checkbox).prop("checked", !checkbox.prop("checked"));
      });
    });


    $('.toggle-vis-nested').each(function() {
      var checkbox_trigger = $(this).attr('data-column');
      var checkbox = $(this).find("input");
      $(this).on( 'click', function () {
        console.log('clicked');
        $('.dispute-entry-table td, .dispute-entry-table th' ).each(function() {
          if ($(this).hasClass(checkbox_trigger)) {
            console.log('match');
            $(checkbox).prop("checked", !checkbox.prop("checked"));
            $(this).toggle();
          }
        });
      });

      $(checkbox).on( 'click', function () {
        $('.dispute-entry-table td, .dispute-entry-table th' ).each(function() {
          if ($(this).hasClass(checkbox_trigger)) {
            $(checkbox).prop("checked", !checkbox.prop("checked"));
          }
        });
      });
    });

  });
