.content-wrapper
  %h1#dispute-index-title All Tickets

  = render('index_toolbar')

  %input{type: 'hidden', name: 'token', value: "#{current_user.authentication_token}"}

  .row
    .col-xs-12
      %table.table.responsive#disputes-index
        %thead
          %tr
            %th
            -# Expand / Collapse Button
            %th
              %input#disputes_check_box{type: 'checkbox'}
            %th.text-center
            -# Priority
            %th Case ID
            %th Status
            %th Resolution
            %th.text-center
              -#Ticket Type
            %th Dispute
            %th Owner
            %th Time Submitted
            %th Age
            %th Case Origin
            %th Submitter Type
            %th Submitter Org
            %th Submitter Domain
            %th Contact Name
            %th Contact Email
