<div style="position:relative">
  <div>
    <div class="grid-header">
      <div style="float: left;">
        <h1>Open Tickets</h1>
      </div>
      <div style="float: left;">
        <div>Table View</div>
        <select>
          <option>Show/Hide Columns</option>
        </select>
      </div>
      <div style="float: left;">
        <div>Edit Ticket</div>
        <select>
          <option>Edit Status</option>
        </select>
      </div>
      <div style="float: left;">
        <select>
          <option>Adjust WL/BL</option>
        </select>
      </div>
      <div style="float: left;">
        <select>
          <option>Adjust Reptool BL</option>
        </select>
      </div>
      <div style="float: left;">
        <div>File</div>
        <select>
          <option>Export to CSV</option>
        </select>
      </div>
    </div>
  </div>
</div>
<input type="hidden" name="token" value="<%= current_user.authentication_token %>">

<table id="disputes-index" class="table responsive no-wrap">
  <thead>
    <th>&nbsp;</th> <!-- checkbox -->
    <th>&nbsp;</th> <!-- priority -->
    <th>CASE ID</th>
    <th>&nbsp;</th> <!-- type? email, URL, location -->
    <th>STATUS</th>
    <th>DISPUTE</th>
    <th>OWNER</th>
    <th>TIME SUBMITTED</th>
    <th>AGE</th>
    <th>SUGGESTED DISPOSITION</th>
    <th>ORIGIN</th>
    <th>ORIGIN ID</th>
    <th>SUBMITTER ORG</th>
    <th>SUBMITTER DOMAIN</th>
    <th>WBRS SCORE</th>
    <th>WBRS RULE HITS</th>
    <th>MALWARE PROBABILITY</th>
  </thead>

  <tbody>

  </tbody>
</table>


<script>
$(document).ready(function() {
  $('#disputes-index').DataTable({
      columns: [
          {data: null, defaultContent: ''}, // checkbox
          {data: "priority"},               // priority
          {data: "case_number"},            // case ID
          {data: null, defaultContent: ''}, // type?
          {data: "status"},                 // status
          {data: null, defaultContent: ''}, // dispute
          {data: "assigned_to"},            // owner
          {data: "case_opened_at"},         // time submitted
          {data: "case_age"},               // age [ugly math?]
          {data: "suggested_disposition"},  // suggested disposition
          {data: "source"},                 // origin
          {data: "source_id"},              // origin id
          {data: "customer_name"},          // submitter org
          {data: "customer_company_name"},  // submitter name
          {data: null, defaultContent: ''}, // wbrs score
          {data: null, defaultContent: ''}, // wbrs rule hits
          {data: null, defaultContent: ''}  // malware probability
      ]
  });
    populate_webrep_index_table();

} );


</script>
