<div style="float: left;">
  <div>
    <div class="grid-header">
      <div style="float: left;">
        <h1>Open Tickets</h1>
      </div>
      <%= render('adjust_reptool') %>
    </div>
  </div>
  <input type="hidden" name="token" value="<%= current_user.authentication_token %>">

  <table id="disputes-index" class="table responsive no-wrap">
    <thead>
      <th>&nbsp;</th> <!-- checkbox -->
      <th>&nbsp;</th> <!-- priority -->
      <th>CASE ID</th>
      <th>&nbsp;</th> <!-- type? email, URL, location -->
      <th>STATUS</th>
      <th>DISPUTE</th>
      <th>OWNER</th>
      <th>TIME SUBMITTED</th>
      <th>AGE</th>
      <th>SUGGESTED DISPOSITION</th>
      <th>ORIGIN</th>
      <th>ORIGIN ID</th>
      <th>SUBMITTER</th>
      <th>SUBMITTER ORG</th>
      <th>SUBMITTER DOMAIN</th>
      <th>WBRS SCORE</th>
      <th>WBRS RULE HITS</th>
      <th>MALWARE PROBABILITY</th>
    </thead>

    <tbody>

    </tbody>
  </table>
</div>

<script>
$(document).ready(function() {
    $('#disputes-index').DataTable({
        columns: [
            /*
                uses of 'render' below are not likely to be the final version of
                generating display, just messing with DataTable options
             */
            {                                 // checkbox
                data: 'case_number',
                render: function ( data, type, row ) {
                    return '<input type="checkbox" name="cbox" id="cbox' + data + '" value="' + data + '" />';
                }
            },
            {
                data: 'case_number',
                render: function ( data, type, row ) {
                    return '<a href="./disputes/' + data + '">' + data + '</a>';
                }
            },
            {
                data: 'priority',
                render: function ( data, type, row ) {
                    return 'P' + data;
                }
            },
            {data: null, defaultContent: ''}, // type?
            {data: "status"},                 // status
            {data: "dispute_domain"},                 // dispute
            {data: "assigned_to"},            // owner
            {data: "case_opened_at"},         // time submitted
            {data: "case_age"},               // age [ugly math?]
            {data: "suggested_disposition"},  // suggested disposition
            {data: "source"},                 // origin
            {data: "source_id"},              // origin id
            {data: "submitter_name"},         // submitter
            {data: "submitter_org"},          // submitter org
            {data: "submitter_domain"},       // submitter domain
            {data: "wbrs_score"},             // wbrs score
            {data: "wbrs_rule_hits"},         // wbrs rule hits
            {data: null, defaultContent: ''}  // malware probability
        ]
    });
    // some of these cells will be combinations (see _my_tickets.html.erb for more)
    populate_webrep_index_table();
    $('#my-disputes').DataTable({
        columns: [
            {data: null, defaultContent: ''},
            {data: "priority"},               // priority
            {data: "case_number"},
            {data: "customer_company_name"}
        ]
    });
    populate_webrep_my_table();
} );
</script>