.content-wrapper
  %h1.index-table-header
    Open Tickets

  = render('index_toolbar')

  %input{type: 'hidden', name: 'token', value: "#{current_user.authentication_token}"}

  .row
    .col-xs-12
      %table.table.responsive#disputes-index
        %thead
          %tr
            %th
            -# Expand / Collapse Button
            %th
            -# Checkbox
            %th
            -# Priority
            %th Case ID
            %th Status
            %th Resolution
            %th Dispute
            %th Owner
            %th Time Submitted
            %th Age
            %th Suggested Disposition
            %th Case Origin
            %th Origin ID
            %th Submitter Type
            %th Submitter Org
            %th Submitter Domain
            %th Contact Name
            %th Contact Email


:javascript
  $(document).ready(function() {
    $('#disputes-index').DataTable({
      columns: [
        /*
            uses of 'render' below are not likely to be the final version of
            generating display, just messing with DataTable options
         */
        {data: null, defaultContent: ''}, // expansion button
        {                                 // checkbox
          data: 'case_number',
          render: function ( data, type, row ) {
              return '<input type="checkbox" name="cbox" id="cbox' + data + '" value="' + data + '" />';
          }
        },
        {
          data: 'priority',
          render: function ( data, type, row ) {
              return 'P' + data;
          }
        },
        {data: 'case_link'},
        {data: "status"},                 // status
        {data: "resolution"},             // resolution
        // {data: "dispute_domain"},                 // dispute
        {data: null, defaultContent: ''},  // dispute entry, first item
        {data: "assigned_to"},            // owner
        {data: "case_opened_at"},         // time submitted
        {data: "case_age"},               // age [ugly math?]
        {data: "suggested_disposition"},  // suggested disposition
        {data: "source"},                 // origin
        {data: "source_id"},              // origin id
        {data: null, defaultContent: ''},  // submitter type (customer or guest)
        {data: "submitter_name"},         // submitter name
        {data: "submitter_org"},          // submitter org
        {data: "submitter_domain"},       // submitter domain
        {data: null, defaultContent: ''},  // contact name
        // {data: null, defaultContent: ''},  // contact email
        // {data: "wbrs_score"},             // wbrs score
        // {data: "wbrs_rule_hits"},         // wbrs rule hits
        // {data: null, defaultContent: ''}  // malware probability
      ]
    });
      populate_webrep_index_table();
      // removed "My Tickets" logic
  } );
