.content-wrapper
  %h1#dispute-index-title All Tickets
  %span.refresh-message#refresh-working-msg
  %span.refresh-message#refresh-error-msg

  = render('index_toolbar')

  %input{type: 'hidden', name: 'token', value: "#{current_user.authentication_token}"}

  .row
    .col-xs-12
      %table.table.responsive#disputes-index
        %thead
          %tr
            %th
            -# Expand / Collapse Button
            %th

              %input#disputes_check_box{type: 'checkbox', onclick: 'disputes_select_all_check_box();'}
            %th.text-center#priority.esc-tooltipped{title: 'Priority'}

            -# Priority
            %th#case-id Case ID
            %th#status Status
            %th#resolution Resolution
            %th.text-center.esc-tooltipped{title: 'Ticket Type'}
              -#Ticket Type
            %th#dispute Dispute
            %th#owner Owner
            %th#time-submitted Time Submitted
            %th#age Age
            %th#case-origin Case Origin
            %th#submitter-type.esc-tooltipped{title: 'Submitter Type'} Submitter Type
            %th#submitter-org Submitter Org
            %th#submitter-domain Submitter Domain
            %th#contact-name Contact Name
            %th#contact-email Contact Email
            %th#status-comment Status Comment
