.content-wrapper
  = render "escalations/webrep/disputes/dashboard_topbar"

  .row.top-space
    .col-xs-6
      %h1 My Tickets
      .content-layout-list
        %label.icon-custom-star
          Show Customer Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.no-left-pad.right-vertical-separator
          Show Guest Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-E-grey
          Show Email Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-W-grey
          Show Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

        %label.dispute-EW-grey.btn-margin-left
          Show Email/Web Tickets
          %input{:type => "checkbox", :checked => "checked"}/

      .user-tickets-top
        .user-tickets-header
          %h6 My Open Tickets

          .num-frame
            %label.label-stg 3
            %label.left-space.left-vertical-separator 23

    .col-xs-6.graph-section
      .col-xs-6
        .graph-top-header.top-space-ex.bottom-space
          %h5.uppercase.header-stg ticket entries closed by ticket owner
        %canvas#bar-chart-horizontal

        .graph-top-header.top-space-ex.bottom-space
          %h5.uppercase.header-stg average time to close tickets by ticket owner
        %canvas#bar-chart2-horizontal

        .graph-top-header.top-space-ex.bottom-space
          %h5.uppercase.header-stg ticket resolution by ticket owner
        .graph-bar-legend
          .custom-legend
            %label Unchanged
            %label.lightgray-legend-color
          .custom-legend
            %label Fixed FN
            %label.navyblue-legend-color
          .custom-legend
            %label Fixed FP
            %label.skyblue-legend-color
          .custom-legend
            %label Other
            %label.orange-legend-color
        %canvas#bar-chart-grouped.bottom-space

        %table.table.left-space.top-space
          %thead
            %tr
              %th{:scope => "col"} OWNER
              %th{:scope => "col"} UNCHANGED
              %th{:scope => "col"} FIXED FN
              %th{:scope => "col"} FIXED FP
              %th{:scope => "col"} OTHER
          %tbody
            %tr.text-center
              %td.text-left mtaylor
              %td 4
              %td 10
              %td 8
              %td 0
            %tr.text-center
              %td.text-left chrclair
              %td 5
              %td 13
              %td 7
              %td 1
            %tr.text-center
              %td.text-left nherbert
              %td 11
              %td 11
              %td 6
              %td 0

            %tr.text-center
              %td.text-left nverbeck
              %td 13
              %td 10
              %td 7
              %td 4

            %tr.text-center
              %td.text-left abreeman
              %td 9
              %td 5
              %td 9
              %td 1
          %tfoot
            %tr
              %th Total
              %th.text-center 42
              %th.text-center 49
              %th.text-center 37
              %th.text-center 6

        .graph-top-header.top-space.bottom-space
          %h5.uppercase.header-stg rule hits for false positive resolutions
        %canvas#bar-chart3-horizontal

      .col-xs-6.graph-section
        %label.content-label-sm.top-space-ex Time Breakdown
        .graph-config
          %select.form-control
            %option{:selected => "selected", :value => "day"} By Day
            %option{:value => "weekly"} Weekly
            %option{:value => "monthly"} Monthly
            %option{:value => "yearly"} Yearly

        .graph-top-header
          %h5.uppercase.header-stg ticket entries closed by day

        .graph-menu.float-right
          %label
            %input.all-ticket{:type => "checkbox", :checked => "checked", :onclick => 'updateGraph("Total Ticket Entries", "barChartGrouped", this)'}/
            %label.total-legend
            Total Tickets Entries

          %label
            %input.group-ticket{:type => "checkbox", :onclick => 'updateGraph(["E", "W", "EW"], "barChartGrouped", this)'}/
            %label.dispute-E.legend-option
            %label.dispute-W.legend-option
            %label.dispute-EW.legend-option
            Entries By Ticket Types
        %canvas#bar-chart2-grouped

        %label.content-label-sm.top-space Time Breakdown
        .graph-config
          %select.form-control
            %option{:selected => "selected", :value => "day"} By Day
            %option{:value => "weekly"} Weekly
            %option{:value => "monthly"} Monthly
            %option{:value => "yearly"} Yearly

        .graph-top-header
          %h5.uppercase.header-stg ticket submitted by submitter per day

        .graph-bar-legend
          .custom-legend
            %label Customer
            %label.skyblue-legend-color
          .custom-legend
            %label Guest
            %label.navyblue-legend-color
        %canvas#bar-chart3-grouped

        .graph-top-header.top-space-ex
          %h5.uppercase.dispute-E-grey.graph-header-icon-stg.header-stg.bottom-space closed email entries by resolution

        %canvas#team-pie-chart

        %table.table.left-space.top-space
          %thead
            %tr
              %th{:scope => "col"} RESOLUTION
              %th{:scope => "col"} %
              %th{:scope => "col"} COUNT
          %tbody
            %tr.text-left
              %td Unchanged
              %td 18.75%
              %td 3
            %tr.text-left
              %td Fixed FN
              %td 37.50%
              %td 6
            %tr.text-left
              %td Fixed FP
              %td 43.75%
              %td 7

            %tr.text-left
              %td Other
              %td 00.00%
              %td 0

        .graph-top-header.top-space-ex
          %h5.uppercase.dispute-E-grey.graph-header-icon-stg.header-stg.bottom-space closed web entries by resolution

        %canvas#team-pie2-chart

        %table.table.left-space.top-space
          %thead
            %tr
              %th{:scope => "col"} RESOLUTION
              %th{:scope => "col"} %
              %th{:scope => "col"} COUNT
          %tbody
            %tr.text-left
              %td Unchanged
              %td 18.75%
              %td 3
            %tr.text-left
              %td Fixed FN
              %td 37.50%
              %td 6
            %tr.text-left
              %td Fixed FP
              %td 43.75%
              %td 7

            %tr.text-left
              %td Other
              %td 00.00%
              %td 0