%h1 JIRA Imports
.row
  .col-xs-12
    %table.table.responsive.dataTable.no-footer#webcat-imports-index{role:'datatable'}
      %thead
        %tr
          %th.sorting_disabled
            %input{type: 'checkbox'}
          %th Jira Ticket
          %th Submitter
          %th Imported On
          %th
            Entries (Imported | Unimported)
          %th Result