<div>
  <div style="float: left;">
    <div style="float: left;">
      &nbsp;
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a href="/escalations/webcat/clusters">[clusters]</a>
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a href="/escalations/webcat/complaints">[Complaints]</a>
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a href="/escalations/webcat/rules">[Rules]</a>
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a href="/escalations/webcat/reports">[Reports]</a>
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a> &#8643;|&#8638; GroupBy</a>
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a> &#43; NEW Complaint</a>
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left; padding: 6px; border: 1px solid black;">
      <input type="text">
      <input type="button" value="ADVANCED" />
    </div>
  </div>
</div>