.row.complaints-metrics-banner
  .col-xs-2.header-area
    .top-area-bar
      %h1= content_for :webcat_page
      %span.top-info-icon{class: "#{content_for :webcat_icon}"}

  .col-xs-8.main-metrics
    .metrics-col
      %span.margin-left.first-first
        .header-metric TALOS:
        %span.number-metric
          =@ti_total_comp
        New
      %span.metric-overdue
        (
        %span.number-metric
          0
        Overdue)
      %span.border-left
        %span.number-metric 0
        Assigned

    .metrics-col
      %span
        .header-metric WBNP:
        %span.number-metric
          =@from_wbnp_count
        New
      %span.metric-overdue
        (
        %span.number-metric
          0
        Overdue)
      %span.border-left
        %span.number-metric 0
        Assigned

    .metrics-col
      %span
        .header-metric INTERNAL:
        %span.number-metric
          =@from_int_count
        New
      %span.metric-overdue
        (
        %span.number-metric
          =@overdue
        Overdue)
      %span.border-left
        %span.number-metric 0
        Assigned

    .metrics-col
      %span
        .header-metric PENDING:
        %span.number-metric
          =@pending
      %span.metric-overdue
        (
        %span.number-metric
          0
        Overdue)

  .col-xs-2.wbnp-area
    .metrics-col
      %span
        .header-metric
          WBNP REPORT STATUS:
        %a.wbnp-link.tooltip{'data-tooltip-content':'#wbnp_tooltip_content'}
          .wbnp-report-status


-#.tooltip_templates
-#  %table.wbnp-table#wbnp_tooltip_content
-#    %tr
-#      %td Total Attempted
-#      %td
-#        #wbnp-report-attempted
-#    %tr
-#      %td Number Succeeded
-#      %td
-#        #wbnp-report-succeeded
-#    %tr
-#      %td Number Rejected
-#      %td
-#        #wbnp-report-rejected




-#LEGACY BELOW, delete this
-#LEGACY BELOW, delete this
-#
-#.row#top_bar_extended_info
-#  .col-xs-2
-#    %table.tickets-totals-table.table-condensed
-#      %tr
-#        %th{colspan: '2'}
-#          %span.ticket-type-label Submitter Type
-#      %tr
-#        %td Customer
-#        %td=@ti_comp_cust
-#      %tr
-#        %td Guest
-#        %td=@ti_comp_guest
-#      %tr
-#        %td Internal
-#        %td=@int_comp_entries
-#      %tr
-#        %td WBNP
-#        %td=@wbnp
-#  .col-xs-2
-#    %table.tickets-totals-table.table-condensed
-#      %tr
-#        %th{colspan: '2'}
-#          %span.ticket-type-label Entries
-#      %tr
-#        %td Assigned
-#        %td=@assigned
-#      %tr
-#        %td Pending
-#        %td=@pending
-#      %tr
-#        %td New
-#        %td=@new
-#      %tr
-#        %td Overdue
-#        %td=@overdue
-#  .col-xs-2
-#    %table.tickets-totals-table.table-condensed
-#      %tr
-#        %th
-#          %span.ticket-type-label Complaints
-#      %tr
-#        %td New
-#        %td=@new_comp
-#      %tr
-#        %td Active
-#        %td=@active_comp
-#      %tr
-#        %td Overdue
-#        %td=@overdue_comp
-#
-#      %tr
-#        %td Completed
-#        %td=@completed_comp
-#  .col-xs-2
-#    %table.tickets-totals-table.table-condensed
-#      %tr
-#        %th{colspan: '2'}
-#          %span.ticket-type-label WBNP Reports
-#      %tr
-#        %td Status
-#        -#%td.wbnp-report-status
-#      %tr
-#        %td Total Attempted
-#        -#%td#wbnp-report-attempted
-#      %tr
-#        %td Number Succeeded
-#        -#%td#wbnp-report-succeeded
-#      %tr
-#        %td Number Rejected
-#        -#%td#wbnp-report-rejected
-#
