.row
  .col-xs-4.dashboard-left-data
    %h1 Complaints Management
    %span.my-dashboard-icon
    %h5= current_user.display_name
    %p.dashboard-details
      = link_to "#{@current_user.cvs_username}", users_path(current_user[:id])

  .col-xs-2
    %table.tickets-totals-table.table-condensed
      %tr
        %th{colspan: '2'}
          %span.ticket-type-label Submitter Type
      %tr
        %td
          Customer
        %td
          =@secHub_1
      %tr
        %td
          Guest
        %td
          =@int_1
      %tr
        %td
          WBNP
        %td
          =@wbnp
  .col-xs-2
    %table.tickets-totals-table.table-condensed
      %tr
        %th{colspan: '2'}
          %span.ticket-type-label Entries
      %tr
        %td
          Assigned
        %td
          =@assigned
      %tr
        %td
          Pending
        %td
          =@pending
      %tr
        %td
          New
        %td
          =@new
      %tr
        %td
          Overdue
        %td
          =@overdue
  .col-xs-2
    %table.tickets-totals-table.table-condensed
      %tr
        %th
          %span.ticket-type-label Complaints
      %tr
        %td
          New
        %td
          =@new_comp
      %tr
        %td
          Active
        %td
          =@active_comp
      %tr
        %td
          Overdue
        %td
          =@overdue_comp
      %tr
        %td
          Completed
        %td
          =@completed_comp

