%h1 Missing CVE Data Tool

%h2 Update Data
#cves-update-div
  = form_tag(admin_snort_doc_cves_update_path, id: 'snort-doc-cves-update-form') do
    %p
      Run update on all missing CVE data:
    .form-break
      = submit_tag('Update')


%h2 References Missing CVE Data
#missing-references-count-div
  = @missing_references.count
  References missing CVE data

#missing-reference-div
  %ul
    - @missing_references.limit(500).each do |reference|
      %li= reference.reference_data

