%h1 NVD Download

%h2 Current Files
%ul
  - Dir.foreach(SnortDocPublisher.basepath).sort.each do |entry|
    - unless ('.' == entry) || ('..' == entry)
      %li= entry


%h2 Force Download
#snort-doc-download-form-div
  = form_tag(admin_snort_doc_cves_download_path, id: 'snort-doc-download-form') do
    .form-break
      = text_field_tag('filename', '', size: 40, id: 'snort-doc-download-filename')
    .form-break
      = submit_tag('Download')

