
= render partial: 'admin_control'



.content-wrapper
  %h1 Rules

  -#%ul{class: 'nav nav-tabs bugs-split-color bugs-split-colors-tweak'}
  -#  %li
  -#    %a{href: '/admin/rules'} List Rules
  -#  %li
  -#    %a{href: '/admin/rules/validations'} Validations

  %table.table.table-striped.table-responsive{id: 'rules-table', 'data-source': "#{admin_rules_path(format: :json)}"}
    %thead
      %tr
        %th ID
        %th SID
        %th Message
        %th Bug Count
        %th State
        %th Edit Status
        %th Publish Status
        %th
    %tbody

