# Nerd Fonts v3.3.0
symbol_map U+e000-U+f2ff,U+f300-U+f533,U+f0001-U+f1af0 Symbols Nerd Font Mono

# - Use additional nerd symbols
# See https://github.com/be5invis/Iosevka/issues/248
# See https://github.com/ryanoasis/nerd-fonts/wiki/Glyph-Sets-and-Code-Points

# Seti-UI + Custom
symbol_map U+e5fa-U+e62b Symbols Nerd Font Mono

# Devicons
symbol_map U+e700-U+e7c5 Symbols Nerd Font Mono

# Weather
symbol_map U+e300-U+e3e3 Symbols Nerd Font Mono

# Octicons
symbol_map U+f400-U+f532,U+2665,U+26A1 Symbols Nerd Font Mono

# [Powerline Symbols]
symbol_map U+e0a0-U+e0a1 Symbols Nerd Font Mono

# IEC Power Symbols
symbol_map U+23fb-U+23fe,U+2b58 Symbols Nerd Font Mono

# Font Mono Logos
symbol_map U+f300-U+f32f Symbols Nerd Font Mono

# Pomicons
symbol_map U+e000-U+e00a Symbols Nerd Font Mono

# Codicons
symbol_map U+ea60-U+ebeb Symbols Nerd Font Mono

# Box Drawing
symbol_map U+2500-U+259f Symbols Nerd Font Mono

# Operating Systems set
symbol_map U+f32a,U+e73a,U+f31b,U+0548,U+ebc9,U+f31c,U+e712,U+f17c,U+f033d,U+ebc6,U+f349,U+f31a,U+f316,U+f315,U+f333,U+f334 Symbols Nerd Font Mono

# Some symbols not covered by Symbols Nerd Font Mono
# nonicons contains icons in the range: U+F101-U+F27D
# U+F167 is HTML logo, but YouTube logo in Symbols Nerd Font Mono
symbol_map U+f102,U+f116-U+f118,U+f12f,U+f13e,U+f1af,U+f1bf,U+f1cf,U+f1ff,U+f20f,U+f21f-U+f220,U+f22e-U+f22f,U+f23f,U+f24f,U+f25f nonicons
