<div class="row">
  <div class="col-sm-12 form-group">
    <label>
      New Summary Line (required):
      <%= text_area_tag 'new_summary_line',"",size: "50x2", placeholder: "custom message goes here"%>
    </label>
    <label>
      New Bug Description (required):
      <%= text_area_tag 'new_research_description',"",size: "50x2", placeholder: "custom message goes here"%>
    </label>
    <label>
      Research Notes (optional):
      <%= text_area_tag 'new_research_notes',"",size: "50x2", placeholder: "custom message goes here"%>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 form-group">
    <button id="create_research_submit" class="btn btn-success acknowledge-bug" onclick="create_research_bug(this)" aria-label="Close" value="submit">
      <span aria-hidden="true">OK</span>
    </button>
    <button id="create_research_submit_wait" class="btn btn-default acknowledge-bug hidden">
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Please wait
    </button>
  </div>
</div>
