<div class="row">
  <div class="col-sm-12 form-group">
    <label>
      <% @bug.reopenable_bugs.each do |related_bug| %>
        <label>
              <input type="checkbox" name="<%= related_bug.id %>" class="flow_form reopen_bug_checkbox" >
              <%= related_bug.id %>
        </label>
      <% end %>
    </label>

    <label>
      <%= text_area_tag 'reopen_bug_message',"",size: "50x2", placeholder: "custom message goes here"%>
    </label>

  </div>
</div>
<div class="row">
  <div class="col-sm-12 form-group">
    <button id="reopen_reserch_submit" class="btn btn-success acknowledge-bug" onclick="reopen_research_bug(this)" aria-label="Close" value="submit">
      <span aria-hidden="true">OK</span>
    </button>
    <button id="reopen_reserch_submit_wait" class="btn btn-default acknowledge-bug hidden">
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Please wait
    </button>
  </div>
</div>
