- flash.each do |type, message|
  .flash-msg.alert.alert-dismissible.fade.in{class: "flash-msg-#{bootstrap_class_for(type)}"}
    = message
    %button.small-flash-button{type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close'}
