<table class="table index-table">
  <thead>
    <tr>
      <td><strong>Me</strong></td>
      <td><strong>Team</strong></td>
      <td><strong>Co-workers</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to current_user.cvs_username, escalations_user_path(current_user) %></td>
      <td>
        <% if current_user.children.any? %>
          <% current_user.children.each do |user| %>
            <li><%= link_to user.cvs_username, escalations_user_path(user) %></li>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if current_user.child? %>
          <% current_user.siblings.each do |user| %>
            <li><%= link_to user.cvs_username, escalations_user_path(user) %></li>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
