<table class="table index-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>email</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <% if current_user.has_role?('admin') %>
        <td><%= link_to user.display_name, user_path(user) %></td>
      <% else %>
        <td><%= user.display_name %></td>
      <% end %>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
