Index

%input{type: 'hidden', name: 'token', value: current_user.authentication_token}
%input{type: 'hidden', name: 'xml_token', value: xml_token}
%input{type: 'hidden', name: 'current_user', value: current_user.id}


%table
  %caption Channels
  %thead
    %tr
      %th Name
      %th Sender
      %th subscribers
  %tbody
    - @channels.each do |channel|
      %tr
        %td=channel[:name]
        %td=channel[:sender]
        %td=channel[:subscribers].join(", ")

