<form id="change_committer_form" style="display:none;" class="form-inline top-space">
  <div class="form-group row">
    <div class="col-xs-12 col-lg-10">
      <%=select_tag :committer_id, options_for_select(allowed_committers(@bug).map{ |u| [u.cvs_username, u.id] }, selected: @bug.committer_id), id: 'bug_committer', class: 'form-control input-sm'%>
      <button class="btn btn-xs btn-default" value="submit" type="submit">done</button>
    </div>
  </div>
</form>