<div class="col-sm-12">
  <form id="change_committer_form" style="display:none;" class="form-inline top-space">
    <div class="form-group row">
      <div class="col-xs-12">
        <%=select_tag :committer_id, options_for_select(Bug.allowed_committers(@bug).pluck(:cvs_username,:id), selected: @bug.committer_id), id: 'bug_committer', class: 'form-control create-input select-sm'%>
      </div>
      <div class="col-xs-2 change_button">
        <button class="btn btn-xs btn-default" value="submit" type="submit">change committer</button>
      </div>
      <div class="col-xs-1 cancel_button">
        <span class="glyphicon glyphicon-remove cancel-button" style="display:none;"id="cancel_committer"></span>
      </div>
    </div>
  </form>
</div>