-# context tags tab (ctt) exists on both webrep and filerep, this file used in both places
.row
  .col-sm-12
    %h1 Context Tags

    -# choose an entry if multiple entries exist
    .ctt-choose-an-entry.hidden
      %span.ctt-entry-label
        Entry:
      -# options will be generated from js into select below
      %select.ctt-entry-select


    -# tmi data for webrep and filerep
    %h2 Tag Management Interface
    .tmi-area
      .tmi-main-content.hidden

        .toolbar.tmi-toolbar
          %div
            %label.toolbar-section-label
              Show
            %span.dropdown
              %button#tmi-columns-button.toolbar-button.show-col-context-tags.dropdown-toggle{title: 'Show/Hide Columns', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                %span.toolbar-button-text
                  Show/Hide Columns

              .dropdown-menu.toolbar-dropdown.tmi-columns-dropdown{'aria-labelledby': 'tmi-columns-button'}
                %ul
                  %li.toggle-col-tmi{'data-column':'1'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-observable-checkbox'} Observable
                  %li.toggle-col-tmi{'data-column':'2'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-tag-name-checkbox'} Tag Name
                  %li.toggle-col-tmi{'data-column':'3'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-mnemonic-checkbox'} Mnemonic
                  %li.toggle-col-tmi{'data-column':'4'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-taxonomy-checkbox'} Taxonomy
                  %li.toggle-col-tmi{'data-column':'5'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-source-checkbox'} Source
                  %li.toggle-col-tmi{'data-column':'6'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-processor-checkbox'} Processor
                %ul
                  %li.toggle-col-tmi{'data-column':'7'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-report-date-checkbox'} Report Date
                  %li.toggle-col-tmi{'data-column':'8'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-suppressed-checkbox'} Suppressed?
                  %li.toggle-col-tmi{'data-column':'9'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-suppression-source-checkbox'} Suppression Source
                  %li.toggle-col-tmi{'data-column':'10'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-suppression-platform-checkbox'} Suppression Platform
                  %li.toggle-col-tmi{'data-column':'11'}
                    %input{type: 'checkbox', checked: true, id: 'tmi-suppression-date-checkbox'} Suppression Date
          %div
            %label.toolbar-section-label View
            %span.context-tags-toggle.suppressed-context-tags-toggle
              %input.cb-suppressed-tags{type:'checkbox', checked: true}
              %span.toggle-label Suppressed Tags
            %span.context-tags-toggle.unsuppressed-context-tags-toggle
              %input.cb-suppressed-tags{type:'checkbox', checked: true}
              %span.toggle-label Unsuppressed Tags
          %div
            %label.toolbar-section-label Actions
            %button.toolbar-button.add-context-tag-button.dialog-button{onclick: 'add_context_tags_dialog();'}
              %span.toolbar-button-text Add Tag
            %button.toolbar-button.suppress-context-tag-button
              %span.toolbar-button-text Suppress Tag
            %button.toolbar-button.unsuppress-context-tag-button
              %span.toolbar-button-text Unsuppress Tag
            %button.toolbar-button.remove-context-tag-button
              %span.toolbar-button-text Remove Tag

        -# tmi dt on both webrep and filerep
        %table.ctt-table#webrep-tmi-dt.tmi-table.webrep-tmi-table
          %thead
            %tr
              %th
                %input.tmi-cb-select-all{type:'checkbox'}
              %th Observable
              %th Tag Name
              %th Mnemonic
              %th Taxonomy
              %th Source
              %th Processor
              %th Report Date
              %th Suppressed?
              %th Suppression Source
              %th Suppression Platform
              %th Suppression Date
          %tbody.tmi-tbody

      %p.tmi-loader.ctt-loader
        = inline_svg 'icon_gears_loader.svg', class: 'gears-icon'
        %span.loader-msg Loading...


    -# enrichment data for webrep and filerep
    %h2 Enrichment Service
    .enrichment-area

      %table#webrep-enrichment-dt.ctt-table.enrichment-table.webrep-enrichment-table.hidden
        %thead
          %tr
            %th Context
            %th Taxonomy
            %th Name
            %th Description
            %th External References
        %tbody

      %p.enrichment-loader.ctt-loader
        = inline_svg 'icon_gears_loader.svg', class: 'gears-icon'
        %span.loader-msg Loading...


    -# prevalence data for webrep and filerep
    %h2 Prevalence
    .prevalence-area

      %table#webrep-prevalence-dt.ctt-table.prevalence-table.webrep-prevalence-table.hidden
        %thead
          %th Dataset
          %th Count
          %th First Seen
          %th Last Seen
        %tbody

      %p.prevalence-loader.ctt-loader
        = inline_svg 'icon_gears_loader.svg', class: 'gears-icon'
        %span.loader-msg Loading...



-# add tags dialog below, dont put in separate file, code is simple enough to leave here
#add-context-tags-dialog{title: 'Add Tags to Observable'}
  .dialog-content-wrapper
    .row.taxonomy-row
      .col-xs-6
        %label.tag-label
          Taxonomy
        -# context tags js will generate options below
        %select.taxonomy-select
      .col-xs-6
        %label.tag-label
          Tag Search
        %input.context-tags-search

    .row.tags-content-row
      .col-xs-12
        %label.tag-label
          Results
        -# all entries generated into below div
        .tag-entries-area

    .row.save-button-row
      .col-xs-12.text-center
        %button.secondary Cancel
        %button.primary Save
