.modal#flash_modal{role: "dialog"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header.user
        %h4.modal-title#flash-modal-title
          Information Alert
      .modal-body.center-block.info-alert
      .modal-footer
        %button.btn.btn-primary{type: "button", "data-dismiss": "modal"}
          Ok
