.modal.fade#loader-modal
  .modal-dialog{role: 'document'}
    .modal-content
      .message-div
        %button.close{'data-dismiss': 'modal', 'aria-label': 'Close'}
        %h1 Loading Data...
        .loader-gears
          =inline_svg 'icon_gears_loader.svg'
        .confirmation-buttons.hidden
          %button.panel-button.call-to-action.confirm.wide{'aria-label': 'Confirm'} Confirm
          %button.panel-button.secondary.cancel.wide{'data-dismiss': 'modal', 'aria-label': 'Cancel'} Cancel
