.modal.fade#loader-modal
  .modal-dialog{role: 'document'}
    .modal-content
      #loading-div.message-div
        %button.close{'data-dismiss': 'modal', 'aria-label': 'Close'}
        %h1 Loading Data...
        .loader-gears
          =inline_svg 'icon_gears_loader.svg'
      #api-msg.message-div{class: 'hidden-msg'}
        #message-text= 'message'
        .confirmation-buttons.hidden
          %button.panel-button.call-to-action.confirm.wide{'aria-label': 'Confirm'} Confirm
          %button.panel-button.secondary.cancel.wide{'data-dismiss': 'modal', 'aria-label': 'Cancel'} Cancel
