%h1 Admin Tools Page

.control-banner
  .control-button-div
    .control-button
      %a{href: escalations_other_admin_tools_tasks_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Tasks