%h1 Admin Tools Page

.control-banner
  .control-button-div
    .control-button
      %a{href: escalations_other_admin_tools_tasks_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Tasks

    .control-button-div
      .control-button
        %a{href: escalations_other_admin_tools_delayed_job_web_path}
          %i.glyphicon.glyphicon-pencil
          .button-text Delayed Job Management



%input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}/
%input{:name => "current_user_id", :type => "hidden", :value => "#{current_user.id}"}/
