<div class="jumbotron">
  <div class="col-sm-offset-2">
    <p class="tagline">
      Please wait while we sign you in.
    </p>
  </div>
</div>

<script>
  function signIn(){
    var response_promise = $.ajax({
      url: "/sessions/create",
      method: 'POST'
    }).done(function (data, status, response_promise) {
      window.location.replace("/")
    }).fail(function (response_promise,status, err) {
      $(".tagline").html(response_promise.responseJSON['errors'][0])
    });
  };
  window.onload = signIn;
</script>