<div class="jumbotron">
  <div class="col-sm-offset-2">
    <p class="tagline">

      <% if Rails.env == "production" %>
          Please sign in using your CEC credentials
      <% else %>
          Please sign in using your Talos credentials
      <% end %>
      <%= form_tag('/sessions/create', method: :post, :content_type => 'application/json') do -%>
        <div class="container">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit">Login</button>
        </div>
    <% end %>

    </p>
  </div>
</div>
