
<p>
  <%= link_to 'bugs', bugs_path %>
</p>
<p>
  <%= link_to 'rules', rules_path %>
</p>
<p>
  <%= link_to 'attachments', attachments_path %>
</p>
<p>
  <%= link_to 'exploits', exploits_path %>
</p>



