<div>
  <div style="float: left;">
    <div style="float: left;">
      &nbsp;
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a href="/escalations/webrep_disputes/dashboard">[dashboard]</a>
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a href="/escalations/webrep_disputes/dashboard">[tickets]</a>
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a href="/escalations/webrep_disputes/research">[research]</a>
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a>[&nbsp;|&nbsp;]</a>
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black; hover: ">
      <a> &#8643;|&#8638; FILTER</a>
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a> &#43; NEW TICKET</a>
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left; padding: 10px; border: 1px solid black;">
      <a> &#8615; IMPORT</a>
    </div>
    <div style="float: left;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float: left; padding: 6px; border: 1px solid black;">
      <input type="text">
      <input type="button" value="ADVANCED" />
    </div>
  </div>
</div>