<!--<h1> view single record </h1>-->
<div class="content-wrapper">
  <div class="row">
    <div class="col-xs-1 col-with-divider">
      <span class="bug-state-info bug-priority p-1">P1</span>
      <span class="email-button">Email Icon</span>
    </div>
    <div class="col-xs-1 col-with-divider">
      <label class="content-label-sm">Case ID</label>
      <div class="bug-top-id">
        <a>01402523</a>
      </div>
    </div>
    <div class="col-xs-1 bug-state-col">
      <label class="content-label-sm">Status</label><br/>
      <span class="bug-state-info bug-state">
        New
      </span>
    </div>
    <div class="col-xs-1 col-with-divider">
      <label class="content-label-sm">Owner</label>
      <div>
        Unassigned <span class="take-button">hand icon</span>
      </div>
    </div>
    <div class="col-xs-2 col-with-divider">
      <label class="content-label-sm">Suggested Designation</label>
      <div>
        <span class="designation">Malicious: Phishing</span>
      </div>
    </div>
    <div class="col-xs-3 col-with-divider">
      <label class="content-label-sm">Dispute</label>
      <div>
        paragon-downloads.com
      </div>
    </div>
    <div class="col-xs-2 col-with-divider">
      <label class="content-label-sm">Date/Time Submitted</label>
      <div>
        2017-10-24 15:35:24
      </div>
    </div>
    <div class="col-xs-1 col-with-divider">
      <label class="content-label-sm">Age</label>
      <div>
        35m 36s
      </div>
    </div>
  </div>
<!--  TODO: Put the arrow button under this that expands the content (see mockup p.16 to p. 17)-->
</div>


        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="bug-tabs">
          <li role="presentation" class="nav-item active">
            <a href="#communication" class="nav-link" aria-controls="communication" role="tab" data-toggle="tab" id="communication-tab-link">Communication</a>
          </li>
          <li role="presentation">
            <a href="#research" class="nav-link" aria-controls="research" role="tab" data-toggle="tab" id="research-tab-link">Research</a>
          </li>
          <li role="presentation">
            <a href="#related" class="nav-link" aria-controls="related" role="tab" data-toggle="tab" id="related-tab-link">Related Cases</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content content-wrapper" id="bug-tab-content">
          <div class="tab-pane active"  id="communication" role="tabpanel">
            <div class="content-wrapper">
              <div class="row">
                <div class="col-xs-4">
                  <h3>Case History</h3>
                  <div class="row">
                    <div class="col-xs-6">Sort By [DROPDOWN]</div>
                    <div class="col-xs-6">Show [DROPDOWN]</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="row">
                        <div class="col-xs-1">
                          e
                        </div>
                        <div class="col-xs-9">
                          <strong>mtaylor@paragon-downloads.com</strong><br/>
                          <span class="text-muted">RE: [E][Paragon-downloads.com] Thanks for your great...</span>
                        </div>
                        <div class="col-xs-2">
                          2017-10-24<br/>
                          15:35:24
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-1">
                          e
                        </div>
                        <div class="col-xs-9">
                          <strong>mtaylor@paragon-downloads.com</strong><br/>
                          <span class="text-muted">RE: [E][Paragon-downloads.com] Thanks for your great...</span>
                        </div>
                        <div class="col-xs-2">
                          2017-10-24<br/>
                          15:35:24
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-1">
                          e
                        </div>
                        <div class="col-xs-9">
                          <strong>mtaylor@paragon-downloads.com</strong><br/>
                          <span class="text-muted">RE: [E][Paragon-downloads.com] Thanks for your great...</span>
                        </div>
                        <div class="col-xs-2">
                          2017-10-24<br/>
                          15:35:24
                        </div>
                      </div>

                    </div>


                  </div>
                </div>
                <div class="col-xs-5">
                  <h3>Communication</h3>
                  <div class="row">
                    <div class="col-xs-8">
                      <h4>RE: [E] [Paragon-downloads.com] Thanks for your great... support. Can you please let us know what other </h4>
                      From: <strong>Monica Taylor - mtaylor@paragon-downloads.com</strong><br />
                      To: Senderbase Support - support@senderbase.org
                    </div>
                    <div class="col-xs-1">
                      [REPLY] [FORWARD]<br />
                      2017-10-24<br />
                      15:35:24
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <pre>
———————— Original Message ——————————
From: Monica Taylor [mtaylor@paragon-downloads.com] Sent:
4/2/2018 1:16 PM
To: support@senderbase.org
Subject: RE: [E] [Paragon-downloads.com] Thanks for your great... support. Can you please let us
know what other actions do we need to take....

Inquiry Type: email
Key Rules:
Problem Summary: Thanks for your great support. Can you please let us know what other actions do
we need to take. We send informational material of technical nature and conduct webinars. Please
call us at 949 825 6282, if you have any questions.

Thanks, Monica

IPs to be Investigated:
69.64.99.250
69.64.99.250
69.64.99.250
69.64.99.250
69.64.99.250
69.64.99.250
69.64.99.250
69.64.99.250


———————— ———————— ————————

CAUTION: DO NOT DELETE THE REFERENCE ID BELOW Case No: 014
                      </pre>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <h3>Notes</h3>
                  <div class="row single-message-holder">
                    <div class="col-xs-4">Written by <strong>melitayl</strong> 1 day ago</div>
                    <div class="col-xs-4">2017-10-24 15:35:24</div>
                    <div class="col-xs-2">BUTTONS</div>
                    <div class="col-xs-2"><!-- i am only a spacer --></div>
                    <div class="col-xs-10">
                      This is a note regarding this ticket. I have looked into this information and it appears to be correct.
                    </div>
                  </div>
                  <div class="row">
                    <p class="text-center"><a class="btn btn-primary">Add Note</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="research">
            research
          </div>
          <div role="tabpanel" class="tab-pane" id="related">
            related cases
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
