<h1> view single record </h1>

<div class="content-wrapper">
  <div class="row">
    <div class="col-xs-1 col-with-divider">
      <span class="bug-state-info bug-priority p-1">P1</span>
      <span class="email-button">Email Icon</span>
    </div>
    <div class="col-xs-1 col-with-divider">
      <label class="content-label-sm">Case ID</label>
      <div>
        01402523
      </div>
    </div>
    <div class="col-xs-1 col-with-divider">
      <label class="content-label-sm">Status</label>
      <div>
        New
      </div>
    </div>
    <div class="col-xs-1 col-with-divider">
      <label class="content-label-sm">Owner</label>
      <div>
        Unassigned <span class="take-button">hand icon</span>
      </div>
    </div>
    <div class="col-xs-2 col-with-divider">
      <label class="content-label-sm">Suggested Designation</label>
      <div>
        <span class="designation">Malicious: Phishing</span>
      </div>
    </div>
    <div class="col-xs-3 col-with-divider">
      <label class="content-label-sm">Dispute</label>
      <div>
        paragon-downloads.com
      </div>
    </div>
    <div class="col-xs-2 col-with-divider">
      <label class="content-label-sm">Date/Time Submitted</label>
      <div>
        2017-10-24 15:35:24
      </div>
    </div>
    <div class="col-xs-1 col-with-divider">
      <label class="content-label-sm">Age</label>
      <div>
        35m 36s
      </div>
    </div>
  </div>
<!--  TODO: Put the arrow button under this that expands the content (see mockup p.16 to p. 17)-->
</div>