<h1> view single record </h1>

<div class="content-wrapper">
  <div class="row">
    <div class="col-xs-1 col-with-divider">
      <label class="content-label-sm">Bugzilla ID</label>
      <div class="bug-top-id">
        <a class="bugzilla_id" href="" id="bugzilla_" target="_blank">111111</a>
      </div>
      <input type="hidden" name="bug_id" value="111111">
    </div>
    <div class="col-xs-8 col-with-divider">
      <label class="content-label-sm">Summary</label>
      <div class="">
        summary
      </div>
    </div>
    <div class="col-xs-2 bug-state-col">
      <span class="bug-state-info bug-priority p-1"></span>
      state
    </div>
    <div class="col-xs-1">
      <label class="content-label-sm">Due Date</label>
      <div>
        2018-12-22
      </div>
    </div>
  </div>
</div>