.row.ce-history-tab
  .col-xs-6.ce-history-column
    %h1.ce-tab-title
      History
    %h5.text-uppercase
      domain history
    %table.data-report-table.bottom-divider#ce_domain_history_table
      %thead
        %tr
          %th
            action
          %th
            confidence
          %th
            time
          %th
            user
          %th
            category
      %tbody#ce_domain_history_table_body
    %h5.text-uppercase
      entry history
    %table.data-report-table.bottom-divider#ce_entry_history_table
      %thead
        %tr
          %th
            time
          %th
            user
          %th
            details
    %h5.text-uppercase
      xbrs history
    %table.data-report-table.bottom-divider#ce_xbrs_history_table
      %thead
        %tr
          %th
            cat mnemonic
          %th
            creation time
          %th
            subdomain
          %th
            domain
          %th
            path
          %th
            operation
      %tbody#ce_xbrs_history_table_body
    %h5.text-uppercase
      related history
    %table.data-report-table#ce_related_history_table
      %thead
        %tr
          %th
            subdomain
          %th
            domain
          %th
            path
          %th
            categories
          %th
            user/source
          %th
            last modified
      %tbody#ce_related_history_table_body
