.content-wrapper
  %h1#filerep-index-title All File Reputation Tickets

  -#Toolbar here
  Add table below
  .row
    .col-xs-12
      %table.table.responsive#filerep-index-table
        %thead
          %tr
            %th Header cell
        %tbody
          %tr
            %td Cell
