#amp-history-dialog{title: 'AMP File History', style: 'padding: 10px'}
  %p{style: 'padding: 10px; font-style: italic; color: #999;'} NOTE: This is not a complete history of this file's disposition.
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Disposition
        %th Name
        %th User
        %th Poke Server
        %th Mode
    %tbody
