.toolbar.file-rep-index-toolbar
  %div
    %label.toolbar-section-label
      View
    %span.dropdown
      %button#file-index-table-show-columns-button.toolbar-button.show-col-button.dropdown-toggle.esc-tooltipped{title: 'Show/Hide Columns', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Show/Hide Columns
      .dropdown-menu.toolbar-dropdown#file-index-table-show-columns-dropdown{'aria-labelledby': 'file-index-table-show-columns-button'}
        %ul
          %li.toggle-vis-file-rep{'data-column':'1'}
            %input{type: 'checkbox', checked: true, id: 'id-checkbox'} Case ID
          %li.toggle-vis-file-rep{'data-column':'2'}
            %input{type: 'checkbox', checked: true, id: 'status-checkbox'} Status
          %li.toggle-vis-file-rep{'data-column':'3'}
            %input{type: 'checkbox', id: 'resolution-checkbox'} Resolution
          %li.toggle-vis-file-rep{'data-column':'4'}
            %input{type: 'checkbox', checked: true, id: 'file-name-checkbox'} File Name
          %li.toggle-vis-file-rep{'data-column':'5'}
            %input{type: 'checkbox', checked: true, id: 'sha256-checkbox'} SHA256
          %li.toggle-vis-file-rep{'data-column':'6'}
            %input{type: 'checkbox', checked: true, id: 'file-size-checkbox'} File Size
          %li.toggle-vis-file-rep{'data-column':'7'}
            %input{type: 'checkbox', checked: true, id: 'sample-type-checkbox'} Sample Type
          %li.toggle-vis-file-rep{'data-column':'8'}
            %input{type: 'checkbox', checked: true, id: 'amp-disp-checkbox'} AMP Disposition
          %li.toggle-vis-file-rep{'data-column':'9'}
            %input{type: 'checkbox', checked: true, id: 'amp-name-checkbox'} AMP Detection Name
          %li.toggle-vis-file-rep{'data-column':'10'}
            %input{type: 'checkbox', id: 'amp-date-checkbox'} AMP Detection Created
          %li.toggle-vis-file-rep{'data-column':'11'}
            %input{type: 'checkbox', id: 'in-zoo-checkbox'} In Zoo

        %ul
          %li.toggle-vis-file-rep{'data-column':'12'}
            %input{type: 'checkbox', checked: true, id: 'sandbox-score-checkbox' } Sandbox Score
          %li.toggle-vis-file-rep{'data-column':'13'}
            %input{type: 'checkbox', checked: true, id: 'threatgrid-score-checkbox'} TG Score
          %li.toggle-vis-file-rep{'data-column':'14'}
            %input{type: 'checkbox', checked: true, id: 'reversing-labs-checkbox'} Reversing Labs
          %li.toggle-vis-file-rep{'data-column':'15'}
            %input{type: 'checkbox', checked: true, id: 'suggested-disp-checkbox'} Suggested Disposition
          %li.toggle-vis-file-rep{'data-column':'16'}
            %input{type: 'checkbox', id: 'time-submitted-checkbox'} Time Submitted
          %li.toggle-vis-file-rep{'data-column':'17'}
            %input{type: 'checkbox', id: 'submitter-type-checkbox'} Submitter Type
          %li.toggle-vis-file-rep{'data-column':'18'}
            %input{type: 'checkbox', id: 'customer-name-checkbox'} Customer Name
          %li.toggle-vis-file-rep{'data-column':'19'}
            %input{type: 'checkbox', id: 'customer-org-checkbox'} Customer Organization
          %li.toggle-vis-file-rep{'data-column':'20'}
            %input{type: 'checkbox', checked: true, id: 'customer-email-checkbox'} Customer Email
          %li.toggle-vis-file-rep{'data-column':'21'}
            %input{type: 'checkbox', id: 'assignee-checkbox'} Assignee

  %div
    %label.toolbar-section-label
      Owner
    %button.toolbar-button.take-ticket-button-full.esc-tooltipped.toolbar-button-spacer{title: 'Assign to me', onclick: 'filerep_take_disputes();'}
      %span.toolbar-button-text
        Take Ticket
    %span.dropdown
      %button#index_change_assign.toolbar-button.ticket-owner-button.show-col-button.dropdown-toggle.esc-tooltipped{title: 'Change Assignee', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Change Assignee
      .dropdown-menu.toolbar-dropdown#index-change-assign-dropdown{'aria-labelledby': 'index_change_assign'}
        .toolbar
          %div
            %label.toolbar-section-label Assignee
            %select{name: 'index_target_assignee', id: 'index_target_assignee', class:'toolbar-select'}
              - User.joins(roles: :org_subset).where(org_subsets: { name: 'file rep' }).distinct.order(:cvs_username).each do |u|
                %option{id: u.id, value: u.id, label: u.cvs_username}
          %button{class: 'primary', type:'button', id: 'button_reassign', onclick:'toolbar_index_change_assignee();'}
            Assign

  %div
    %label.toolbar-section-label
      Edit Ticket
    %span.dropdown
      %button#index_ticket_status.toolbar-button.ticket-status-button.dropdown-button-margin-right.dropdown-toggle.esc-tooltipped.toolbar-button-spacer{title: 'Edit Ticket Status', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Edit Ticket Status
      .dropdown-menu.toolbar-dropdown#index-edit-ticket-status-dropdown{'aria-labelledby': 'index_ticket_status'}
        %ul
          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'RESEARCHING', value:'RESEARCHING' }
            %label.ticket-status-radio-label.radio-label{for: 'RESEARCHING'} Researching
          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'ESCALATED', value: 'ESCALATED'}
            %label.ticket-status-radio-label.radio-label{for: 'ESCALATED'} Escalated
          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'CUSTOMER_PENDING', value: 'CUSTOMER_PENDING'}
            %label.ticket-status-radio-label.radio-label{for: 'CUSTOMER_PENDING'} Customer Pending
          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'ON_HOLD', value: 'ON_HOLD'}
            %label.ticket-status-radio-label.radio-label{for: 'ON_HOLD'} On Hold
          %li.status-radio-wrapper
            %input.ticket-status-radio.index-resolution-drodown-menu{type: 'radio', name: 'ticket-status', id: 'RESOLVED_CLOSED', value: 'RESOLVED_CLOSED'}
            %label.ticket-status-radio-label.radio-label{for: 'RESOLVED_CLOSED'} Resolved / Closed
            .dropdown-menu#index-ticket-resolution-submenu
              .col-xs-6.submenu-left-wrapper
                .submenu-header
                  Ticket Resolution
                %ul
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'FIXED_FP', value: 'FIXED_FP'}
                    %label.ticket-res-radio-label.radio-label{for: 'FIXED_FP'} Fixed - FP
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'FIXED_FN', value: 'FIXED_FN'}
                    %label.ticket-res-radio-label.radio-label{for: 'FIXED_FN'} Fixed - FN
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'UNCHANGED', value: 'UNCHANGED'}
                    %label.ticket-res-radio-label.radio-label{for: 'UNCHANGED'} Unchanged
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'TEST_TRAINING', value: 'TEST_TRAINING'}
                    %label.ticket-res-radio-label.radio-label{for: 'TEST_TRAINING'} Test / Training
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'OTHER', value: 'OTHER'}
                    %label.ticket-res-radio-label.radio-label{for: 'OTHER'} Other
              .col-xs-6.submenu-right-wrapper
                .resolution-comment-wrapper
                  %label.content-label-sm.customer-facing-comment
                    Customer Facing Comment
                  %textarea.resolution-status-comment
                  .button-row-center
                    %button.primary.change_ticket_status_button{type:'button', id:'webrep_resolve_ticket', onclick:'update_file_rep_status();'}
                      Submit
          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'ON_HOLD', value: 'RE-OPENED'}
            %label.ticket-status-radio-label.radio-label{for: 'RE-OPENED'} Re-Opened

          %li.non-resolution-submit-wrapper#ticket-non-res-submit
            %label.content-label-sm
              Comment
            %textarea.ticket-status-comment
            .button-row-center
              %button.primary.change_ticket_status_button{type:'button', id:'webrep_change_ticket_status', onclick:'update_file_rep_status();'}
                Submit

    %span.dropdown
      %button#file-det-button.toolbar-button.detection-button.dropdown-toggle.esc-tooltipped{title: 'Create Detection', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Create or Change Detection
      .dropdown-menu.toolbar-dropdown#file-det-dropdown{'aria-labelledby': 'file-disp-button'}
        .inline-tool-content-wrapper.plain-inline-dropdown-wrapper
          .row
            .col-xs-12
              %label.content-label-sm.full-row-label  New Disposition
          .row
            .col-xs-12
              %select#new-amp-detection-disp{onchange: 'amp_detection_naming("index");'}
                %option{value: FileReputationDispute::DISPOSITION_CLEAN} Clean
                %option{value: FileReputationDispute::DISPOSITION_COMMON} Common
                %option{value: FileReputationDispute::DISPOSITION_MALICIOUS} Malicious
                %option{value: FileReputationDispute::DISPOSITION_UNKNOWN} Unknown

          #new-amp-detection-name-dd-section
            .row.nested-col-row
              .col-xs-12
                %label.content-label-sm.full-row-label  New Detection Name
            .row.nested-col-row
              .col-xs-3.nested-col
                %select.form-control#new-amp-detection-name-pre
                  %option{value: 'Andr'} Andr
                  %option{value: 'Archive'} Archive
                  %option{value: 'Asp'} Asp
                  %option{value: 'Cert'} Cert
                  %option{value: 'Clamav'} Clamav
                  %option{value: 'Clean'} Clean
                  %option{value: 'Css'} Css
                  %option{value: 'Doc'} Doc
                  %option{value: 'Dos'} Dos
                  %option{value: 'Eicar'} Eicar
                  %option{value: 'Email'} Email
                  %option{value: 'Embedded'} Embedded
                  %option{value: 'Emf'} Emf
                  %option{value: 'Heuristics'} Heuristics
                  %option{value: 'Html'} Html
                  %option{value: 'Hunting'} Hunting
                  %option{value: 'Hwp'} Hwp
                  %option{value: 'Img'} Img
                  %option{value: 'Ios'} Ios
                  %option{value: 'Java'} Java
                  %option{value: 'Js'} Js
                  %option{value: 'Legacy'} Legacy
                  %option{value: 'Lnk'} Lnk
                  %option{value: 'Midi'} Midi
                  %option{value: 'Mkv'} Mkv
                  %option{value: 'Mp4'} Mp4
                  %option{value: 'Multios'} Multios
                  %option{value: 'Osx'} Osx
                  %option{value: 'Packed'} Packed
                  %option{value: 'Pdf'} Pdf
                  %option{value: 'Phish'} Phish
                  %option{value: 'Phishtank'} Phishtank
                  %option{value: 'Php'} Php
                  %option{value: 'Ppt'} Ppt
                  %option{value: 'Py'} Py
                  %option{value: 'Rat'} Rat
                  %option{value: 'Rtf'} Rtf
                  %option{value: 'Spy'} Spy
                  %option{value: 'Submit'} Submit
                  %option{value: 'Svg'} Svg
                  %option{value: 'Swf'} Swf
                  %option{value: 'Symbos'} Symbos
                  %option{value: 'Test'} Test
                  %option{value: 'Tif'} Tif
                  %option{value: 'Tool'} Tool
                  %option{value: 'Ttf'} Ttf
                  %option{value: 'Txt'} Txt
                  %option{value: 'Unix'} Unix
                  %option{value: 'Vbs'} Vbs
                  %option{value: 'W32S'} W32S
                  %option{value: 'Win'} Win
                  %option{value: 'Wma'} Wma
                  %option{value: 'Xls'} Xls
                  %option{value: 'Xml'} Xml
              .col-xs-4.nested-col
                %select.form-control#new-amp-detection-name-cat{onchange: 'amp_category_naming();'}
                  %option{value: 'Adware'} Adware
                  %option{value: 'Coinminer'} Coinminer
                  %option{value: 'Downloader'} Downloader
                  %option{value: 'Dropper'} Dropper
                  %option{value: 'Exploit'} Exploit
                  %option{value: 'File'} File
                  %option{value: 'Filetype'} Filetype
                  %option{value: 'Ircbot'} Ircbot
                  %option{value: 'Joke'} Joke
                  %option{value: 'Keylogger'} Keylogger
                  %option{value: 'Macro'} Macro
                  %option{value: 'Malware'} Malware
                  %option{value: 'Packed'} Packed
                  %option{value: 'Packer'} Packer
                  %option{value: 'Phishing'} Phishing
                  %option{value: 'Proxy'} Proxy
                  %option{value: 'Ransomware'} Ransomware
                  %option{value: 'Revoked'} Revoked
                  %option{value: 'Rootkit'} Rootkit
                  %option{value: 'Spyware'} Spyware
                  %option{value: 'Test'} Test
                  %option{value: 'Tool'} Tool
                  %option{value: 'Trojan'} Trojan
                  %option{value: 'Virus'} Virus
                  %option{value: 'Worm'} Worm
                  %option{value: ''} No Category Name
              .col-xs-4.nested-col
                %input#new-amp-detection-name-middle{type: 'text'}
              .col-xs-1.nested-col
                %span#new-amp-detection-name-end.uneditable-formfield{value: 'Talos'} .Talos

          %hr.thin
          .comment-wrapper
            %label.content-label-sm Comment
            %textarea.dropdown-comment
          .button-row-center
            -# TODO hookup submission of dropdown
            %button.primary.dropdown-submit-button{onclick: 'amp_detection_submission(event, "index");'}
              Submit
  %div
    %label.toolbar-section-label
      File
    %form#disputes-index-export-form{action: escalations_webrep_disputes_path(format: :xlsx), method: :get}
      = hidden_field_tag('data_json', '{}', id: 'disputes-index-export-data-input')
      %button.toolbar-button.export-button.esc-tooltipped{title: 'Export to CSV'}
        %span.toolbar-button-text
          Export to CSV

