#naming-guide-dialog{title: 'AMP Naming Conventions Guide'}
  - if @conventions.any?
    %table.table
      %thead
        %tr
          %th Pattern
          %th Example
          %th Engine Description
          %th.text-center Notes
      %tbody
        - @conventions.each do |convention|
          %tr
            %td
              %span= convention.pattern
            %td= convention.example
            %td= convention.engine_description
            %td.text-center
              - if convention.notes
                %span{class: 'nav-toolbar-icon icon-notes esc-tooltipped tooltipstered', title: "#{convention.notes}"}

  - else
    %h3
      No naming conventions defined


