.row
  .col-xs-12.col-sm-4
    %h2 Talos Sandbox
    %hr

  .col-xs-12.col-sm-4
    %h2 Threat Grid
    %hr
      .col-sm-5
        %h3 SUBMITTED TO TG
        %span#submitted_to_tg
      .col-sm-5
        %h3 RUN STATUS
        %span#run_status
      .col-sm-2
        %span#threat_score
        %h3 24
        Threat Score
    %hr
    %br

    %div.tags
      %h2 Tags
      %span#tags cat_tag
    %hr

    %h2 SANDCASTLE ENV
    %h3 CONTROL
    %span#control
    %h3 VM NAME
    %span#vm_name
    %h3 RUN TIME
    %span#run_time
    %h3 OS
    %span#os
    %hr

    %div.behaviors
      %h2 Behaviors
      %br
      %h3 Name
      %span.behavior_name
      %h3 Threat
      %span.behavior_threat
      %h3 Title
      %span.behavior_title
    %hr

    %div
      %h2 FULL JSON
      %p.full_json Test
  .col-xs-12.col-sm-4
    %h2 Reversing Labs
    %hr
