.content-wrapper
  %h1#filerep-index-title All File Reputation Tickets

  = render('index_toolbar')

  .row
    .col-xs-12
      %table.table.responsive#file-rep-datatable{'data-source': escalations_file_rep_disputes_path(format: :json)}
        %thead
          %tr
            %th
            -#  Checkbox column
            %th Case ID
            %th Status
            %th Resolution
            %th File Name
            %th SHA256
            %th File Size
            %th Sample Type
            %th AMP Disp
            %th AMP Detection Name
            %th AMP Detection Created
            %th In Zoo
            %th Sandbox Score
            %th TG Score
            %th Reversing Labs
            %th Suggested Disp
            %th Time Submitted
            %th Submitter Type
            %th Customer Name
            %th Customer Organization
            %th Customer Email
            %th Assignee
        %tbody
