.content-wrapper
  %h1#filerep-index-title All File Reputation Tickets
  .toolbar.file-rep-index-toolbar
    %div
      %label.toolbar-section-label
        View
      %span.dropdown
        %button#file-index-table-show-columns-button.toolbar-button.show-col-button.dropdown-toggle.esc-tooltipped{title: 'Show/Hide Columns', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
          %span.toolbar-button-text
            Show/Hide Columns
        .dropdown-menu.toolbar-dropdown#file-index-table-show-columns-dropdown{'aria-labelledby': 'file-index-table-show-columns-button'}
          %ul
            %li.toggle-vis-file-rep{'data-column':'1'}
              %input{type: 'checkbox', checked: true, id: 'id-checkbox'} Case ID
            %li.toggle-vis-file-rep{'data-column':'2'}
              %input{type: 'checkbox', checked: true, id: 'status-checkbox'} Status
            %li.toggle-vis-file-rep{'data-column':'3'}
              %input{type: 'checkbox', id: 'resolution-checkbox'} Resolution
            %li.toggle-vis-file-rep{'data-column':'4'}
              %input{type: 'checkbox', checked: true, id: 'file-name-checkbox'} File Name
            %li.toggle-vis-file-rep{'data-column':'5'}
              %input{type: 'checkbox', checked: true, id: 'sha256-checkbox'} SHA256
            %li.toggle-vis-file-rep{'data-column':'6'}
              %input{type: 'checkbox', checked: true, id: 'file-size-checkbox'} File Size
            %li.toggle-vis-file-rep{'data-column':'7'}
              %input{type: 'checkbox', checked: true, id: 'sample-type-checkbox'} Sample Type
            %li.toggle-vis-file-rep{'data-column':'8'}
              %input{type: 'checkbox', checked: true, id: 'amp-disp-checkbox'} AMP Disposition
            %li.toggle-vis-file-rep{'data-column':'9'}
              %input{type: 'checkbox', checked: true, id: 'amp-name-checkbox'} AMP Detection Name
            %li.toggle-vis-file-rep{'data-column':'10'}
              %input{type: 'checkbox', id: 'amp-date-checkbox'} AMP Detection Created
            %li.toggle-vis-file-rep{'data-column':'11'}
              %input{type: 'checkbox', id: 'in-zoo-checkbox'} In Zoo

          %ul
            %li.toggle-vis-file-rep{'data-column':'12'}
              %input{type: 'checkbox', checked: true, id: 'sandbox-score-checkbox' } Sandbox Score
            %li.toggle-vis-file-rep{'data-column':'13'}
              %input{type: 'checkbox', checked: true, id: 'threatgrid-score-checkbox'} TG Score
            %li.toggle-vis-file-rep{'data-column':'14'}
              %input{type: 'checkbox', checked: true, id: 'reversing-labs-checkbox'} Reversing Labs
            %li.toggle-vis-file-rep{'data-column':'15'}
              %input{type: 'checkbox', checked: true, id: 'suggested-disp-checkbox'} Suggested Disposition
            %li.toggle-vis-file-rep{'data-column':'16'}
              %input{type: 'checkbox', id: 'time-submitted-checkbox'} Time Submitted
            %li.toggle-vis-file-rep{'data-column':'17'}
              %input{type: 'checkbox', id: 'submitter-type-checkbox'} Submitter Type
            %li.toggle-vis-file-rep{'data-column':'18'}
              %input{type: 'checkbox', id: 'customer-name-checkbox'} Customer Name
            %li.toggle-vis-file-rep{'data-column':'19'}
              %input{type: 'checkbox', id: 'customer-org-checkbox'} Customer Organization
            %li.toggle-vis-file-rep{'data-column':'20'}
              %input{type: 'checkbox', checked: true, id: 'customer-email-checkbox'} Customer Email
            %li.toggle-vis-file-rep{'data-column':'21'}
              %input{type: 'checkbox', id: 'assignee-checkbox'} Assignee

    %div
      %label.toolbar-section-label
        Owner
      %button.toolbar-button.take-ticket-button-full.esc-tooltipped.toolbar-button-spacer{title: 'Assign to me'}
        %span.toolbar-button-text
          Take Ticket
      %span.dropdown
        %button#index_change_assign.toolbar-button.ticket-owner-button.show-col-button.dropdown-toggle.esc-tooltipped{title: 'Change Assignee', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
          %span.toolbar-button-text
            Change Assignee
        .dropdown-menu.toolbar-dropdown#index-change-assign-dropdown{'aria-labelledby': 'index_change_assign'}
          .toolbar
            %div
              %label.toolbar-section-label Assignee
              %select{name: 'index_target_assignee', id: 'index_target_assignee', class:'toolbar-select'}
                - User.joins(roles: :org_subset).where(org_subsets: { name: 'webrep' }).distinct.order(:cvs_username).each do |u|
                  %option{id: u.id, value: u.id, label: u.cvs_username}
            %button{class: 'primary', type:'button', id: 'button_reassign', onclick:'toolbar_index_change_assignee();'}
              Assign

    %div
      %label.toolbar-section-label
        Edit Ticket
      %span.dropdown
        %button#index_ticket_status.toolbar-button.ticket-status-button.dropdown-button-margin-right.dropdown-toggle.esc-tooltipped.toolbar-button-spacer{title: 'Edit Ticket Status', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
          %span.toolbar-button-text
            Edit Ticket Status
        .dropdown-menu.toolbar-dropdown#index-edit-ticket-status-dropdown{'aria-labelledby': 'index_ticket_status'}
          %ul
            %li.status-radio-wrapper
              %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'RESEARCHING', value:'RESEARCHING' }
              %label.ticket-status-radio-label.radio-label{for: 'RESEARCHING'} Researching
            %li.status-radio-wrapper
              %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'ESCALATED', value: 'ESCALATED'}
              %label.ticket-status-radio-label.radio-label{for: 'ESCALATED'} Escalated
            %li.status-radio-wrapper
              %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'CUSTOMER_PENDING', value: 'CUSTOMER_PENDING'}
              %label.ticket-status-radio-label.radio-label{for: 'CUSTOMER_PENDING'} Customer Pending
            %li.status-radio-wrapper
              %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'ON_HOLD', value: 'ON_HOLD'}
              %label.ticket-status-radio-label.radio-label{for: 'ON_HOLD'} On Hold
            %li.status-radio-wrapper
              %input.ticket-status-radio.index-resolution-drodown-menu{type: 'radio', name: 'ticket-status', id: 'RESOLVED_CLOSED', value: 'RESOLVED_CLOSED'}
              %label.ticket-status-radio-label.radio-label{for: 'RESOLVED_CLOSED'} Resolved / Closed
              .dropdown-menu#index-ticket-resolution-submenu
                .col-xs-6.submenu-left-wrapper
                  .submenu-header
                    Ticket Resolution
                  %ul
                    %li
                      %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'FIXED_FP', value: 'FIXED_FP'}
                      %label.ticket-res-radio-label.radio-label{for: 'FIXED_FP'} Fixed - FP
                    %li
                      %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'FIXED_FN', value: 'FIXED_FN'}
                      %label.ticket-res-radio-label.radio-label{for: 'FIXED_FN'} Fixed - FN
                    %li
                      %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'UNCHANGED', value: 'UNCHANGED'}
                      %label.ticket-res-radio-label.radio-label{for: 'UNCHANGED'} Unchanged
                    %li
                      %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'INVALID', value: 'INVALID'}
                      %label.ticket-res-radio-label.radio-label{for: 'INVALID'} Invalid / Junk Mail
                    %li
                      %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'TEST_TRAINING', value: 'TEST_TRAINING'}
                      %label.ticket-res-radio-label.radio-label{for: 'TEST_TRAINING'} Test / Training
                    %li
                      %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'OTHER', value: 'OTHER'}
                      %label.ticket-res-radio-label.radio-label{for: 'OTHER'} Other
                .col-xs-6.submenu-right-wrapper
                  .resolution-comment-wrapper
                    %label.content-label-sm.customer-facing-comment
                      Customer Facing Comment
                    %textarea.ticket-status-comment
                    .button-row-center
                      %button.primary.change_ticket_status_button{type:'button', id:'webrep_resolve_ticket', onclick:'change_ticket_status();'}
                        Submit

      %span.dropdown
        %button#file-disp-button.toolbar-button.disposition-button.dropdown-toggle.esc-tooltipped.toolbar-button-spacer{title: 'Change Disposition', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
          %span.toolbar-button-text
            Change Disposition
        .dropdown-menu.toolbar-dropdown#file-disp-dropdown{'aria-labelledby': 'file-disp-button'}
          .toolbar
            %div
              %label.toolbar-section-label Disposition
              %select.toolbar-select
                %option Clean
                %option Common
                %option Malicious
                %option Unknown
            %button{class: 'primary', type:'button', id: 'button_reassign', onclick:'toolbar_index_change_assignee();'}
              Submit

      %span.dropdown
        %button#file-det-button.toolbar-button.detection-button.dropdown-toggle.esc-tooltipped{title: 'Create Detection', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
          %span.toolbar-button-text
            Create Detection
        .dropdown-menu.toolbar-dropdown#file-det-dropdown{'aria-labelledby': 'file-disp-button'}
          .inline-tool-content-wrapper.plain-inline-dropdown-wrapper
            .row
              .col-xs-12
                %label.content-label-sm.full-row-label  Detection Name
            .row
              .col-xs-4
                %select
                  -# TODO Add correct detection options here, these are placeholders
                  %option Win32
                  %option Trojan
                  %option PUA
                  %option Virus
                  %option Generic
              .col-xs-6
                %input.text-input{type: 'text'}
              .col-xs-2
                %span.file-name-extension .Talos
            .row
              .col-xs-12
                %label.content-label-sm.full-row-label  Disposition
            .row
              .col-xs-12
                %select
                  -# TODO Add actual disposition options here, these are placeholders
                  %option Clean
                  %option Common
                  %option Malicious
                  %option Unknown
            %hr.thin
            .comment-wrapper
              %label.content-label-sm Comment
              %textarea.dropdown-comment
            .button-row-center
              -# TODO hookup submission of dropdown
              %button.primary.dropdown-submit-button Submit




    %div
      %label.toolbar-section-label
        File
      %form#disputes-index-export-form{action: escalations_webrep_disputes_path(format: :xlsx), method: :get}
        = hidden_field_tag('data_json', '{}', id: 'disputes-index-export-data-input')
        %button.toolbar-button.export-button.esc-tooltipped{title: 'Export to CSV'}
          %span.toolbar-button-text
            Export to CSV

  .row
    .col-xs-12
      %table.table.responsive#file-rep-datatable{'data-source': escalations_file_rep_disputes_path(format: :json)}
        %thead
          %tr
            %th
            -#  Checkbox column
            %th Case ID
            %th Status
            %th Resolution
            %th File Name
            %th SHA256
            %th File Size
            %th Sample Type
            %th AMP Disp
            %th AMP Detection Name
            %th AMP Detection Created
            %th In Zoo
            %th Sandbox Score
            %th TG Score
            %th Reversing Labs
            %th Suggested Disp
            %th Time Submitted
            %th Submitter Type
            %th Customer Name
            %th Customer Organization
            %th Customer Email
            %th Assignee
        %tbody
