.content-wrapper
  %h1#filerep-index-title All File Reputation Tickets
  #filerep_searchref_container{onmouseover: "triggerTooltips(this)"}
  = render('index_toolbar')

  .row
    .col-xs-12
      %table.table.responsive#file-rep-datatable{'data-source': escalations_file_rep_disputes_path(format: :json)}
        %thead
          %tr
            %th
            -#  Checkbox column
            %th#case-id Case ID
            %th#status Status
            %th#resolution Resolution
            %th#file-name File Name
            %th#sha256 SHA256
            %th#file-size File Size
            %th#sample-type Sample Type
            %th#amp-disp AMP Disp
            %th#amp-name AMP Detection Name
            %th#amp-date AMP Detection Created
            %th#in-zoo In Zoo
            %th#sandbox-score.th-center Sandbox Score
            %th#threatgrid-score.th-center TG Score
            %th#reversing-labs.th-center Reversing Labs
            %th#suggested-disp Suggested Disp
            %th#time-submitted Time Submitted
            %th#submitter-type Submitter Type
            %th#customer-name Customer Name
            %th#customer-org Customer Organization
            %th#customer-email Customer Email
            %th#assignee Assignee
        %tbody
