-#view single record
.row
  .col-sm-6.col-xs-12
    .content-wrapper.top-case-info
      %h4 Ticket Overview
      .row
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Case ID
          %br
          .case-id-tag
            -# Add ruby code for id here
            000084734
          %br
          %label.content-label-sm
            Status
          %br
          -#  Add ruby code for status here
          %select
            %option{'selected': true} New
            %option Assigned
            %option Researching
            %option Closed

        .col-xs-3.col-with-divider
          %label.content-label-sm
            Owner
          -#  Below taken from current webrep
          %div
            - if @dispute.assignee == 'Unassigned'
              %span.missing-data#dispute-assignee= @dispute.assignee || "None"
            - else
              %span= @dispute.assignee || "None"
            - if can? :update, Dispute
              .dispute-owner-buttons-wrapper
                - if @dispute.assignee == current_user.email
                  - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
                    %button.return-ticket-button.esc-tooltipped{title: 'Return ticket to open queue', onclick: 'toolbar_unassign_dispute();'}
                - else
                  - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED) && (@dispute.user.cvs_username == 'vrtincom')
                    %button.take-ticket-button#show_ticket_assign.esc-tooltipped{title: 'Assign this ticket to me', onclick: "take_single_dispute(#{@dispute.id});"}

                  %span.dropdown
                    - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
                      %button#index_change_assign.dispute-inline-buttons.ticket-owner-button.dropdown-toggle.esc-tooltipped{title: 'Change Assignee', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                    .dropdown-menu#show-change-assign-dropdown{'aria-labelledby': 'index_change_assign'}
                      .change-assignee-dropdown-wrapper
                        %h3 Change Assignee
                        .inline-tool-content-wrapper
                          .toolbar
                            %div
                              %label.toolbar-section-label Assignee
                              =select_tag :index_target_assignee, options_from_collection_for_select(User.joins(roles: :org_subset).where(org_subsets: { name: 'webrep' }).distinct.order(:cvs_username), :id, :cvs_username), class: 'toolbar-select'
                            %button{class: 'primary', type:'button', id: 'button_reassign', onclick:'toolbar_show_change_assignee();'}
                              Assign
          %br
          %label.content-label-sm
            Suggested Disposition
          .disposition
            -# Add ruby code here
            Malicious
        .col-xs-4
          %div
            %label Customer Name
            %div
              -# Add ruby code here
              Sam Smith
            %br
            %label Customer Company
            %div
              -# Add ruby code here
              Sam's Seashells
          %div
            %label Customer Email
            %div
              -# Add ruby code here
              sam@samshells.com
        .col-xs-3
          %label.content-label-sm
            Date/Time Submitted
          %div
            -# Add ruby code here
            2019-03-22 13:50:08 UTC
