<%= simple_form_for [:admin, @role] do |role_form| %>
    <div class="row">
      <div class="col-sm-4 form-group">
        <label for="priority">role</label>
        <%= role_form.text_field :role, class: "form-control create-input", required: true %>
        <%= role_form.input :org_subset_id, collection: OrgSubset.all, label: 'Role Organization (Partition) Subset' %>
      </div>
      </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <button class="btn btn-success edit-user" value="submit">Save</button>
        <button class="select-sm btn btn-default hidden" id="synching_user_form_button"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> sinking</button>
        <button class="select-sm btn btn-default hidden" id="saving_user"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> saving</button>
      </div>
    </div>
<%end%>
