<div style="margin-top:50px;">
  <%=link_to  admin_roles_path, class:"btn btn-primary pull-right" do %>
      <i class="glyphicon glyphicon-th-list" title="Back"> Back</i>
  <% end %>
  <h4>New Role</h4>
</div>
<%= render("form") %>