#hamburger-space

.admin-title
  %h1 Schema Migrations Index

#migration-table-div
  %table#migration-table
    %caption Schema Migrations
    %tbody
      - @migrations.each do |migration|
        %tr
          %td= migration.first

