<table class="table index-table">
  <thead>
  <tr>
    <th>CVS Username</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.cvs_username%></td>
    </tr>
  <% end %>
  </tbody>
</table>
