.control-banner
  .control-button-div
    .control-button
      %a{href: admin_root_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Home
    .control-button
      %a{href: admin_migrations_path}
        %i.glyphicon.glyphicon-pencil
        .button-text DB
    .control-button
      %a{href: admin_scheduled_tasks_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Tasks
    .control-button
      %a{href: admin_rules_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Rules
    .control-button
      %a{href: admin_roles_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Roles
    .control-button
      %a{href: admin_org_subsets_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Org Subsets
    .control-button
      %a{href: admin_morsels_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Morsels
      %a{href: admin_notes_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Notes
    .control-button
      %a{href: admin_delayed_jobs_path}
        %i.glyphicon.glyphicon-pencil
        .button-text Delayed Jobs


  .control-banner-content
    .message-div.success-msg
      Your Page Has Been Successfully Loaded

