- content_for(:webcat_page) do
  Rules management

= render "escalations/webcat/shared/dashboard"

%p Here we have categorized rules and uncategorized rules essentially the clusters page
%p Rulebuilder wont be on this page it will be on the complaints page.

%p We also want ot add Rule history here

%p we can also add verifying rules here too