<div class="row">
  <div class="col-sm-12 form-group">
    <label>
      Update Escalations status to:
      <%= select_tag 'new_escalation_status', options_for_select(state_options_for_escalation_close) %>

    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 form-group">
    <label>
      <%= text_area_tag 'new_escalation_message_custom',"",size: "50x2", placeholder: "custom message goes here"%>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 form-group">
    <button class="btn btn-success acknowledge-bug" onclick="bug_resolve(this)" data-dismiss="modal" aria-label="Close" value="submit">
      <span aria-hidden="true">OK</span>
    </button>
  </div>
</div>
