<div class='row item-info'>
  <div class='col-lg-10 col-sm-11'>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="subtitle">Create A New Bug
          <a class="btn btn-xs btn-default" href="/bugs">cancel</a>
        </h2>
        <p>Use this form to open a new bug on bugzilla.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="spacer"></div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <input id="tag_list" class="hidden" value="<%=@tags%>"></input>
</div>
