/* Background Colors */
$base-color:        #edf1f2;    /* Very pale blue  */
$content-bg-color:  #fff;       /* White           */
$nav-toolbar-color: #d7dadb;    /* Medium Grey     */
$sidebar-nav-base:  #2c3e50;    /* Dark Navy       */
$content-tab-color: #3e5a72;    /* Dark Navy shift */
$ac-nav-bg-color:   #fff;       /* White           */

/* Section Colors */
$primary-section-color : #6dbcdb;   /* Medium Blue    */
$second-section-color  : #fc4349;   /* Red            */
$third-section-color   : #EFAF34;   /* Yellow Ochre   */
$fourth-section-color  : #8cc63f;   /* Bright Green   */
$fifth-section-color   : #65A1A1;   /* Dusty Teal     */
$primary-section-color-light : #b5ebff;   /* Light Blue    */
$bug-section-color         : $primary-section-color;
$escalations-section-color : $second-section-color;
$user-section-color        : $third-section-color;
$admin-section-color       : $fourth-section-color;
$document-section-color    : $fifth-section-color;

/* Section Accent Colors */
$bug-accent-color: #65B3D1;
$wiki-highlight-color: #D8E8AC;
$wiki-med-color: #B9D864;
$wiki-dark-color: #334C18;
$user-highlight-color: #FFC5C2;
$user-med-color: #FC9292;
$user-dark-color: #560303;
$warning-accent-color: #E47433;
$warning-dark-color: #d66d31;

/* Tab Icon Colors */
$rule-accent-color: #FDBB2B;
$rule-accent-trans: rgba(253, 187, 43, 0.15);

/* Other */
$success-color: #5FB766;
$success-trans: rgba(95, 183, 102, 0.15);
$disabled-bg: #E5E5E5;
$disabled-txt: #A0A0A0;
$communication-accent-color: #C14B92;
$grey-section-color: #e2e2e2;
$yellow-graph-bar: #f9cf81;
$yet-another-pale-grey: #e8e8e8;

/* Content Label Color */
$content-label-color: #999;     /* Light Grey     */

/* Layout dimensions */
$sidebar-width: 44px;

/* Shadows */
$dropshadow: 2px 0 10px 1px rgba(0,0,0,0.1);

/* Typography Colors */
$type-darkest: #000; /* Black */
$type-base-color:    #333;   /* Dark Grey */
$type-lighter-color: #666;   /* Medium Grey */
$type-faint-accent: #D7DADB; /* Lighter Grey */
$type-lightest: #fff; /* White */
$type-darkest: #000; /* black */

/* Additional Colors */

/* for use on gridlines, form inputs, and other very subtle elements against the content bg color */
$faint-neutral-color: #f2f2f2;
$super-faint-neutral: #f9f9f9;
$faint-accent-color:  #dff1f7;
$faint-alt-highlight: #fff7cd; /* focus for form inputs */
$medium-neutral-color: #EAEAEA;
$dark-neutral-color:  #c2c6c8;
$table-dark-body: #4E4E4E;
$table-dark-header: #413D3D;
