body.rocket-layout
  .verbage
    h1
      text-align: center

    h3
      margin-top: 12px
      margin-bottom: 8px

    p
      margin-top: 0.5em
      margin-bottom: 0.5em

    p.long
      margin-top: 0.25em
      margin-bottom: 0.25em
      text-indent: 2ex
