#hamburger-space
  float: left
  margin: 5px 6px 5px 6px
  height: 40px
  width: 40px

.admin-title
  //margin: 5px 3ex 5px 3ex
  height: 40px

  h1
    margin: 12px 5ex 8px 5ex
    font-size: 200%

#migrations-div
  -webkit-columns: 100px 10 /* Chrome, Safari, Opera */
  -moz-columns: 100px 10 /* Firefox */
  columns: 100px 10

  margin: 1em 5ex

  td
    padding: 0 3ex
