.alert-tab-div
  .local-alerts-table

    td
      padding: 0.2em 0.35ex

    tr.alerted
      td.alert-status-col
        background-color: #a1f9c0

    tr.no-alert
      td.alert-status-col
        background-color: #ff8080

    tr.untested
      td.alert-status-col
        background-color: #d4d4d4


  .pcap-alerts-table
    td
      padding: 0 0.35ex

