.exploit_attach_success{
    color:LimeGreen !important;
    background:none !important;
}
.exploit_attach_missing{
    color:red !important;
    background:none !important;
}
button.back_btn {
    background-color: #80a9ba;
    border-color: #80a9ba;
    cursor: pointer;
}
.searchID{
    width:100%;
    margin-botom: 10px;
}
.rule_state_blue{
    color:blue;
}
.rule_state_green{
    color:green;
}
.rule_state_red{
    color:white;
    background-color:red;
}
div.progress{
    background-color: #80a9ba;
    width:100%;
    margin-bottom: 0px;
    margin-right:100px;
}
.progress_group{
    display:none;
}

.edit-summary-field{
    width:100%;
    margin-botom: 10px;
}