.target-highlight
  border: 2px dashed slategray
  background-color: pink

#layout-table
  min-height: 250px

  #side-area
    width: 170px
    vertical-align: top

    .hamburger-height
      margin-top: 5px
      margin-bottom: 5px
      height: 40px

    .hamburger-spacer
      margin-left: 47px
      padding-left: 8px
      padding-right: 8px

    #hamburger-space
      float: left
      margin: 5px 6px 5px 6px
      height: 40px
      width: 40px


body.channels-controller
  #side-area
    background-color: lightcoral

  //#main-content
  //  border: 2px dashed lightcoral
  //  background-color: pink

