// context tags tab for webrep & filerep
.tab-context-tags {
  h2 {
    font-size: 11pt;
    font-weight: 700;
    padding: 3px 3px 10px;
  }
  .ctt-choose-an-entry {
    position: absolute;
    left: 160px;
    top: 10px;

    .ctt-entry-label {
      position: relative;
      left: 60px;
      top: 0;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 8.5pt;
    }
    .ctt-entry-select {
      position: relative;
      left: 70px;
      top: 0;
      min-width: 200px;
      font-size: 9pt;
      padding: 3px;
      border: solid 1px #ddd;
    }
  }

  .ctt-table {
    margin-bottom: 30px;
    border-bottom: none !important;
    thead th {
      border-bottom: solid 1px #f6f6f6;
      border-top: solid 1px #f6f6f6;
      padding: 8px 10px;
      vertical-align: middle;
      background-position-y: center !important;  // override dt defaults
      line-height: 10pt;
    }
    tbody td {
      padding: 8px 10px;
      line-height: 12pt;
      vertical-align: top;
    }
    .tmi-cb {
      margin: 0;
      position: relative;
      top: 2px;
      display: inline-block;
    }
  }
  .tmi-table {
    margin-bottom: 20px;
  }
  .tmi-suppressed {
    font-weight: 600;
    text-transform: uppercase;
  }
  .tmi-suppressed, .tmi-suppression-source, .tmi-suppression-platform, .tmi-suppression-date {
    width: 6%;
  }
  .tmi-suppression-platform, .tmi-tag-type {
    text-transform: capitalize;
  }
  .tmi-tag-name {
    width: 15%;
  }
  .tmi-taxonomy, .tmi-report-date, .tmi-suppression-date {
    white-space: nowrap;
  }
  .tmi-red {
    background-color: #f8bbbb;
  }
  .tmi-gray {
    background-color: #f6f6f6;
  }
  .enrich-cell-context, .enrich-cell-taxonomy, .enrich-cell-name,
  .enrich-cell-external-references {
    width: 12%;
  }
  .enrich-cell-description {
    width: 52%;
  }
  .filerep-enrich-cell-name {
    width: 20%;
  }
  .filerep-enrich-cell-description {
    width: 70%;
  }
  .enrich-cell-taxonomy, .enrich-cell-name {
    white-space: nowrap;
  }
  .enrich-cell-description p, .filerep-enrich-cell-description p {
    max-height: 120px;  // desc can get huge, use overflow scroll if so
    overflow-y: auto;
    white-space: pre-wrap;  // retain formatting from source
    padding-right: 20px;
  }
  .enrich-cell-external-references a {
    text-decoration: underline;
  }
  .filerep-enrich-cell-description p {
    margin-right: 40px;
  }
  .observable-container {
    display: inline-block;
    //width: 160px;  // retain and restore this later on
    text-overflow: ellipsis;  // ellipsis trick long urls
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  .data-report-table {
    font-size: 9pt;
    line-height: 12pt;
    margin-top: 10px;
  }
  .filerep-prevalence-table-disposition-td {
    text-transform: capitalize;  // data comes back all lowercase
  }
}

// used globally on ctt
.ctt-loader {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  left: 5px;
  .gears-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 4px;
  }
  .loader-msg {
    position: relative;
    left: 0;
    bottom: 7px;
    font-size: 9pt;
    color: #777;
  }
}

// toolbar styles
.tmi-toolbar {
  input {
    margin: 2px;
    vertical-align: text-top;
  }
  span {
    float: none;
  }
  button.disabled {
    opacity: 0.6;
  }
  .toggle-label {
    padding: 0 3px;
  }
  .toolbar-button {
    margin-right: 3px;
    padding-left: 22px;
    background-position-x: 5px;
  }
  .toolbar-button-text {
    margin-left: 0;
  }
  .toolbar-button:last-of-type {
    margin-right: 0;
  }
  .context-tags-toggle, .toggle-label {
    display: inline-block;
  }
  .context-tags-toggle {
    padding: 5px;
    background-color: #f6f6f6;
  }
  .context-tags-toggle:first-of-type {
    margin-right: -3px;
  }
  .show-col-context-tags  {
    background-image: url(image_path('icon_columns.svg'));
    background-size: 18px 18px;
  }
  .add-context-tag-button {
    background-image: url(image_path('icon_add_grey.svg'));
  }
  .suppress-context-tag-button {
    background-image: url(image_path('icon_hide.svg'));
    background-position-y: 3px;
  }
  .unsuppress-context-tag-button {
    background-image: url(image_path('icon_view.svg'));
  }
  .remove-context-tag-button {
    background-image: url(image_path('icon_delete.svg'));
  }
  .toggle-col-tmi {
    cursor: default;
  }
}

.dropdown.open .show-col-context-tags {
  background-image: url(image_path('icon_columns_white.svg'));
}

// show/hide columns
.tmi-columns-dropdown {
  width: 400px;
  margin: 0;
  ul {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    padding: 10px 5px;
    input[type='checkbox'] {
      margin-right: 8px;
    }
  }
}

// ensure bg color if tmi, enrich, or prev table width extends off page on context tags tab
.ctt-table {
  background-color: #fff;
}


// DIALOG STYLES HERE
// DIALOG STYLES HERE
// add tags dialog on ct tab
.add-context-tags-dialog {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 9pt;
  background-color: #fff;
  min-height: 500px;

  // jquery builds the id inside the same parent class
  #add-context-tags-dialog {
    display: flex;
    flex-flow: column;
    height: 100% !important;
    border: none;
    padding: 10px 15px;
  }

  .ui-dialog-titlebar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 10pt;
    background-color: #3e5a72;
    padding-left: 35px;
    background-image: url(image_path('icon_add_white.svg'));
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 20px 20px;
  }
  table.dataTable.taxonomy-table.no-footer {
    border: none;
  }
  td {
    padding: 2px 8px 4px !important;
  }
  .content-label-sm {
    display: block;
  }
  .preview-tag-area {
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
    height: 78px;
    width: 100%;
    padding: 10px 15px 5px;
    position: absolute;
    top: -10px;
    right: 0;
    //background-color: #f8f9f9;
    overflow-y: auto;
  }
  .preview-tag {
    display: inline-block;
    width: 250px;
    height: 20px;
    padding: 0;
    margin: 2px 4px 1px 0;
    background-color: #ddd;
    font-size: 8pt;
    .preview-tag-name {
      display: inline-block;
      padding: 5px;
      vertical-align: top;
      cursor: default;
    }
    .preview-tag-name p {
      text-overflow: ellipsis;
      white-space: nowrap;  // ellipsis-trick this string
      overflow-x: hidden;
      width: 218px;
      height: 15px;
    }
    .preview-tag-close {
      display: inline-block;
      width: 22px;
      height: 20px;
      padding: 0;
      border-left: solid 1px #ccc;
      background-image: url(image_path('icon_close.svg'));
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 1px 1px;
      &:hover {
        background-color: #ccc;
        cursor: pointer;
      }
    }
  }
  .tags-content-row {
    min-height: 300px;
    flex: 1 1 auto;
    padding-top: 20px;
  }
  .save-button-row {
    //flex: 0 1 auto;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    height: 70px;
    border-top: solid 1px #eee;
    z-index: 9999;
    background-color: #fff;
    &.dialog-resized {
      position: relative;
      top: 10px;
    }
  }
  .taxonomy-row {
    border-bottom: solid 1px #eee;
  }
  .tag-entry-row {
    font-size: 8.5pt;
    line-height: 12pt;
  }
  .tag-cb-col {
    width: 2%;
  }
  .tag-name-col {
    width: 20%;
  }
  .tag-taxonomy-col, .tag-mnemonic-col {
    width: 12%;
  }
  // show 3 lines at top
  .tag-entry-description {
    white-space: pre-line;
    line-height: 12pt;
  }
  .tag-entry-description.condensed {
    max-height: 50px;
    overflow-y: hidden;
  }
  .tag-mitre-fqn {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .read-more-button {
    padding: 2px 10px;
    background-color: #f6f6f6;
    border: solid 1px #eee;
    margin: 2px 0;
    font-size: 8pt;
    font-weight: 500;
  }
  code {
    color: #333;  // code tag appears from api in desc randomly
    background-color: #fff;
  }
  .tag-entry-cb {
    width: 20px;
    position: relative;
    top: 2px;
  }
  .taxonomy-select {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: solid 1px #ddd;
    padding: 4px;
    margin-bottom: 15px;
  }
  button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 5px;
  }
  button.secondary:active, button.secondary:focus {
    background-color: #666;
    color: #fff;
  }
}


// taxonomy table dt style one-offs needed for dt ui elems
.tag-entries-area {
  .taxonomy-table th {
    border-bottom: solid 1px #eee;
    vertical-align: middle;
    padding-left: 8px;
  }
  .dataTables_filter input {
    width: 220px;
    border: solid 1px #ddd;
    padding: 5px;
    margin-bottom: 15px;
  }
  .dataTables_length label {
    background-color: #eee;
    margin-bottom: 10px;
  }
  .dataTables_length select {
    border: solid 1px #eee;
    padding: 2px;
  }
  .dataTables_filter {
    position: absolute;
    top: -65px;
    right: 0;
  }
  .dataTables_info {
    float: none;
    display: inline-block;
  }
  .dataTables_info, .dataTables_paginate {
    margin: 10px 0;
  }
  .dataTables_empty {
    padding: 30px !important;
  }
}
