.sdr-age-wrapper, .submitter-org-wrapper, .contact-email-wrapper {
  margin-top: 10px;
}

.sdr-dispute-owner-buttons-wrapper {
  display: inline-block;
  margin-top: 15px;
}

.sdr-dispute-owner-buttons-wrapper {
  margin-left: 0px;
  padding-left: 15px;
}

.sdr-submitted-at-wrapper, .sdr-age-wrapper {
  padding-left: 15px;
}

.sdr-research-data-title, .sdr-dispute-info-title {
  font-weight: 300;
  margin-bottom: 30px;
  padding-left: 0;
}

.sdr-dispute-info-title {
  border-bottom-color: #41B1D7;
}

.sdr-research-data-title {
  border-bottom-color: #2EB04A;
}

.sdr-research-data-wrapper .col-xs-4 {
  padding: 0;
}

.sdr-suggested-reputation-wrapper {
  float: right;
}

.sdr-research-subwrapper {
  border-bottom: 2px solid #EFEFEF;
  padding: 20px 0 30px;

  .col-xs-6 {
    padding: 0;
  }
}

.sdr-research-data-wrapper {
  .col-xs-2, .col-xs-3, .col-xs-1 {
    padding-left: 0;
    padding-right: 0;
  }
}
