.sdr-age-wrapper, .submitter-org-wrapper, .contact-email-wrapper {
  margin-top: 10px;
}

.sdr-dispute-owner-buttons-wrapper {
  display: inline-block;
  margin-top: 15px;
}

.sdr-dispute-owner-buttons-wrapper {
  margin-left: 0px;
  padding-left: 15px;
}

.sdr-submitted-at-wrapper, .sdr-age-wrapper {
  padding-left: 15px;
}

.sdr-research-data-title, .sdr-dispute-info-title {
  font-weight: 300;
  margin-bottom: 30px;
  padding-left: 0;
}

.sdr-dispute-info-title {
  border-bottom-color: #41B1D7;
}

.sdr-research-data-title {
  border-bottom-color: #2EB04A;
}

.sdr-research-data-wrapper .col-xs-4 {
  padding: 0;
}

.sdr-suggested-reputation-wrapper {
  float: right;
}

.sdr-research-subwrapper {
  border-bottom: 2px solid #EFEFEF;
  padding: 20px 0 30px;

  .col-xs-6 {
    padding: 0;
  }
}

.sdr-research-data-wrapper {
  border-left: 1px solid #eeeeee;
  padding-left: 30px;

  .data-report-table {
    margin-bottom: 0;
    margin-top: 0;
  }
  hr.thin {
    margin-bottom: 25px;
  }
}

.sdr-dispute-info-wrapper {
  border-right: 1px solid #eeeeee;
  padding-right: 30px;
}

.sdr-attachments {
  margin-top: 10px;

  hr {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .sdr-attachments-header {
    display: flex;
    justify-content: space-between;
  }

  .sdr-attachments-button {
    background-color: #efefef;
    background-image: url(image_path('icon_download.svg'));
    background-position: 4px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 4px;
    padding: 5px 20px;

    span {
      font-weight: 600;
      margin-left: 8px;
      padding-left: 8px;
    }
  }
}

.sdr-entries {
  margin-top: 10px;
}

.sdr-entries, .sdr-attachments {
  .expand-row-button-inline {
    float: right;
  }
}

#sdr-research-tab .nested-data-row {
  display: none;
  margin-top: 10px;
}
