/* ----------------------------------------------- */
/* --------------- GLOBAL STYLES ----------------- */
/* ----------------------------------------------- */


.ac_logo {
  background-image: url(image_path("analyst_console_logo.svg"));
  width: 150px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin: auto;
}