.rocket-layout
  #sidenav-icons-div
    background-color: lightcoral
    border: 2px dashed slategray
    display: inline-block
    height: 500px
    width: 40px

  #sidenav-menu-div
    background-color: lightcoral
    border: 2px dashed slategray
    display: inline-block
    height: 500px
    width: 170px

  #main-content
    background-color: lightcoral
    border: 2px dashed slategray
    display: inline-block


.sidenav
  height: 40px
  width: 40px
  margin: 5px 6px 5px 6px
  padding: 5px
  z-index: 50
  position: relative
  border: 2px solid black
  border-radius: 2px
  text-align: center
  &:hover
    background-color: rgba(0,0,0,.1)
  .icon-bar
    display: block
    width: 25px
    height: 1px
    border-radius: 1px
    border: 1px solid black
    margin-top: 5px

