body.rocket-layout
  background-color: #f8f8f8

  .nav-col
    //display: inline-block
    float: left
    vertical-align: top
    background-color: slategray

    .menuheight
      margin-top: 5px
      margin-bottom: 5px
      height: 40px

    .menutext a
      text-transform: uppercase
      color: white
      font-weight: bold
      font-size: large

  #sidenav-icons-div
    min-height: 500px
    width: 50px

  #sidenav-menu-div
    min-height: 500px
    width: 200px

  #main-col
    //display: inline-block
    vertical-align: top

    #nav-banner
      //display: block
      background-color: lightgrey
      min-height: 50px

      #login-div
        float: right

      #username
        display: none

  .control-banner
    height: 50px

    .control-button-div
      float: right

      .control-button
        display: inline-table

    .control-banner-content

      .message-div
        height: 50px
        width: 55%
        margin: auto
        text-align: center

