.rocket-layout
  #sidenav-icons-div
    border: 2px dashed slategray
    background-color: lightcoral
    display: inline-block
    height: 500px
    width: 50px

  #sidenav-menu-div
    border: 2px dashed slategray
    background-color: lightcoral
    display: inline-block
    height: 500px
    width: 200px

  #main-content
    margin-top: 5px
    border: 2px dashed slategray
    background-color: lightcoral
    display: inline-block

  .menuheight
    margin-top: 5px
    margin-bottom: 5px
    height: 40px

  .menutext
    text-transform: uppercase

