/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

ins{
    text-decoration: none;
    background-color: lightgreen;
}
del {
    text-decoration: none;
    background-color: #ff4d1e;
}
.diff ul{
    list-style: none;
}

.onError {
    border-color: red;
}

.policy_box {
    padding-right:3.7em;
    padding-left:1.1em;
}

.service_box {
    padding-right:2.9em;
}

.ruleset_box {
    padding-right:2.85em;
}
