.rule-error-div
  display: none

  .rule-error-msg
    display: inline-block


.view-tab-alerts-table
  td.alert-col
    padding: 0 1ex
  td.pcap-col
    padding-left: 1ex

  tr.row-no_alert
    td.alert-col
      background-color: #ff8080

  tr.row-alerted
    td.alert-col
      background-color: #a1f9c0

