.rule-error-div
  display: none

  .rule-error-msg
    display: inline-block


.view-tab-alerts-table
  td.alert-col
    padding: 0 1ex
  td.pcap-col
    padding-left: 1ex

  tr.row-no_alert
    td.alert-col
      background-color: #ff8080

  tr.row-alerted
    td.alert-col
      background-color: #a1f9c0

#rule-button-row-div
  @media screen and (max-width: 1750px)
    width: 100%
    margin-top: 8px
    border-top: 1px solid black
    padding-top: 6px
  display: inline-block

//#rule-import-form-div
//  float: right

.copydoc_rule
  .doc-status-col
    border: 2px solid goldenrod
    background-color: #fdfd88
