
.task-type-col
  width: 20ex

.job-results-button
  float: left
  margin-right: 10px

.user-col
  width: 20ex

#task-log-table
  td.status-col
    text-align: center

  tr.task-fail
    td.status-col
      background-color: rgba(255, 130, 100, .3)


