.inline-text {
  display: inline-block;
  float: left;
}

.inline-label-wrapper {
  display: inline-block;
}

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}