.tool-bar {

    padding: 10px;
    background-color: #848484;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/** This matches what is on the bootstrap website */
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    /* Adding this */
    height: auto;
    /*margin-bottom: -25%;*/
}

.embed-responsive::before {
    display: block;
    content: "";
    box-sizing: border-box;
}

.embed-responsive-1by1::before {
    padding-top: 100%;
}

.webcat-iframe {
    zoom: 0.71;
    -moz-transform: scale(0.41);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.41);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.41);
    -webkit-transform-origin: 0 0;
    width: 240% !important;
    height: 240% !important;
}

@media (min-width: 1226px) {
    .webcat-iframe {
        zoom: 0.71;
        -moz-transform: scale(0.71);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.71);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.71);
        -webkit-transform-origin: 0 0;
        width: 140% !important;
    }
}

.preview-url {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
}

#preview_window_header_p {
    text-align: center;
    font-size: .9em;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.complaint_selected {
    background-color: rgba(150, 220, 247, 0.39);
}


.screenshot-thumb-img{
    height: 98px;
    width: 98px;
}

.uri-col {
    word-break: break-all;
    min-width: 100px;
}

#filter-cases-list .favorite-search-icon {
    background-image: url(image_path('icon-star-outline-white.svg'));
    margin-top: -26px;
    opacity: 0.7;
}
#filter-cases-list .favorite-search-icon-active {
    margin-top: -26px;
    background-image: url(image_path('icon-star-active.svg'));
}

.webcat-named-search-list .favorite-search-icon {
    background-image: url(image_path('icon-star-outline-grey.svg'));
    opacity: 0.7;
    margin-top: -19px;
    margin-right: -6px;
}

.webcat-named-search-list .favorite-search-icon-active {
    margin-top: -19px;
    margin-right: -6px;
    background-image: url(image_path('icon-star-active-grey.svg'));
}

.favorite-search-icon, .favorite-search-icon-active {
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.webcat-filter-dropdown {
    width: 515px;
}

.webcat-named-search-list {
    width: 275px;
}

.webcat-filter-dropdown #filter-cases-list .selected::after {
    margin-top: -26px !important;
    margin-right: -15px !important;
}

.webcat-filter-dropdown li {
    width: 215px !important;
}

.favorite-instruction {
    border-top: 1px solid #fff;
    font-size: 11px;
    font-weight: 400;
    text-transform: none;
    margin-top: 20px;
    padding-top: 10px;
    background-image: url(image_path('icon-star-active.svg'));
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 20px 20px;
    padding-left: 26px;
    line-height: 1.5em;
}

.webcat-filter-dropdown li a {
    width: auto;
    display: inline-block;
}
