/// STYLES FOR CARD STYLE INDEX

table.dataTable tbody tr td table.nested-col-table td {
  padding: 1px 0;
  border: none;
  min-height: 20px;
}

#complaints-index .nested-table-input {
  border: 1px solid #E5E5E5;
  background-color: #EEF7FB;
  border-radius: 1px;
  padding: 2px 4px;
  width: 100%;
  margin-top: 1px;
  min-height: 26px;
  &::placeholder {
    font-style: italic;
  }
  .current-cat-col {
    padding-bottom: 4px;
  }
}

#complaints-index {
  .uri-col {
    min-width: 200px;
  }
  .current-cat-col {
    font-size: 11px;
    color: #4E4E4E;
    .tooltip-underline {
      text-decoration: underline dotted;
    }
    .ex-category-source {
      color: #329FCA;
      font-size: 10px;
      font-weight: 700;
      margin-left: 4px;
    }
  }
  .selectize-control {
    &.nested-table-input {
      min-height: 33px;
    }
    .selectize-input {
      background-color: transparent;
      margin-bottom: -7px !important;
      input::placeholder {
        font-style: italic;
        font-size: 11px;
      }
      .item {
        padding: 2px 6px;
        font-size: 8pt;
      }
    }
    .selectize-dropdown {
      margin-top: 7px;
    }
  }
  .resolution-col {
    padding: 0 0 8px 0;
    .res-radio-row {
      padding: 4px;
      background-color: #EEF7FB;
    }
  }
  .submit_changes {
    padding: 6px 30px;
  }
}