/// STYLES FOR CARD STYLE INDEX

table.dataTable tbody tr td table.nested-col-table td {
  padding: 1px 0;
  border: none;
  min-height: 20px;
}

#complaints-index .nested-table-input {
  border: 1px solid #E5E5E5;
  background-color: #EEF7FB;
  border-radius: 1px;
  padding: 2px 4px;
  width: 100%;
  margin-top: 1px;
  min-height: 26px;
  &::placeholder {
    font-style: italic;
  }
  .current-cat-col {
    padding-bottom: 4px;
  }
}

#complaints-index {
  .uri-col {
    min-width: 200px;
  }
  .current-cat-col {
    font-size: 11px;
    color: #4E4E4E;
    .tooltip-underline {
      text-decoration: underline dotted;
    }
    .ex-category-source {
      color: #329FCA;
      font-size: 10px;
      font-weight: 700;
      margin-left: 4px;
    }
  }
  .selectize-control {
    &.nested-table-input {
      min-height: 33px;
    }
    .selectize-input {
      background-color: transparent;
      margin-bottom: -7px !important;
      input::placeholder {
        font-style: italic;
        font-size: 11px;
      }
      .item {
        padding: 2px 6px;
        font-size: 8pt;
      }
    }
    .selectize-dropdown {
      margin-top: 7px;
    }
  }
  .resolution-col {
    padding: 0 0 8px 0;
    .res-radio-row {
      padding: 4px;
      background-color: #EEF7FB;
    }
  }
  .submit_changes {
    padding: 6px 30px;
  }
  .wbrs-score-col {
    background-repeat: no-repeat;
    background-position: -5px center;
    padding-left: 13px;
  }
  .quick-edit-uri-tool-col {
    padding-top: 2px;
  }
  .edit-uri-col {
    vertical-align: top;
  }
  button {
    background-color: #D7DADB;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 2px;
    min-height: 23px;
    min-width: 23px;
  }
  .edit-button {
    background-image: url(image_path('icon_edit_dd_grey.svg'));
    background-size: 25px;
    height: 26px;
    width: 30px;
    &:disabled {
      opacity: .5;
      background-color: #D7DADB !important;
    }
  }
  .dropdown.open {
    .edit-button {
      background-color: #6DBCDB;
      background-image: url(image_path('icon_edit_dd_white.svg'));
    }
  }
  .history-button {
    background-image: url(image_path('icon_history.svg'));
    background-size: 19px;
    background-position: 2px;
  }
  .whois-button {
    background-image: url(image_path('icon_whois_grey.svg'));
    background-size: 20px;
  }
  .lookup-button {
    background-image: url(image_path('icon_google_grey.svg'));
  }
  .quick-edit-uri-dropdown {
    margin-top: -4px;
    border-radius: 0 4px 4px 4px;
    min-width: 80px;
    width: auto;
    font-size: 11px;
    border: none;
    padding: 0;
    li {
      padding: 3px 8px;
      display: block;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        background-color: #F2F2F2;
        color: #333;
      }
      &.disabled {
        opacity: .5;
        cursor: not-allowed;
      }
    }
  }
}

.current-external-cat-info {
  margin: -8px;
  table {
    font-size: 11px;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 15px;
    td, th {
      border-color: #707070;
      padding: 4px;
      line-height: 1.25em;
    }
    td.alt-col {
      background-color: #707070 !important;
      border-color: #4E4E4E;
    }
  }

  .tooltip-table-label {
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    background-color: #393737;
    padding: 4px 12px;
  }
}