.title{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.background{
    background-color: skyblue;
    border-radius:3px;
    margin-bottom: 20px;
}
.metrics
{
    margin:10px;
}
.metrics td{
    border-bottom: 0px !important;
    font-size: .7em;
}
.user_name{
    font-weight: bold;
    font-size: .8em;
}
.user_name a:hover{
    text-decoration: none!important;
}
.user_id{
    font-size: .4em;
}
.vl{
    margin-top: 25px;
    border-left: 1px solid white;
    height:50px;
}