.attention-flag {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(image_path('icon_warning_orange.svg'));
  background-repeat: no-repeat;
  background-size: contain;
}

.tooltip-dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
  text-decoration-color: #bdbdbd;
}

.csam-report-id-col {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #6dbcdb;
  }
}

#webcat-csam-reports-index_wrapper {
  margin-top: -55px;
  z-index: 0;
}

#webcat-csam-reports-index_filter .table-search-input{
  height: 27px;
}

.csam-reports-toolbar {
  display: inline-block;
  z-index: 1;
  width: auto;
  .toolbar-container {
    display: inline-block;
  }
}

#webcat-csam-reports-index {
  .tools-col {
    padding: 3px 0 0 8px;
    text-align: right;
    .toolbar-button {
      display: inline-block;
      float: none;
    }
  }
  .attention-flag-col {
    padding: 6px 0 0 0;
  }
}