.attention-flag {
  background-image: url(image_path('icon_warning_orange.svg'));
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 6px center;
}

.tooltip-dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
  text-decoration-color: #bdbdbd;
}

.csam-report-id-col {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #6dbcdb;
  }
}

#webcat-csam-reports-index_wrapper {
  margin-top: -55px;
  z-index: 0;
}

#webcat-csam-reports-index_filter .table-search-input{
  height: 27px;
}

.csam-reports-toolbar {
  display: inline-block;
  z-index: 1;
  width: auto;
  .toolbar-container {
    display: inline-block;
  }
}

#webcat-csam-reports-index {
  .tools-col {
    padding: 2px 0 2px 8px;
    text-align: right;

  }
  .attention-flag-col {
    width: 24px;
  }
}