// context tags (tmi) tab for webrep & filerep
.tab-tags {
  h2 {
    font-size: 11pt;
    font-weight: 700;
    padding: 3px 3px 10px;
  }
  table {
    margin-bottom: 50px;
    border-bottom: none !important;
    .cb-tmi {
      margin: 0;
      position: relative;
      top: 2px;
      display: inline-block;
    }
    thead th {
      border-bottom: solid 1px #f6f6f6;
      padding: 8px 10px;
      vertical-align: middle;
    }
    td {
      line-height: 12pt;
    }
  }
  input.cb-tmi-select-all {
    display: inline-block;
    position: absolute;
    top: 2px;
  }
  .tmi-cell-suppressed {
    font-weight: 600;
  }
  .tmi-red-cell {
    background-color: #f8bbbb;
  }
  .tmi-gray-cell {
    background-color: #f6f6f6;
  }
}

.tmi-columns-dropdown {
  width: 400px;
  margin: 0;
  ul {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    padding: 10px 5px;
    input[type='checkbox'] {
      margin-right: 8px;
    }
  }
}

// toolbar styles
.tags-toolbar {
  .toolbar-button {
    margin-right: 3px;
    padding-left: 22px;
    background-position-x: 5px;
  }
  .toolbar-button:last-of-type {
    margin-right: 0;
  }
  input {
    margin: 2px;
    vertical-align: text-top;
  }
  span {
    float: none;
  }
  .tags-toggle, .toggle-label {
    display: inline-block;
  }
  .tags-toggle {
    padding: 5px;
    background-color: #f6f6f6;
  }
  .tags-toggle:first-of-type {
    margin-right: -3px;
  }
  .toggle-label {
    padding: 0 3px;
  }
  .show-col-tags-button  {
    background-image: url(image_path('icon_columns.svg'));
    background-size: 18px 18px;
  }
  .add-tag-button {
    background-image: url(image_path('icon_add_grey.svg'));
  }
  .suppress-tag-button {
    background-image: url(image_path('icon_hide.svg'));
    background-position-y: 3px;
  }
  .unsuppress-tag-button {
    background-image: url(image_path('icon_view.svg'));
  }
  .remove-tag-button {
    background-image: url(image_path('icon_delete.svg'));
  }
}

.dropdown.open .show-col-tags-button {
  background-image: url(image_path('icon_columns_white.svg'));
}

// target dt wrapper
#datatable-prevalence_wrapper {
  width: 50%;
  min-width: 800px;
}
