<h1>Editing Rulehit Resolution Mailer Template</h1>

<%= render 'form', rulehit_resolution_mailer_template: @rulehit_resolution_mailer_template %>

<%= link_to 'Show', escalations_rulehit_resolution_mailer_templates_path %> |
<%= link_to 'Back', escalations_rulehit_resolution_mailer_templates_path %>
<script>
    $( document ).ready(function() {
        $('body').addClass('escalations--webrep--disputes-controller')
    });
</script>