.toolbar#sdr-index-toolbar{style: 'margin-bottom: -30px; z-index: 1; width: fit-content;'}
  %div
    %label.toolbar-section-label
      View
    %span.dropdown
      %button#table-show-columns-button.toolbar-button.show-col-button.dropdown-toggle.esc-tooltipped.toolbar-button-spacer{'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Show/Hide Columns
      .dropdown-menu.toolbar-dropdown#sdr-index-table-show-columns-dropdown{'aria-labelledby': 'table-show-columns-button', style: ''}
        .dropdown-menu-content-block{style: 'width: 100%'}
          %ul
            %li.toggle-vis-sdr-{'data-column':'1'}
              %input{type: 'checkbox', checked: true, id: 'priority-checkbox'} Priority
            %li.toggle-vis-sdr{'data-column':'2'}
              %input{type: 'checkbox', checked: true, id: 'case-id-checkbox'} Case ID
            %li.toggle-vis-sdr{'data-column':'3'}
              %input{type: 'checkbox', checked: true, id: 'status-checkbox'} Status
            %li.toggle-vis-sdr{'data-column':'4'}
              %input{type: 'checkbox', id: 'resolution-checkbox'} Resolution
            %li.toggle-vis-sdr{'data-column':'5'}
              %input{type: 'checkbox', id: 'time-submitted-checkbox'} Time Submitted
            %li.toggle-vis-sdr{'data-column':'6'}
              %input{type: 'checkbox', checked: true, id: 'age-checkbox'} Age
            %li.toggle-vis-sdr{'data-column':'7'}
              %input{type: 'checkbox', checked: true, id: 'assignee-checkbox'} Assignee
            %li.toggle-vis-sdr{'data-column':'8'}
              %input{type: 'checkbox', checked: true, id: 'case-origin-checkbox'} Case Origin
            %li.toggle-vis-sdr{'data-column':'9'}
              %input{type: 'checkbox', checked: true, id: 'platform-checkbox'} Platform

          %ul
            %li.toggle-vis-sdr{'data-column':'10'}
              %input{type: 'checkbox', checked: true, id: 'dispute-checkbox' } Dispute
            %li.toggle-vis-sdr{'data-column':'11'}
              %input{type: 'checkbox', id: 'current-rep-checkbox'} Current Rep
            %li.toggle-vis-sdr{'data-column':'12'}
              %input{type: 'checkbox', id: 'rules-checkbox'} Rules
            %li.toggle-vis-sdr{'data-column':'13'}
              %input{type: 'checkbox', id: 'suggested-rep-checkbox'} Suggested Rep
            %li.toggle-vis-sdr{'data-column':'14'}
              %input{type: 'checkbox', id: 'submitter-type-checkbox'} Submitter Type
            %li.toggle-vis-sdr{'data-column':'15'}
              %input{type: 'checkbox', id: 'contact-name-checkbox'} Contact Name
            %li.toggle-vis-sdr{'data-column':'16'}
              %input{type: 'checkbox', id: 'contact-email-checkbox'} Contact Email
            %li.toggle-vis-sdr{'data-column':'17'}
              %input{type: 'checkbox', id: 'submitter-org-checkbox'} Submitter Org

  %div
    %label.toolbar-section-label
      Assign

    %button.take-ticket-toolbar-button#index_ticket_assign.toolbar-button.esc-tooltipped.toolbar-button-spacer{onclick: 'take_sdr_disputes();'}
      %span.toolbar-button-text
        Take Ticket

    %button.toolbar-button.return-ticket-toolbar-button.dropdown-button-margin-right.esc-tooltipped{onclick: 'return_sdr_disputes()', type: 'button'}
      %span.toolbar-button-text Return

  %div
    %label.toolbar-section-label
      Info

    %button.toolbar-button.dropdown-button-margin-right#index_ticket_assign.esc-tooltipped.whois-btn
      %span.toolbar-button-text
        WHOIS


  %div.line-up
    %label.toolbar-section-label
      File
    %form#webrep-disputes-index-export-form{action: escalations_webrep_disputes_path(format: :xlsx), method: :get}
      = hidden_field_tag('data_json', '{}', id: 'disputes-index-export-data-input')
      %button.toolbar-button.dropdown-button-margin-right.export-button.export-all-btn.esc-tooltipped{title: 'Export (alt + ctrl + shift + p)'}
        %span.toolbar-button-text
          Export
    %button.toolbar-button.export-button.export-selected-btn.esc-tooltipped{title: 'Export Selected (alt + ctrl + p)', onclick: 'webrep_export_selected_rows();'}
      %span.toolbar-button-text
        Export Selected

