.toolbar#sdr-index-toolbar
  %div
    %label.toolbar-section-label
      View
    %span.dropdown
      %button#table-show-columns-button.toolbar-button.show-col-button.dropdown-toggle.esc-tooltipped{title: 'Show/Hide Columns', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Show/Hide Columns
      .dropdown-menu.toolbar-dropdown#sdr-index-table-show-columns-dropdown{'aria-labelledby': 'table-show-columns-button', style: ''}
        .dropdown-menu-content-block{style: 'width: 100%'}
          %ul
            %li.toggle-vis-sdr-{'data-column':'1'}
              %input{type: 'checkbox', checked: true, id: 'priority-checkbox'} Priority
            %li.toggle-vis-sdr{'data-column':'2'}
              %input{type: 'checkbox', checked: true, id: 'case-id-checkbox'} Case ID
            %li.toggle-vis-sdr{'data-column':'3'}
              %input{type: 'checkbox', checked: true, id: 'status-checkbox'} Status
            %li.toggle-vis-sdr{'data-column':'4'}
              %input{type: 'checkbox', id: 'resolution-checkbox'} Resolution
            %li.toggle-vis-sdr{'data-column':'5'}
              %input{type: 'checkbox', id: 'time-submitted-checkbox'} Time Submitted
            %li.toggle-vis-sdr{'data-column':'6'}
              %input{type: 'checkbox', checked: true, id: 'age-checkbox'} Age
            %li.toggle-vis-sdr{'data-column':'7'}
              %input{type: 'checkbox', checked: true, id: 'assignee-checkbox'} Assignee
            %li.toggle-vis-sdr{'data-column':'8'}
              %input{type: 'checkbox', checked: true, id: 'case-origin-checkbox'} Case Origin
            %li.toggle-vis-sdr{'data-column':'9'}
              %input{type: 'checkbox', checked: true, id: 'platform-checkbox'} Platform

          %ul
            %li.toggle-vis-sdr{'data-column':'10'}
              %input{type: 'checkbox', checked: true, id: 'dispute-checkbox' } Dispute
            -#%li.toggle-vis-sdr{'data-column':'11'}
            -#  %input{type: 'checkbox', id: 'current-rep-checkbox'} Current Rep
            -#%li.toggle-vis-sdr{'data-column':'12'}
            -#  %input{type: 'checkbox', id: 'rules-checkbox'} Rules
            %li.toggle-vis-sdr{'data-column':'13'}
              %input{type: 'checkbox', id: 'suggested-rep-checkbox'} Suggested Rep
            %li.toggle-vis-sdr{'data-column':'14'}
              %input{type: 'checkbox', id: 'submitter-type-checkbox'} Submitter Type
            %li.toggle-vis-sdr{'data-column':'15'}
              %input{type: 'checkbox', id: 'contact-name-checkbox'} Contact Name
            %li.toggle-vis-sdr{'data-column':'16'}
              %input{type: 'checkbox', id: 'contact-email-checkbox'} Contact Email
            %li.toggle-vis-sdr{'data-column':'17'}
              %input{type: 'checkbox', id: 'submitter-org-checkbox'} Submitter Org

  %div
    %label.toolbar-section-label
      Assignee

    %button.take-ticket-toolbar-button#index_ticket_assign.toolbar-button.esc-tooltipped.toolbar-button-spacer{ onclick: 'take_sdr_disputes();', title: 'Take (alt + t)' }
      %span.toolbar-button-text
        Take Ticket

    %button.toolbar-button.return-ticket-toolbar-button.esc-tooltipped{ onclick: 'return_sdr_disputes()', type: 'button', title: 'Return (alt + r)' }
      %span.toolbar-button-text
        Return
  %div
    %label.toolbar-section-label
      File
    %form#sdr-disputes-export-form{action: escalations_sdr_disputes_path(format: :xlsx), method: :get,  onsubmit: 'return false'}
      = hidden_field_tag('data_json', '{}', id: 'index-export-data-input')
      %button.toolbar-button.toolbar-button-spacer.export-button.esc-tooltipped{onclick: 'export_sdr_all();', title: 'Export All to CSV (alt + ctrl + shift + p)'}
        %span.toolbar-button-text
          Export All to CSV
      %button.toolbar-button.export-button.esc-tooltipped{onclick: 'export_sdr_selected();', title: 'Export Selected to CSV (alt + ctrl + p)'}
        %span.toolbar-button-text
          Export Selected to CSV


  -#  Add later with functionality or remove
  -#%div
  -#  %label.toolbar-section-label
  -#    Info
  -#
  -#  %button.toolbar-button#sdr-whois-index-btn.esc-tooltipped.sdr-whois-btn{ disabled: true }
  -#    %span.toolbar-button-text
  -#      WHOIS
  -#
  -#%div
  -#  %label.toolbar-section-label
  -#    Edit
  -#
  -#  %button.toolbar-button#sdr-adjust-rep-index-btn.esc-tooltipped.sdr-adjust-rep-btn{ disabled: true }
  -#    %span.toolbar-button-text
  -#      Adjust Reputation
