.content-wrapper
  #alertMessage
  .row
    .col-xs-12
      %h1#sdr-index-title Open Tickets

      #sdr-loading-gear.webrep-loader-wrapper
        .gear-loader-wrapper
          = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
        %span.loader-msg Loading data...

      #sdr_searchref_container{ onmouseover: 'triggerTooltips(this)' }
      = render('index_toolbar')

  .row
    .col-xs-12
      %table.table.responsive#sdr-disputes-index{role: 'datatable', 'data-source': escalations_sdr_disputes_path(format: :json) }
        %thead
          %tr
            %th
              %input#sdr_disputes_check_box{type: 'checkbox', onclick: 'sdr_disputes_select_all_check_box();'}
            %th.text-center#priority.esc-tooltipped{title: 'Priority'}
            %th#case-id Case ID
            %th#status Status
            %th#resolution Resolution
            %th#time-submitted Time Submitted
            %th#age Age
            %th#owner Assignee
            %th#case-origin Case Origin
            %th#platform Platform
            %th#dispute Dispute
            %th#current-rep{hidden: true} Current Rep
            %th#rules{hidden: true} Rules
            %th#suggested-rep Suggested Rep
            %th#submitter-type.esc-tooltipped{title: 'Submitter Type'} Submitter Type
            %th#contact-name Contact Name
            %th#contact-email Contact Email
            %th#submitter-org Submitter Org
        %tbody
