
.content-wrapper
  %h1 Rule Documentation
  %br
  %a.select-sm.btn.btn-default{ href: new_rule_doc_path}
    %i.glyphicon.glyphicon-pencil
    %strong.hidden-xs    Write New Doc

  %table.table.responsive.no-wrap{id: 'rule-docs-table', 'data-source': "#{rule_docs_path(format: :json)}"}
    %thead
      %tr
        %th.col-sm-1 GID
        %th.col-sm-1 SID
        %th.col-sm-4 Summary
        %th.col-sm-4 Detailed Info
        %th.col-sm-2 Bugs
        %th.col-sm-1
    %tbody

