#hamburger-space

.jumbotron
  %h2 Rule Documentation



%table.table.responsive.no-wrap{id: 'rule-docs-table', 'data-source': "#{rule_docs_path(format: :json)}"}
  %thead
    %tr
      %th SID
      %th Summary
      %th Detailed Info
      %th Bugs
      %th
  %tbody

