- content_for(:title) do
  NEW Doc - Analyst Console

.content-wrapper
  %h1 Creating New Rule Document
  .form-wrapper
    = form_for @rule_doc, url: {action: :create} do |f|

      .row
        .col-sm-12
          %fieldset
            %label Link this documentation to the rule by the gid and sid
            %span.input-wrapper
              =f.text_field :gid, required: true,placeholder: "GID"
              =f.text_field :sid, required: true,placeholder: "SID"

      .row
        .col-sm-6
          %fieldset
            %label Summary
            =f.text_area :summary, rows: 5, autofocus: true, required: true
        .col-sm-6
          %fieldset
            %label Impact
            =f.text_area :impact, rows: 5
      .row
        .col-sm-6
          %fieldset
            %label Detailed Info
            =f.text_area :details, rows: 5, required: true
        .col-sm-6
          %fieldset
            %label Affected Systems
            =f.text_area :affected_sys, rows: 5

      .row
        .col-sm-6
          %fieldset
            %label False Positives
            =f.text_area :false_positives, rows: 5
        .col-sm-6
          %fieldset
            %label False Negatives
            =f.text_area :false_negatives, rows: 5

      .row
        .col-sm-6
          %fieldset
            %label Contributors
            =f.text_area :contributors, rows: 2
        .col-sm-6
          %fieldset
            %label Policies
            =f.text_area :policies, rows: 2

      .row.checkbox-row
        .col-sm-12
          %label.checkbox-label Is this a community rule?
          =f.check_box :is_community

      .row
        .col-sm-12
          .button-group
            %button{value: "submit", class: "call-to-action save", data: { confirm: 'Are you really really sure?? Have you double checked your linking id to ensure this Rule Doc will link with the proper Rule?'}} Save
            = link_to  rule_docs_path do
              %button{title: "Cancel", class: "secondary cancel"} Cancel
