= form_for NamedSearch.new, url: escalations_webcat_complaints_path, method: 'get', 'accept-charset': 'UTF-8', html: {id: 'cat_named_search'} do |named_form|
  .form-group.search-item
    %label.content-label-sm Complaint ID(s) (comma separate multiples)
    %input.form-control#complaintid-input{name: 'complaint_id'}
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm Complaint (URL/IP/Domain)
    %input.form-control#complaint-input{name: 'ip_or_url'}
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm Category
    %input.form-control#category-input{name: 'category'}
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm Status
    %select.form-control#status-input{name: 'status'}
      =options_for_select([['Any Status', '', { class: 'default-placeholder' }], Complaint::NEW, Complaint::RESOLVED, Complaint::ASSIGNED, Complaint::ACTIVE, Complaint::COMPLETED, Complaint::PENDING])
    %button.remove-input
  .form-group.search-item
    %label.content-label-sm Tags
    %br
    %select.form-control.selectize#tags-input{placeholder: "Search tags", multiple: "multiple", tabindex:"-1", name: 'tags'}
    %input.hidden#search_tag_list{value: ComplaintTag.all.map { |tag| tag.name }.join(','), name: 'tags'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Resolution
    %select.form-control#resolution-input{name: 'resolution'}
      =options_for_select(['', Complaint::RESOLUTION_FIXED, Complaint::RESOLUTION_INVALID, Complaint::RESOLUTION_UNCHANGED, Complaint::RESOLUTION_DUPLICATE])
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Added Through Channel
    %select.form-control#channel-input{name: 'channel'}
      =options_for_select(['', "Internal", "TalosIntel", "WBNP"])
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Customer Name
    %input.form-control#name-input{name: 'customer-name', list: 'customerList'}
    %datalist#customerList
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Customer Email
    %input.form-control#email-input{name: 'customer-email', list: 'customerEmailList'}
    %datalist#customerEmailList
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Company
    %input.form-control#company-input{name: 'company', list: 'customerCompanyList'}
    %datalist#customerCompanyList
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Description
    %input.form-control#desc-input{name: 'description'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Date Submitted (Newer)
    %input.form-control#submitted-newer-input{type: 'date', name: 'date-submitted-newer'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Date Submitted (Older)
    %input.form-control#submitted-older-input{type: 'date', name: 'date-submitted-older'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Last Modified (Newer)
    %input.form-control#modified-newer-input{type: 'date', name: 'date-modified-newer'}
    %button.remove-input
  .form-group.search-item.hidden
    %label.content-label-sm Last Modified (Older)
    %input.form-control#modified-older-input{type: 'date', name: 'date-modified-older'}
    %button.remove-input

  %button#add-search-items-button
    Add Search Criteria
  #search-criteria-options
    .multicol-2
      %ul
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#complaint-id-cb{type: 'checkbox', name: 'search-criteria', value: 'Complaint ID', for: 'complaintid-input'}
            Complaint ID
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#complaint-cb{type: 'checkbox', name: 'search-criteria', value: 'Complaint (URL/IP/Domain)', for: 'complaint-input'}
            Complaint (URL/IP/Domain)
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#category-cb{type: 'checkbox', name: 'search-criteria', value: 'Category', for: 'category-input'}
            Category
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#status-cb{type: 'checkbox', name: 'search-criteria', value: 'Status', for: 'status-input'}
            Status
        %li.hidden
          %label.search-criteria-label
            %input.search-checkbox#tags-cb{type: 'checkbox', name: 'search-criteria', value: 'Tags', for: 'tags-input-selectized'}
            Tags
        %li
          %label.search-criteria-label
            %input.search-checkbox#resolution-cb{type: 'checkbox', name: 'search-criteria', value: 'Resolution', for: 'resolution-input'}
            Resolution
        %li
          %label.search-criteria-label
            %input.search-checkbox#channel-cb{type: 'checkbox', name: 'search-criteria', value: 'Added Through Channel', for: 'channel-input'}
            Added Through Channel
        %li
          %label.search-criteria-label
            %input.search-checkbox#name-cb{type: 'checkbox', name: 'search-criteria', value: 'Customer Name', for: 'name-input'}
            Customer Name
        %li
          %label.search-criteria-label
            %input.search-checkbox#email-cb{type: 'checkbox', name: 'search-criteria', value: 'Customer Email', for: 'email-input'}
            Customer Email
        %li
          %label.search-criteria-label
            %input.search-checkbox#company-cb{type: 'checkbox', name: 'search-criteria', value: 'Company', for: 'company-input'}
            Company

        %li
          %label.search-criteria-label
            %input.search-checkbox#desc-cb{type: 'checkbox', name: 'search-criteria', value: 'Description', for: 'desc-input'}
            Description
        %li
          %label.search-criteria-label
            %input.search-checkbox#submitted-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Date Submitted (Newer)', for: 'submitted-newer-input'}
            Date Submitted (Newer)
        %li
          %label.search-criteria-label
            %input.search-checkbox#submitted-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Date Submitted (Older)', for: 'submitted-older-input'}
            Date Submitted (Older)
        %li
          %label.search-criteria-label
            %input.search-checkbox#modified-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Last Modified (Newer)', for: 'modified-newer-input'}
            Last Modified (Newer)
        %li
          %label.search-criteria-label
            %input.search-checkbox#modified-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Last Modified (Older)', for: 'modified-older-input'}
            Last Modified (Older)

    .form-group.text-center
      %button.primary#add-search-criteria
        Add Search Criteria
      %button.tertiary#cancel-add-criteria
        Cancel

  %hr.thin
  .form-group
    %label.content-label-sm
      Add Name to save this search criteria to My Saved Searches
    %input.form-control{name: 'search_name', :type => 'text', :maxlength => '50'}
  .form-group.text-center
    %button.primary#submit-advanced-search{type: 'button', value: 'submit', onclick: 'advanced_webcat_index_table();'}
      Submit Search
    %button.secondary#reset-advanced-search.reset{type: 'button', onclick: 'webcat_reset_search();'}
      Reset Search


