= form_for NamedSearch.new, url: escalations_webcat_complaint_entries_path, method: 'get', 'accept-charset': 'UTF-8', html: {id: 'cat_named_search'} do |named_form|
  -# Default search criteria
  .form-group.search-item.hidden-selectize-dropdown
    %label.content-label-sm{for: 'ip_or_uri'} Complaint (URL/IP/Domain)
    %select.form-control.selectize#complaint-input{name: 'ip_or_uri', multiple: 'multiple', tabindex:'-1'}
    %button#remove-criteria-complaint.remove-input{onclick:'clearSelectize("complaint-input")', type: 'button'}

  .form-group.search-item
    %label.content-label-sm{for: 'company-input'} Submitter Org
    %select.form-control.selectize#company-input{name: 'company_name', multiple: 'multiple', tabindex:'-1'}
    %button#remove-criteria-company.remove-input{onclick:'clearSelectize("company-input")', type: 'button'}

  .form-group.search-item
    %label.content-label-sm{for: 'channel'} Added Through Channel
    %select.form-control.selectize#channel-input{name: 'channel', list: 'channel-input-list', multiple: 'multiple', tabindex:'-1'}
    %datalist#channel-input-list
    %button#remove-criteria-channel.remove-input{onclick:'clearSelectize("channel-input")', type: 'button'}

  .form-group.search-item
    %label.content-label-sm{for: 'status'} Status
    %select.form-control.selectize#status-input{name: 'status', multiple: 'multiple', tabindex:'-1'}
    %button#remove-criteria-status.remove-input{onclick:'clearSelectize("status-input")', type: 'button'}

  .form-group.search-item
    %label.content-label-sm{for: 'tags'} Tags
    %select.form-control.selectize#tags-input{name: 'tags', multiple: 'multiple', tabindex:'-1'}
    %input.hidden#search_tag_list{value: ComplaintTag.all.sort_by(&:name).map { |tag| tag.name }.join(','), name: 'tags'}
    %button#remove-criteria-tags.remove-input{onclick:'clearSelectize("tags-input")', type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Assignee
    %select.form-control.selectize#assignee-input{name: 'user_id', multiple: 'multiple', tabindex:"-1"}
    %button#remove-criteria-assignee.remove-input{onclick:'clearSelectize("assignee-input")', type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Category
    %select.form-control.selectize#category-input{name: 'category-input', multiple: 'multiple', tabindex:'-1'}
    %button#remove-criteria-category.remove-input{onclick:'clearSelectize("category-input")', type: 'button'}

  .form-group.search-item.hidden.hidden-selectize-dropdown
    %label.content-label-sm Entry ID
    %select.form-control.selectize#entryid-input{name: 'entry_id', multiple: 'multiple', tabindex:'-1'}
    %button#remove-criteria-entryid.remove-input{onclick:'clearSelectize("entryid-input")', type: 'button'}

  .form-group.search-item.hidden.hidden-selectize-dropdown
    %label.content-label-sm Complaint ID(s) (comma separate multiples)
    %select.form-control.selectize#complaintid-input{name: 'complaint_id', multiple: 'multiple', tabindex:'-1'}
    %button#remove-criteria-complaintid.remove-input{onclick:'clearSelectize("complaintid-input")', type: 'button'}

  .form-group.search-item.hidden.hidden-selectize-dropdown
    %label.content-label-sm Jira ID(s) (comma separate multiples)
    %select.form-control.selectize#jiraid-input{name: 'jira_id', multiple: 'multiple', tabindex:'-1', placeholder: 'ex: SDOCS-123'}
    %button#remove-criteria-jiraid.remove-input{onclick:'clearSelectize("jiraid-input")', type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Resolution
    %select.form-control.selectize#resolution-input{name: 'resolution', multiple: 'multiple', tabindex:'-1'}
    %button#remove-criteria-resolution.remove-input{onclick:'clearSelectize("resolution-input")', type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Submitter Type
    %select.form-control.selectize#submitter-type-input{name: 'submitter_type', multiple: 'multiple', tabindex: '-1', data: 'webcat'}
    %button#remove-criteria-submitter-type.remove-input{onclick: 'clearSelectize("submitter-type-input")', type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Submitter Name
    %select.form-control.selectize#name-input{name: 'customer_name', multiple: 'multiple', tabindex:'-1'}
    %button#remove-criteria-customer-name.remove-input{onclick:'clearSelectize("name-input")', type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Submitter Email
    %input.form-control#email-input{name: 'customer_email', list: 'customerEmailList'}
    %datalist#customerEmailList
    %button#remove-criteria-customer-email.remove-input{type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Platform
    %select.form-control.selectize#platform-input{name: 'platform', multiple: 'multiple', tabindex: '-1', data: 'webcat'}
    %button#remove-criteria-platform.remove-input{onclick: 'clearSelectize("platform-input")', type: 'button'}

  .form-group.search-item
    %label.content-label-sm{for: 'date-submitted-newer'} Date Submitted (Newer)
    %input.form-control#submitted-newer-input{name: 'submitted_newer', type: 'date'}
    %button#remove-criteria-submitted-newer.remove-input{type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Date Submitted (Older)
    %input.form-control#submitted-older-input{name: 'submitted_older', type: 'date'}
    %button#remove-criteria-submitted-older.remove-input{type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Last Modified (Newer)
    %input.form-control#modified-newer-input{type: 'date', name: 'modified_newer'}
    %button#remove-criteria-modified-newer.remove-input{type: 'button'}

  .form-group.search-item.hidden
    %label.content-label-sm Last Modified (Older)
    %input.form-control#modified-older-input{type: 'date', name: 'modified_older'}
    %button#remove-criteria-modified-older.remove-input{type: 'button'}

  .form-group-wrapper-relative
    %button#add-search-items-button{type: 'button'}
      Add Search Criteria
    #search-criteria-options
      .multicol-2
        %ul
          %li.hidden
            %input.search-checkbox#complaint-cb{type: 'checkbox', name: 'search-criteria', value: 'Complaint (URL/IP/Domain)', for: 'complaint-input'}
            %label.search-criteria-label{for: 'complaint-cb'}
              Complaint (URL/IP/Domain)
          %li.hidden
            %input.search-checkbox#company-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Org', for: 'company-input'}
            %label.search-criteria-label{for: 'company-cb'}
              Submitter Org
          %li.hidden
            %input.search-checkbox#channel-cb{type: 'checkbox', name: 'search-criteria', value: 'Added Through Channel', for: 'channel-input'}
            %label.search-criteria-label{for: 'channel-cb'}
              Added Through Channel
          %li.hidden
            %input.search-checkbox#status-cb{type: 'checkbox', name: 'search-criteria', value: 'Status', for: 'status-input'}
            %label.search-criteria-label{for: 'status-cb'}
              Status
          %li.hidden
            %input.search-checkbox#submitted-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Date Submitted (Newer)', for: 'submitted-newer-input'}
            %label.search-criteria-label{for: 'submitted-newer-cb'}
              Date Submitted (Newer)
          %li.hidden
            %input.search-checkbox#tags-cb{type: 'checkbox', name: 'search-criteria', value: 'Tags', for: 'tags-input'}
            %label.search-criteria-label{for: 'tags-cb'}
              Tags
          %li
            %input.search-checkbox#category-cb{type: 'checkbox', name: 'search-criteria', value: 'Category', for: 'category-input'}
            %label.search-criteria-label{for: 'category-cb'}
              Category
          %li
            %input.search-checkbox#assignee-cb{type: 'checkbox', name: 'search-criteria', value: 'Assignee', for: 'assignee-input'}
            %label.search-criteria-label{for: 'assignee-cb'}
              Assignee
          %li
            %input.search-checkbox#entry-id-cb{type: 'checkbox', name: 'search-criteria', value: 'Entry ID', for: 'entryid-input'}
            %label.search-criteria-label{for: 'entry-id-cb'}
              Entry ID
          %li
            %input.search-checkbox#complaint-id-cb{type: 'checkbox', name: 'search-criteria', value: 'Complaint ID', for: 'complaintid-input'}
            %label.search-criteria-label{for: 'complaint-id-cb'}
              Complaint ID
          %li
            %input.search-checkbox#jira-id-cb{type: 'checkbox', name: 'search-criteria', value: 'Jira ID', for: 'jiraid-input'}
            %label.search-criteria-label{for: 'jira-id-cbst Modified ()'}
              Jira ID
          %li
            %input.search-checkbox#resolution-cb{type: 'checkbox', name: 'search-criteria', value: 'Resolution', for: 'resolution-input'}
            %label.search-criteria-label{for: 'resolution-cb'}
              Resolution
          %li
            %input.search-checkbox#submitter-type-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Type', for: 'submitter-type-input'}
            %label.search-criteria-label{for: 'submitter-newer-ch'}
              Submitter Type
          %li
            %input.search-checkbox#name-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Name', for: 'name-input'}
            %label.search-criteria-label{for: 'name-cb'}
              Submitter Name
          %li
            %input.search-checkbox#email-cb{type: 'checkbox', name: 'search-criteria', value: 'Submitter Email', for: 'email-input'}
            %label.search-criteria-label{for: 'email-cb'}
              Submitter Email
          %li
            %input.search-checkbox#platform-cb{type: 'checkbox', name: 'search-criteria', value: 'Platform', for: 'platform-input'}
            %label.search-criteria-label{for: 'platform-cb'}
              Platform
          %li
            %input.search-checkbox#submitted-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Date Submitted (Older)', for: 'submitted-older-input'}
            %label.search-criteria-label{for: 'submitted-older-cb'}
              Date Submitted (Older)
          %li
            %input.search-checkbox#modified-newer-cb{type: 'checkbox', name: 'search-criteria', value: 'Last Modified (Newer)', for: 'modified-newer-input'}
            %label.search-criteria-label{for: 'modified-newer-cb'}
              Last Modified (Newer)
          %li
            %input.search-checkbox#modified-older-cb{type: 'checkbox', name: 'search-criteria', value: 'Last Modified (Older)', for: 'modified-older-input'}
            %label.search-criteria-label{for: 'modified-older-cb'}
              Last Modified (Older)

      .form-group.text-center
        %button.tertiary#cancel-add-criteria{type: 'button'}
          Close

  %hr.thin
  .form-group
    %label.content-label-sm
      Add Name to save this search criteria to My Saved Searches
    %input.form-control{name: 'search_name', :type => 'text', :maxlength => '50'}
  .form-group.text-center
    %button.primary#submit-advanced-search{type: 'button', value: 'submit', onclick: 'set_webcat_advanced();'}
      Submit Search
    %button.secondary#reset-advanced-search.reset{type: 'button', onclick: 'webcat_reset_search();'}
      Reset Search
