#index_change_resolution_dialog{title: 'Bulk Resolution Tool'}
  .edit-resolution-container
    .row.bottom-border
      .col-xs-12
        .edit-resolution-comment
          Apply any below attributes to selected tickets using the apply button next to that field or apply all
          attributes using the Apply All button at the bottom of this form.

    .row.bottom-border
      .col-xs-10
        %label.content-label-sm Resolution (Fixed resolution cannot be applied in bulk.)
        .resolution-input-wrapper
          %input{type: 'radio', id: 'webcat_resolution_unchanged_option', name: 'complaint[resolution]', value: 'UNCHANGED'}
          %label.resolution-radio-label{for: 'webcat_resolution_unchanged_option'} Unchanged
          %input{type: 'radio', id: 'webcat_resolution_invalid_option', name: 'complaint[resolution]', value: 'INVALID'}
          %label.resolution-radio-label{for: 'webcat_resolution_invalid_option'} Invalid
      .col-xs-2.text-right
        %button#resolution-apply-button.resolution-apply-button

    .row.bottom-border
      .col-xs-10.customer-facing-comment-container
        %label.content-label-sm.full-row-label{'for':'customer_facing_select'} Resolution Email Template
        %select#email-response-to-customers-select{name: 'customer_facing_comment_select'}
        %label.content-label-sm.full-row-label{'for':'customer_facing_comment'} Response to Customer
        %textarea#email-response-to-customers.email-response-input{type: 'text', name: 'customer_facing_comment'}
      .col-xs-2.text-right
        %button#customer-facing-apply-button.resolution-apply-button.extra-top-margin-button
    -#.col-xs-12.categories-container
            -#  .resolution-category-options
            -#    %label.content-label-sm.edit-resolution-label{for: 'complaint[categories]'} Categories to Apply
            -#    %input{type: 'radio', name: 'complaint[category_option]', value: 'ADD', checked: 'checked'}
            -#    %label.resolution-radio-label Add
            -#    %input{type: 'radio', name: 'complaint[category_option]', value: 'REPLACE'}
            -#    %label.resolution-radio-label Replace
            -#    %input{type: 'radio', name: 'complaint[category_option]', value: 'DROP_ALL'}
            -#    %label.resolution-radio-label Drop All
            -#  .resolution-controls
            -#    .resolution-input-wrapper
            -#      %select#webcat-bulk-categories.edit-resolution-select{name: 'webcat-bulk-categories', placeholder: 'Enter Categories / Confidence Order', value: ''}
            -#    .resolution-apply-wrapper
            -#      %button#category-apply-button.resolution-apply-button
    .row.bottom-border
      .col-xs-10.internal-comment-container
        %label.content-label-sm.full-row-label{'for':'internal_comment'} Internal Comment
        .resolution-controls
          .resolution-input-wrapper.webcat-textarea-input-rapper
            %textarea.form-control.internal-comment-textbox#internal_comment{:name => "internal_comment", :type => "text", :value => ""}
      .col-xs-2.text-right
        %button#internal-comment-button.resolution-apply-button.extra-top-margin-button

    .row
      .col-xs-12.button-wrapper
        %button.secondary.button-update-resolution.resolution-clear-button{type:'button', onclick:'clearBulkResolution();'}
          =inline_svg 'icon_clear_white.svg', class: 'resolution-button-icon'
          %span Reset
        %button.secondary.button-update-resolution.apply-all-button{type:'button', onclick:'applyAll();'}
          =inline_svg 'icon_apply_all_white.svg', class: 'resolution-button-icon'
          %span Apply All
        -#%button{class: 'primary button-update-resolution update-resolution-button', type:'button', onclick:'updateResolutionDialog();'}
        -#  =inline_svg 'icon_submit_arrow.svg', class: 'resolution-button-icon'
        -#  %span Submit