.webcat-research-wrapper
  .domain-table-wrapper
    .domain-table-listing
      %label.toolbar-section-label
        Domain
      #domainHistoryDomainTableListingContent.domain-table-listing-content
    .domain-table-current-category
      %label.toolbar-section-label
        Current Categories
      #domainHistoryDomainTableCurrentCategoryContent.domain-table-current-category-content
    .domain-table-reputation
      %label.toolbar-section-label
        Reputation
      #domainHistoryDomainTableReputation.domain-table-reputation-content
        %span#domainHistorySvg.webcat-research-svg

  .toolbar.webcat-research-toolbar
    %div
      %label.toolbar-section-label
        Edit
      %span.dropdown
        %button#domain-history-webcat-research-categorize-url.webcat-research-categorize-url-button.toolbar-button.dropdown-toggle.esc-tooltipped{disabled: 'disabled', title: 'Categorize URL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
          %span.toolbar-button-text Categorize URL
        %div{'aria-labelledby': 'webcat-research-categorize-url', class: 'dropdown-menu toolbar-dropdown webcat-research-categorize-dropdown'}
          .selected-urls-wrapper#domain-history-selected-urls-wrapper
            %h5 Selected urls to categorize
            %ul#domainHistoryTableSelectedUrlsList
          .selected-urls-categories-wrapper#domain-history-selected-urls-categories-wrapper
            %label#domain-history-limit-warning.label.warning-limit
              A maximum of 10 items can be submitted for categorization at a time. Some items have been ignored
            %button.primary{type: 'submit', name: 'commit', id: 'cat-research', onclick: 'apply_webcat_research_categories("domain-history"); return false', 'data-disable-with': 'Submit'}
              Submit

  .ajax-message-div#domainHistoryLoader
    .loader-gears
      =inline_svg 'icon_gears_loader.svg'
    %span.loader-msg Domain search processing, please wait...

  %table.domain-history-table.table#domain-history-table
    %thead
      %tr
        %th
          %input{type: "checkbox", name: "select all urls", id: 'domainHistoryCheckAll'}
        %th
          Entry Id
        %th
          Category
        %th
          Domain
        %th
          Time of Action
        %th
          Action
        %th
          Confidence
        %th
          Description
        %th
          User
    %tbody#domainHistoryTableBody
