.webcat-research-wrapper
  %table.domain-history-table
    %thead
      %tr
        %th
          %input{type: "checkbox", name: "select all urls", class: 'categorize-url-button'}
        %th
          Entry Id
        %th
          Category
        %th
          Domain
        %th
          Time of Action
        %th
          Action
        %th
          Confidence
        %th
          Description
        %th
          User
    %tbody#domainHistoryTableBody
