#duplicate-clusters-dialog{title: 'Duplicate Clusters'}
  .dialog-content-wrapper
    %h6.top-table-note This cluster has the following duplicates:
    %table#clusters-index-duplicates
      %thead
        %tr
          %th Cluster ID
          %th Cluster Domain
          %th Global Volume
          %th WBRS Score
          %th Platform
          %th Assignee
          %th Categories
      %tbody