%form#new-complaint-form{method: 'get', 'accept-charset': 'UTF-8'}

  .form-group
    %label.content-label-sm URLs/IP Addresses
    %textarea#ips_urls{required: true}
  .form-group
    %label.content-label-sm Description
    %input.form-control#description
  .form-group
    %label.content-label-sm Customer
    %input.form-control#customers{list: 'customerList'}
      %datalist#customerList
  .form-group
    %label.content-label-sm Platform
    %input.form-control#platforms{list: 'platformList', required: true}
      %datalist#platformList
  .form-group
    %label.content-label-sm Tags
    %select.form-control.selectize#select-to-new{placeholder: "Select or create tags", multiple: "multiple", tabindex:"-1"}
    %input.hidden#complaint_tag_list{value: ComplaintTag.all.map { |tag| tag.name }.join(',')}


  %hr.thin
  .form-group.text-center
    %button.primary{value: 'submit', type: 'submit'}
      Create
    %button.secondary#cancel_complaint{type: 'button'}
      Cancel
