%form#new-complaint-form{method: 'get', 'accept-charset': 'UTF-8'}
  .form-group.search-item
    %label.content-label-sm URLs
    %textarea.form-control
  .form-group.search-item
    %label.content-label-sm Description
    %input.form-control
  .form-group.search-item
    %label.content-label-sm Comment
    %input.form-control
  .form-group.search-item
    %label.content-label-sm Customer
    %input.form-control#customers{list: 'customerList'}
      %datalist#customerList
  .form-group.search-item
    %label.content-label-sm Tags
    %input.form-control

  %hr.thin
  .form-group.text-center
    %button.primary{value: 'submit'}
      Create
    %button.secondary
      Cancel


