<div class="row">
  <div class="col-lg-1">

  </div>
  <div class="col-lg-11">
    <button onclick="select_all_pages()">Select All</button>
    <button onclick="unselect_all_pages()">Select None</button>
    <button onclick="open_viewable()">Open All Viewable</button>
    <button onclick="open_nonviewable()">Open Non Viewable</button>
    <button onclick="open_selected()">Open Selected</button>
    <button onclick="open_all()">Open All</button>
  </div>
</div>

