<div class="row">
  <div class="col-lg-3 col-lg-offset-1">

    <button onclick="edit_selected_complaints()">Edit Selected</button>
    <button onclick="take_selected()">Take selected</button>
    <button onclick="return_selected()">Return selected</button>

    <button type="button" data-toggle="modal" data-target="#cat_new_url_modal">
      categorize new URL
    </button>
  </div>
  <div class="col-lg-2">
    <button onclick="collapse_all()">collapse all</button>
    <button onclick="collapse_selected()">collapse selected</button>
    <button onclick="expand_all()">expand all</button>
    <button onclick="expand_selected()">expand selected</button>
  </div>
  <div class="col-lg-3">
    <button onclick="filterByStatus('ALL')">filterbyALL</button>
    <button onclick="filterByStatus('COMPLETED')">filterbycompleted</button>
    <button onclick="filterByStatus('ACTIVE')">filterbyACTIVE</button>
    <button onclick="filterByStatus('NEW')">filterbyNEW</button>
    <button onclick="filterByStatus('REVIEW')">filterbyREVIEW</button>
    <input id="self_review" type="checkbox">allow self Review
  </div>

  <div class="col-lg-3">
    <button onclick="select_all_pages()">Select All</button>
    <button onclick="unselect_all_pages()">Select None</button>
    <button onclick="open_viewable()">Open All Viewable</button>
    <button onclick="open_nonviewable()">Open Non Viewable</button>
    <button onclick="open_selected()">Open Selected</button>
    <button onclick="open_all()">Open All</button>
  </div>
</div>

