#webcat-index-toolbar.toolbar
  %div
    %div.webcat-toolbar-select-all-wrapper
      %input{type: 'checkbox', id:'complaints_select_all'}
      %label{for: 'complaints_select_all'} Select All
  %div
    %span.dropdown
      %button#webcat-index-table-show-columns-button.toolbar-button.show-col-button.dropdown-toggle.esc-tooltipped-webcat-toolbar{title: 'Show/Hide Columns', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Show/Hide Columns
      .dropdown-menu.toolbar-dropdown#webcat-index-table-show-columns-dropdown{'aria-labelledby': 'webcat-index-table-show-columns-button'}
        %ul
          %li.toggle-vis-webcat.hidden{'data-column':'1'}
            %input.important-checkbox{type: 'checkbox', checked: true, id: 'important-checkbox'} Important
          %li.toggle-vis-webcat{'data-column':'3'}
            %input.age-checkbox{type: 'checkbox', checked: true, id: 'age-checkbox'} Age
          %li.toggle-vis-webcat{'data-column':'4'}
            %input.status-checkbox{type: 'checkbox', checked: true, id: 'status-checkbox'} Status
          %li.toggle-vis-webcat{'data-column':'5'}
            %input.tags-checkbox{type: 'checkbox', checked: true, id: 'tags-checkbox'} Tags
          %li.toggle-vis-webcat{'data-column':'6'}
            %input.subdomain-checkbox{type: 'checkbox', checked: true, id: 'subdomain-checkbox'} Subdomain
          %li.toggle-vis-webcat{'data-column':'7'}
            %input.domain-checkbox{type: 'checkbox', checked: true, id: 'domain-checkbox'} Domain / IP
          %li.toggle-vis-webcat{'data-column':'8'}
            %input.path-checkbox{type: 'checkbox', checked: true, id: 'path-checkbox'} Path
          %li.toggle-vis-webcat{'data-column':'9'}
            %input.uri-checkbox{type: 'checkbox', checked: true, id: 'uri-checkbox'} URI

        %ul
          %li.toggle-vis-webcat{'data-column':'10'}
            %input.primary-checkbox{type: 'checkbox', checked: true, id: 'primary-checkbox'} Primary Cat
          %li.toggle-vis-webcat{'data-column':'11'}
            %input.suggested-checkbox{type: 'checkbox', checked: true, id: 'suggested-checkbox' } Suggested Cat
          %li.toggle-vis-webcat{'data-column':'12'}
            %input.wbrs-checkbox{type: 'checkbox', checked: true, id: 'wbrs-checkbox'} WBRS
          %li.toggle-vis-webcat{'data-column':'13'}
            %input.platform-checkbox{type: 'checkbox', checked: true, id: 'platform-checkbox'} Platform
          %li.toggle-vis-webcat{'data-column':'14'}
            %input.submittertype-checkbox{type: 'checkbox', checked: true, id: 'submittertype-checkbox'} Submitter Type
          %li.toggle-vis-webcat{'data-column':'15'}
            %input.submitterorg-checkbox{type: 'checkbox', checked: true, id: 'submitterorg-checkbox'} Submitter Org
          %li.toggle-vis-webcat{'data-column':'16'}
            %input.submitterorg-checkbox{type: 'checkbox', checked: true, id: 'submitteremail-checkbox'} Submitter Email
          %li.toggle-vis-webcat{'data-column':'17'}
            %input.channel-checkbox{type: 'checkbox', checked: true, id: 'channel-checkbox'} Channel
          %li.toggle-vis-webcat{'data-column':'18'}
            %input.assignee-checkbox{type: 'checkbox', checked: true, id: 'assignee-checkbox'} Assignee

  %div
    %div.btn-group.toolbar-btn-group
      %button.btn.toolbar-button.open-selected.esc-tooltipped-webcat-toolbar{onclick: 'open_selected()', type: 'button', title: 'Open Selected (alt + o)'}
        %span.toolbar-button-text Selected
      %button.btn.toolbar-button.open-all.esc-tooltipped-webcat-toolbar{onclick: 'open_all()', type: 'button', title: 'Open All (shift + alt + o)'}
        %span.toolbar-button-text.text-button-all All
  %div
    %span.toolbar-concise-button-area
      %button.toolbar-button.take-ticket-toolbar-button.esc-tooltipped-webcat-toolbar.concise-button.concise-button-first{onclick: 'take_selected()', type: 'button', title: 'Take (alt + t)'}
        %span.toolbar-button-text Take
      %button.toolbar-button.return-ticket-toolbar-button.dropdown-button-margin-right.esc-tooltipped-webcat-toolbar.concise-button.concise-button-last.darkened-button{onclick: 'return_selected()', type: 'button', title: 'Return (alt + r)'}
        %span.toolbar-button-text Return
    %span.toolbar-concise-button-area.webrep-change-assignee-wrapper
      %button.toolbar-button.remove-assignee-toolbar-button.dropdown-toggle.esc-tooltipped-webcat-toolbar.concise-button.concise-button-first.concise-button-no-text{onclick: 'webcat_remove_assignee()', title: 'Remove Assignee (alt + u)', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span.dropdown
        %button#index_change_assign.toolbar-button.ticket-owner-button.dropdown-toggle.esc-tooltipped-webcat-toolbar.concise-button.concise-button-last.darkened-button{title: 'Change Assignee', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
          %span.toolbar-button-text
            Change Assignee
        .dropdown-menu.toolbar-dropdown{'aria-labelledby': 'index_change_assign'}
          %h3 Change Assignee
          .inline-tool-content-wrapper
            .toolbar
              %div
                %label.toolbar-section-label Assignee
                %select{name: 'index_target_assignee', id: 'index_target_assignee', class:'toolbar-select'}
                  - User.joins(roles: :org_subset).where(org_subsets: { name: 'webcat' }).distinct.order(:cvs_username).each do |u|
                    %option{id: u.id, value: u.id, label: u.cvs_username}
                      = u.cvs_username
              %button{class: 'primary', type:'button', id: 'button_reassign', onclick:'webcat_change_assignee();'}
                Assign
  %div
    %span.dropdown
      %button#convert-ticket-button.toolbar-button.convert-ticket-button.esc-tooltipped-webcat-toolbar.dropdown-toggle{type: 'button', title: 'Convert ticket to web reputation ticket', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', disabled: 'disabled', onclick: 'prep_complaint_to_convert();'}
        %span.toolbar-button-text Convert to Webrep
      .dropdown-menu.toolbar-dropdown#convert-ticket-dropdown{'aria-labelledby': 'convert-ticket-button'}
        .dropdown-tool-text-divider.primary-text-divider Convert to Reputation Dispute
        .inline-tool-content-wrapper
          .dropdown-loader-wrapper.hidden
            .gear-loader-wrapper
              = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
            %span.loader-msg Converting to Webrep...
          .row
            .col-xs-8
              %label.content-label-sm
                Ticket ID to Convert:
              %span.ticket-id-to-convert#complaint-id-to-convert

            .col-xs-4
              %label.content-label-sm Reputation Ticket Type
              #convert-ticket-type.form-group
                .inline-radio-wrapper
                  %label{for: 'web-ticket-type'} Web
                  %input#web-ticket-type.convert-input{type: 'radio', name: 'ticket-type', value: 'w'}
                .inline-radio-wrapper
                  %label{for: 'email-ticket-type'} Email
                  %input#email-ticket-type.convert-input{type: 'radio', name: 'ticket-type', value: 'e'}
          %hr.thin
          .row
            .col-xs-12
              %label.content-label-sm
                Ticket Entries:
                %span.convert-entry-count
              .convert-entry-table-wrapper
                %table#entries-to-convert
                  %thead
                    %tr
                      %th Entry ID
                      %th Entry Content
                      %th.convert-disposition-cell.text-right Suggested Disposition
                  %tbody

          %hr.thin
          .comment-wrapper
            %label.content-label-sm Ticket Summary
            %textarea#convert-ticket-summary.dropdown-comment.note-input
          .button-row-center
            %button#convert-to-webrep.primary.dropdown-submit-button{type: 'button', disabled: 'disabled'}
              Convert Ticket

  %div
    %button.toolbar-button.collapse-button.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{onclick: 'collapse_selected()', type: 'button', title: 'Collapse Selected (alt + f)'}
      %span.toolbar-button-text Selected
    %button.toolbar-button.collapse-all.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{onclick: 'collapse_all()', type: 'button', title: 'Collapse All (alt + h)'}
      %span.toolbar-button-text.text-button-all All
  %div
    %button.toolbar-button.expand-row-button.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{onclick: 'expand_selected()', type: 'button', title: 'Expand Selected (alt + d)'}
      %span.toolbar-button-text Selected
    %button.toolbar-button.expand-all.esc-tooltipped-webcat-toolbar{type: 'button', title: 'Expand All (alt + g)'}
      %span.toolbar-button-text.text-button-all All
  %div
    %button.toolbar-button.sync-button#fetch.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{ onclick: 'fetch_complaints();', title: 'Fetch Complaints'}
      %span.toolbar-button-text Complaints
    %button.toolbar-button.sync-button#fetch_wbnp.esc-tooltipped-webcat-toolbar{ onclick: 'fetch_wbnp_data();', title: 'Fetch WBNP Data'}
      %span.toolbar-button-text WBNP Data

  %div.webcat-toolbar-push
    - if params[:f] != "REVIEW"
      %button#index_update_resolution.toolbar-button.resolution-submit-button.dropdown-toggle.esc-tooltipped-webcat-toolbar.toolbar-button-spacer.webcat-toolbar-bulk-res{title: 'Resolve multiple selected entries with the same resolution and comments', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span
          Bulk Resolution Tool
      .dropdown-menu.toolbar-dropdown#index-change-assign-dropdown{'aria-labelledby': 'index_update_resolution'}
        #index_change_resolution_dialog.row{title: 'Bulk Resolution Tool'}
          .edit-resolution-container
            .col-xs-12
              .edit-resolution-comment
                Apply any below attributes or all attributes at once to selected tickets.
            .col-xs-12.resolution-container
              %label.content-label-sm.edit-resolution-label Resolution
              .resolution-controls
                .resolution-input-wrapper
                  %input{type: 'radio', id: 'webcat_resolution_unchanged_option', name: 'complaint[resolution]', value: 'UNCHANGED'}
                  %label.resolution-radio-label{for: 'webcat_resolution_unchanged_option'} Unchanged
                  %input{type: 'radio', id: 'webcat_resolution_fixed_option', name: 'complaint[resolution]', value: 'FIXED'}
                  %label.resolution-radio-label{for: 'webcat_resolution_fixed_option'} Fixed
                  %input{type: 'radio', id: 'webcat_resolution_invalid_option', name: 'complaint[resolution]', value: 'INVALID'}
                  %label.resolution-radio-label{for: 'webcat_resolution_invalid_option'} Invalid
                .resolution-apply-wrapper
                  %button#resolution-apply-button.resolution-apply-button
            .col-xs-12.customer-facing-comment-container
              %label.content-label-sm.edit-resolution-label{'for':'customer_facing_comment'} Customer Facing Comment
              .resolution-controls
                .resolution-input-wrapper
                  %input#email-response-to-customers.email-response-input{type: 'text', name: 'customer_facing_comment'}
                .resolution-apply-wrapper
                  %button#customer-facing-apply-button.resolution-apply-button
            -#.col-xs-12.categories-container
            -#  .resolution-category-options
            -#    %label.content-label-sm.edit-resolution-label{for: 'complaint[categories]'} Categories to Apply
            -#    %input{type: 'radio', name: 'complaint[category_option]', value: 'ADD', checked: 'checked'}
            -#    %label.resolution-radio-label Add
            -#    %input{type: 'radio', name: 'complaint[category_option]', value: 'REPLACE'}
            -#    %label.resolution-radio-label Replace
            -#    %input{type: 'radio', name: 'complaint[category_option]', value: 'DROP_ALL'}
            -#    %label.resolution-radio-label Drop All
            -#  .resolution-controls
            -#    .resolution-input-wrapper
            -#      %select#webcat-bulk-categories.edit-resolution-select{name: 'webcat-bulk-categories', placeholder: 'Enter Categories / Confidence Order', value: ''}
            -#    .resolution-apply-wrapper
            -#      %button#category-apply-button.resolution-apply-button
            .col-xs-12.internal-comment-container
              %label.content-label-sm.edit-resolution-label{'for':'internal_comment'} Internal Comment
              .resolution-controls
                .resolution-input-wrapper.webcat-textarea-input-rapper
                  %textarea.form-control.internal-comment-textbox#internal_comment{:name => "internal_comment", :type => "text", :value => ""}
                .resolution-apply-wrapper
                  %button#internal-comment-button.resolution-apply-button
            .col-xs-12.button-wrapper
              -#%button{class: 'primary button-update-resolution resolution-clear-button', type:'button', onclick:'clearBulkResolution();'}
              -#  =inline_svg 'icon_clear_white.svg', class: 'resolution-button-icon'
              -#  %span Clear
              -#%button{class: 'primary button-update-resolution apply-all-button', type:'button', onclick:'applyAll();'}
              -#  =inline_svg 'icon_apply_all_white.svg', class: 'resolution-button-icon'
              -#  %span Apply All
              %button{class: 'primary button-update-resolution update-resolution-button', type:'button', onclick:'bulkResolution();'}
                =inline_svg 'icon_submit_arrow.svg', class: 'resolution-button-icon'
                %span Submit

      %button.toolbar-button.master-submit-button#master-submit.esc-tooltipped-webcat-toolbar{ onclick: 'master_submit();', title: 'Submit multiple selected entries with any changes entered by row'}
        %span
          Bulk Submit
      %span.dropdown
    - else
      %button.toolbar-button.master-submit-button#review-bulk-submit.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{ onclick: 'review_bulk_submit();', title: 'Bulk Review'}
        %span.toolbar-button-text Confirm Review
  %div.webcat-toolbar-tall-wrapper
    %input{type: 'checkbox', id:'self_review'}
    %label{for: 'self_review'} Allow Self Review
