.toolbar#webcat-index-toolbar
  %div
    %label.toolbar-section-label
      View
    %span.dropdown
      %button#webcat-index-table-show-columns-button.toolbar-button.show-col-button.dropdown-toggle.esc-tooltipped{title: 'Show/Hide Columns', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Show/Hide Columns
      .dropdown-menu.toolbar-dropdown#webcat-index-table-show-columns-dropdown{'aria-labelledby': 'webcat-index-table-show-columns-button'}
        %ul
          %li.toggle-vis-webcat.hidden{'data-column':'1'}
            %input.age-checkbox{type: 'checkbox', checked: true, id: 'important-checkbox'} Important
          %li.toggle-vis-webcat{'data-column':'3'}
            %input.age-checkbox{type: 'checkbox', checked: true, id: 'age-checkbox'} Age
          %li.toggle-vis-webcat{'data-column':'4'}
            %input.status-checkbox{type: 'checkbox', checked: true, id: 'status-checkbox'} Status
          %li.toggle-vis-webcat{'data-column':'5'}
            %input.tags-checkbox{type: 'checkbox', checked: true, id: 'tags-checkbox'} Tags
          %li.toggle-vis-webcat{'data-column':'6'}
            %input.subdomain-checkbox{type: 'checkbox', checked: true, id: 'subdomain-checkbox'} Subdomain
          %li.toggle-vis-webcat{'data-column':'7'}
            %input.domain-checkbox{type: 'checkbox', checked: true, id: 'domain-checkbox'} Domain / IP
          %li.toggle-vis-webcat{'data-column':'8'}
            %input.path-checkbox{type: 'checkbox', checked: true, id: 'path-checkbox'} Path
          %li.toggle-vis-webcat{'data-column':'9'}
            %input.primary-checkbox{type: 'checkbox', checked: true, id: 'primary-checkbox'} Primary Cat

        %ul
          %li.toggle-vis-webcat{'data-column':'10'}
            %input.suggested-checkbox{type: 'checkbox', checked: true, id: 'suggested-checkbox' } Suggested Cat
          %li.toggle-vis-webcat{'data-column':'11'}
            %input.wbrs-checkbox{type: 'checkbox', checked: true, id: 'wbrs-checkbox'} WBRS
          %li.toggle-vis-webcat{'data-column':'12'}
            %input.platform-checkbox{type: 'checkbox', checked: true, id: 'platform-checkbox'} Platform
          %li.toggle-vis-webcat{'data-column':'13'}
            %input.submittertype-checkbox{type: 'checkbox', checked: true, id: 'submittertype-checkbox'} Submitter Type
          %li.toggle-vis-webcat{'data-column':'14'}
            %input.submitterorg-checkbox{type: 'checkbox', checked: true, id: 'submitterorg-checkbox'} Submitter Org
          %li.toggle-vis-webcat{'data-column':'15'}
            %input.assignee-checkbox{type: 'checkbox', checked: true, id: 'assignee-checkbox'} Assignee

  %div
    %label.toolbar-section-label
      Open in Tab
    %button.toolbar-button.open-selected.esc-tooltipped.toolbar-button-spacer{onclick: 'open_selected()', type: 'button', title: 'Open Selected (alt + o)'}
      %span.toolbar-button-text Selected
    %button.toolbar-button.open-all.esc-tooltipped{onclick: 'open_all()', type: 'button', title: 'Open All (shift + alt + o)'}
      %span.toolbar-button-text.text-button-all All
  %div
    %label.toolbar-section-label
      Edit
    %button.toolbar-button.take-ticket-toolbar-button.esc-tooltipped.toolbar-button-spacer{onclick: 'take_selected()', type: 'button', title: 'Take (alt + t)'}
      %span.toolbar-button-text Take
    %button.toolbar-button.return-ticket-toolbar-button.dropdown-button-margin-right.esc-tooltipped{onclick: 'return_selected()', type: 'button', title: 'Return (alt + r)'}
      %span.toolbar-button-text Return
    %span.dropdown
      %button#convert-ticket-button.toolbar-button.convert-ticket-button.esc-tooltipped.dropdown-toggle{type: 'button', title: 'Convert ticket to web reputation ticket', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', disabled: 'disabled', onclick: 'prep_complaint_to_convert();'}
        %span.toolbar-button-text Convert to Webrep
      .dropdown-menu.toolbar-dropdown#convert-ticket-dropdown{'aria-labelledby': 'convert-ticket-button'}
        .dropdown-tool-text-divider.primary-text-divider Convert to Reputation Dispute
        .inline-tool-content-wrapper
          %label.content-label-sm
            Ticket ID to Convert:
            %span#complaint-id-to-convert
          %br
          %label.content-label-sm
            Ticket Entries:
          %table#entries-to-convert

          .form-group
            %label.content-label-sm Reputation Ticket Type
            .inline-radio-wrapper.row
              .col-xs-6
                %label{for: 'web-ticket-type'} Web
                %input#web-ticket-type{type: 'radio', name: 'ticket-type', value: 'web'}
              .col-xs-6
                %label{for: 'email-ticket-type'} Email
                %input#email-ticket-type{type: 'radio', name: 'ticket-type', value: 'email'}

          .form-group
            %label.content-label-sm Suggested Disposition
            .inline-radio-wrapper.row
              .col-xs-6
                %label{for: 'false-pos-radio'} False Positive
                %input#false-pos-radio{type: 'radio', name: 'disposition', value: 'fp'}
              .col-xs-6
                %label{for: 'false-neg-radio'} False Negative
                %input#false-neg-radio{type: 'radio', name: 'disposition', value: 'fn'}

          %hr.thin
          .comment-wrapper
            %label.content-label-sm Ticket Summary
            %textarea#convert-ticket-summary.dropdown-comment.note-input
          .button-row-center
            %button.primary.dropdown-submit-button{type: 'button'}
              Convert Ticket

  %div
    %label.toolbar-section-label
      Collapse
    %button.toolbar-button.collapse-button.esc-tooltipped.toolbar-button-spacer{onclick: 'collapse_selected()', type: 'button', title: 'Collapse Selected (alt + f)'}
      %span.toolbar-button-text Selected
    %button.toolbar-button.collapse-all.esc-tooltipped.toolbar-button-spacer{onclick: 'collapse_all()', type: 'button', title: 'Collapse All (alt + h)'}
      %span.toolbar-button-text.text-button-all All
  %div
    %label.toolbar-section-label
      Expand
    %button.toolbar-button.expand-row-button.esc-tooltipped.toolbar-button-spacer{onclick: 'expand_selected()', type: 'button', title: 'Expand Selected (alt + d)'}
      %span.toolbar-button-text Selected
    %button.toolbar-button.expand-all.esc-tooltipped{type: 'button', title: 'Expand All (alt + g)'}
      %span.toolbar-button-text.text-button-all All
  %div
    %label.toolbar-section-label Fetch Data
    %button.toolbar-button.sync-button#fetch.esc-tooltipped.toolbar-button-spacer{ onclick: 'fetch_complaints();', title: 'Fetch Complaints'}
      %span.toolbar-button-text Complaints
    %button.toolbar-button.sync-button#fetch_wbnp.esc-tooltipped{ onclick: 'fetch_wbnp_data();', title: 'Fetch WBNP Data'}
      %span.toolbar-button-text WBNP Data
  %div
    %label.toolbar-section-label Bulk
    - if params[:f] != "REVIEW"
      %button.toolbar-button.master-submit-button#master-submit.esc-tooltipped.toolbar-button-spacer{ onclick: 'master_submit();', title: 'Submit Changes'}
        %span.toolbar-button-text Submit Changes
      %span.dropdown
      %button#index_update_resolution.toolbar-button.resolution-submit-button.dropdown-toggle.esc-tooltipped{title: 'Submit Resolution', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Submit Resolution
      .dropdown-menu.toolbar-dropdown#index-change-assign-dropdown{'aria-labelledby': 'index_update_resolution'}
        .edit-resolution-container
          %label.toolbar-section-label.edit-resolution-label{for:'complaint[resolution]'} Resolution
          = select(:complaint, :resolution, options_for_select([["Unchanged", "UNCHANGED"], ["Invalid", "INVALID"], ["Reopened", "REOPENED"]]))
          .comment-wrapper.internal_comment_container
            %label.toolbar-section-label{'for':'internal_comment'} Internal Comment
            %input.form-control#internal_comment{:name => "internal_comment", :placeholder => "Add a comment.", :type => "text", :value => ""}
          .comment-wrapper.customer_facing_comment_container
            %label.toolbar-section-label{'for':'customer_facing_comment'} Customer Facing Comment
            %input.form-control#customer_facing_comment{:name => "customer_facing_comment", :placeholder => "Add a comment for the customer.", :type => "text", :value => ""}
          %button{class: 'primary', type:'button', id: 'button_update_resolution', onclick:'updateResolutionDialog();'}
            Update
    - else
      %button.toolbar-button.master-submit-button#review-bulk-submit.esc-tooltipped.toolbar-button-spacer{ onclick: 'review_bulk_submit();', title: 'Bulk Review'}
        %span.toolbar-button-text Confirm Review

  %div
    %label.toolbar-section-label
      Pin Toolbar
    %button.toolbar-button.pin-to-top-button#pin-to-top.esc-tooltipped{ onclick: 'pin_to_top();', title: 'Pin/Unpin Toolbar to Top (Shift+6)'}
      %span.toolbar-button-text Pin Toolbar to Top


  %div.toolbar-checkbox-wrapper
    %input{type: 'checkbox', checked: true, id:'self_review'}
      Allow Self Review
