#webcat-index-toolbar.toolbar
  %div
    %div.webcat-toolbar-select-all-wrapper
      %input{type: 'checkbox', id:'complaints_select_all'}
      %label{for: 'complaints_select_all'} Select All
  %div
    %span.dropdown
      %button#webcat-index-table-show-columns-button.toolbar-button.show-col-button.dropdown-toggle.esc-tooltipped-webcat-toolbar.dropdown-button-margin-right{title: 'Show/Hide Columns', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Show/Hide Data
      .dropdown-menu.toolbar-dropdown#webcat-index-table-show-columns-dropdown{'aria-labelledby': 'webcat-index-table-show-columns-button'}
        %label.dropdown-label Show/Hide Data
        .row
          .col-xs-3
            %ul.show-col-list
              %li
                %input#view-ticket-col-cb.webcat-view-data-cb.webcat-view-col-cb{type: 'checkbox', checked: true, 'data-column': '0'}
                %label{for: 'view-ticket-col-cb'} Ticket
              %li.sub-checkbox-wrapper
                %input#view-data-entry-id.webcat-view-data-cb{type: 'checkbox', checked: true, 'data-class': 'entry-id-row'}
                %label{for: 'view-data-entry-id'} Entry ID
              %li.sub-checkbox-wrapper
                %input#view-data-age.webcat-view-data-cb{type: 'checkbox', checked: true, 'data-class': 'age-row'}
                %label{for: 'view-data-age'} Age
              %li.sub-checkbox-wrapper
                %input#view-data-status.webcat-view-data-cb{type: 'checkbox', checked: true, 'data-class': 'state-row'}
                %label{for: 'view-data-status'} Status
              %li.sub-checkbox-wrapper
                %input#view-data-source.webcat-view-data-cb{type: 'checkbox', checked: true, 'data-class': 'source-row'}
                %label{for: 'view-data-source'} Source
          .col-xs-3
            %ul.show-col-list
              %li
                %input#view-submitter-col-cb.webcat-view-data-cb.webcat-view-col-cb{type: 'checkbox', checked: true, 'data-column': '1'}
                %label{for: 'view-submitter-col-cb'} Submitter
              %li.sub-checkbox-wrapper
                %input#view-data-org-cb.webcat-view-data-cb{type: 'checkbox', checked: true, 'data-class': 'company-row'}
                %label{for: 'view-data-org-cb'} Organization
              %li.sub-checkbox-wrapper
                %input#view-data-name-cb.webcat-view-data-cb{type: 'checkbox', checked: true, 'data-class': 'submitter-name-row'}
                %label{for: 'view-data-name-cb'} Name
              %li.sub-checkbox-wrapper
                %input#view-data-email-cb.webcat-view-data-cb{type: 'checkbox', checked: true, 'data-class': 'submitter-email-row'}
                %label{for: 'view-data-email-cb'} Email
              %li.sub-checkbox-wrapper
                %input#view-data-platform-cb.webcat-view-data-cb{type: 'checkbox', checked: true, 'data-class': 'platform-row'}
                %label{for: 'view-data-platform-cb'} Platform
          .col-xs-3
            %ul.show-col-list
              %li
                %input#view-user-col-cb.webcat-view-data-cb.webcat-view-col-cb{type: 'checkbox', checked: true, 'data-column': '3'}
                %label{for: 'view-user-col-cb'} Users
              %li.sub-checkbox-wrapper
                %input#view-data-assignee-cb.webcat-view-data-cb{type: 'checkbox', checked: true, 'data-class': 'assignee-row'}
                %label{for: 'view-data-assignee-cb'} Assignee
              -# coming soon...
              -#%li.sub-checkbox-wrapper
              -#  %input#view-data-reviewer-cb.webcat-view-data-cb{type: 'checkbox', checked: true}
              -#  %label{for: 'view-data-reviewer-cb'} Reviewer
              -#%li.sub-checkbox-wrapper
              -#  %input#view-data-sec-reviewer-cb.webcat-view-data-cb{type: 'checkbox', checked: true}
              -#  %label{for: 'view-data-sec-reviewer-cb'} 2nd Reviewer
          .col-xs-3
            %ul.show-col-list
              %li
                %input#view-tags-col-cb.webcat-view-data-cb.webcat-view-col-cb{type: 'checkbox', checked: true, 'data-column': '2'}
                %label{for: 'view-tags-col-cb'} Tags
              %li
                %input#view-description-col-cb.webcat-view-data-cb.webcat-view-col-cb{type: 'checkbox', checked: true, 'data-column': '4'}
                %label{for: 'view-description-col-cb'} Description
              %li
                %input#view-sugg-col-cb.webcat-view-data-cb.webcat-view-col-cb{type: 'checkbox', checked: true, 'data-column': '5'}
                %label{for: 'view-sugg-col-cb'} Suggested
              %li
                %input#view-tools-col-cb.webcat-view-data-cb.webcat-view-col-cb{type: 'checkbox', checked: true, 'data-column': '7'}
                %label{for: 'view-tools-col-cb'} Tools

    %span.dropdown
      %button#webcat-index-table-sort-button.toolbar-button.sort-button.dropdown-toggle.esc-tooltipped-webcat-toolbar{title: 'Sort data', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Sort Data
      .dropdown-menu.toolbar-dropdown#webcat-index-table-show-columns-dropdown{'aria-labelledby': 'webcat-index-table-show-columns-button'}
        %label.dropdown-label Sort Data
        .row
          %select#webcat-index-sort-select
            %option{value: '10'} Age
            %option{value: '11'} Entry ID
            %option{value: '12'} Status
            %option IP/URI
            %option{value: '14'} WBRS Score
            %option{value: '13'} Resolution
            %option{value: '15'} Submitter Org
            %option{value:'16'} Assignee
          %button.primary{onclick: 'sort_webcat_index(this);'}
            Apply Sort

  %div
    %div.btn-group.toolbar-btn-group
      %button.btn.toolbar-button.open-selected.esc-tooltipped-webcat-toolbar{onclick: 'open_selected()', type: 'button', title: 'Open Selected (alt + o)'}
        %span.toolbar-button-text Selected
      %button.btn.toolbar-button.open-all.esc-tooltipped-webcat-toolbar{onclick: 'open_all()', type: 'button', title: 'Open All (shift + alt + o)'}
        %span.toolbar-button-text.text-button-all All
  %div
    %span.toolbar-concise-button-area
      %button.toolbar-button.take-ticket-toolbar-button.esc-tooltipped-webcat-toolbar.concise-button.concise-button-first{onclick: 'take_selected()', type: 'button', title: 'Take (alt + t)'}
        %span.toolbar-button-text Take
      %button.toolbar-button.return-ticket-toolbar-button.dropdown-button-margin-right.esc-tooltipped-webcat-toolbar.concise-button.concise-button-last.darkened-button{onclick: 'return_selected()', type: 'button', title: 'Return (alt + r)'}
        %span.toolbar-button-text Return
    %span.toolbar-concise-button-area.webrep-change-assignee-wrapper
      %button.toolbar-button.remove-assignee-toolbar-button.dropdown-toggle.esc-tooltipped-webcat-toolbar.concise-button.concise-button-first.concise-button-no-text{onclick: 'webcat_remove_assignee()', title: 'Remove Assignee (alt + u)', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span.dropdown
        %button#index_change_assign.toolbar-button.ticket-owner-button.dropdown-toggle.esc-tooltipped-webcat-toolbar.concise-button.concise-button-last.darkened-button{title: 'Change Assignee', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
          %span.toolbar-button-text
            Change Assignee
        .dropdown-menu.toolbar-dropdown{'aria-labelledby': 'index_change_assign'}
          %h3 Change Assignee
          .inline-tool-content-wrapper
            .toolbar
              %div
                %label.toolbar-section-label Assignee
                %select{name: 'index_target_assignee', id: 'index_target_assignee', class:'toolbar-select'}
                  - User.joins(roles: :org_subset).where(org_subsets: { name: 'webcat' }).distinct.order(:cvs_username).each do |u|
                    %option{id: u.id, value: u.id, label: u.cvs_username}
                      = u.cvs_username
              %button{class: 'primary', type:'button', id: 'button_reassign', onclick:'webcat_change_assignee();'}
                Assign
  %div
    %span.dropdown
      %button#convert-ticket-button.toolbar-button.convert-ticket-button.esc-tooltipped-webcat-toolbar.dropdown-toggle{type: 'button', title: 'Convert ticket to web reputation ticket', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', disabled: 'disabled', onclick: 'prep_complaint_to_convert();'}
        %span.toolbar-button-text Convert to Webrep
      .dropdown-menu.toolbar-dropdown#convert-ticket-dropdown{'aria-labelledby': 'convert-ticket-button'}
        .dropdown-tool-text-divider.primary-text-divider Convert to Reputation Dispute
        .inline-tool-content-wrapper
          .dropdown-loader-wrapper.hidden
            .gear-loader-wrapper
              = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
            %span.loader-msg Converting to Webrep...
          .row
            .col-xs-8
              %label.content-label-sm
                Ticket ID to Convert:
              %span.ticket-id-to-convert#complaint-id-to-convert

            .col-xs-4
              %label.content-label-sm Reputation Ticket Type
              #convert-ticket-type.form-group
                .inline-radio-wrapper
                  %label{for: 'web-ticket-type'} Web
                  %input#web-ticket-type.convert-input{type: 'radio', name: 'ticket-type', value: 'w'}
                .inline-radio-wrapper
                  %label{for: 'email-ticket-type'} Email
                  %input#email-ticket-type.convert-input{type: 'radio', name: 'ticket-type', value: 'e'}
          %hr.thin
          .row
            .col-xs-12
              %label.content-label-sm
                Ticket Entries:
                %span.convert-entry-count
              .convert-entry-table-wrapper
                %table#entries-to-convert
                  %thead
                    %tr
                      %th Entry ID
                      %th Entry Content
                      %th.convert-disposition-cell.text-right Suggested Disposition
                  %tbody

          %hr.thin
          .comment-wrapper
            %label.content-label-sm Ticket Summary
            %textarea#convert-ticket-summary.dropdown-comment.note-input
          .button-row-center
            %button#convert-to-webrep.primary.dropdown-submit-button{type: 'button', disabled: 'disabled'}
              Convert Ticket

  %div
    %button.toolbar-button.collapse-button.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{onclick: 'collapse_selected()', type: 'button', title: 'Collapse Selected (alt + f)'}
      %span.toolbar-button-text Selected
    %button.toolbar-button.collapse-all.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{onclick: 'collapse_all()', type: 'button', title: 'Collapse All (alt + h)'}
      %span.toolbar-button-text.text-button-all All
  %div
    %button.toolbar-button.expand-row-button.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{onclick: 'expand_selected()', type: 'button', title: 'Expand Selected (alt + d)'}
      %span.toolbar-button-text Selected
    %button.toolbar-button.expand-all.esc-tooltipped-webcat-toolbar{type: 'button', title: 'Expand All (alt + g)'}
      %span.toolbar-button-text.text-button-all All
  %div
    %button.toolbar-button.sync-button#fetch.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{ onclick: 'fetch_complaints();', title: 'Fetch Complaints'}
      %span.toolbar-button-text Complaints
    %button.toolbar-button.sync-button#fetch_wbnp.esc-tooltipped-webcat-toolbar{ onclick: 'fetch_wbnp_data();', title: 'Fetch WBNP Data'}
      %span.toolbar-button-text WBNP Data

  %div.webcat-toolbar-push
    - if params[:f] != "REVIEW"
      %button#index_update_resolution.toolbar-button.resolution-submit-button.dropdown-toggle.esc-tooltipped-webcat-toolbar.toolbar-button-spacer.webcat-toolbar-bulk-res{title: 'Resolve multiple selected entries with the same resolution and comments', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span
          Bulk Resolution Tool
      .dropdown-menu.toolbar-dropdown#index-change-assign-dropdown{'aria-labelledby': 'index_update_resolution'}
        .edit-resolution-container
          %label.toolbar-section-label.edit-resolution-label{for:'complaint[resolution]'} Resolution
          = select(:complaint, :resolution, options_for_select([["Unchanged", "UNCHANGED"], ["Invalid", "INVALID"], ["Reopened", "REOPENED"]]))
          .comment-wrapper.internal_comment_container
            %label.toolbar-section-label{'for':'internal_comment'} Internal Comment
            %input.form-control#internal_comment{:name => "internal_comment", :placeholder => "Add a comment.", :type => "text", :value => ""}
          .comment-wrapper.customer_facing_comment_container
            %label.toolbar-section-label{'for':'customer_facing_comment'} Customer Facing Comment
            %input.form-control#customer_facing_comment{:name => "customer_facing_comment", :placeholder => "Add a comment for the customer.", :type => "text", :value => ""}
          %button{class: 'primary', type:'button', id: 'button_update_resolution', onclick:'updateResolutionDialog();'}
            Update
      %button.toolbar-button.master-submit-button#master-submit.esc-tooltipped-webcat-toolbar{ onclick: 'master_submit();', title: 'Submit multiple selected entries with any changes entered by row'}
        %span
          Bulk Submit
      %span.dropdown
    - else
      %button.toolbar-button.master-submit-button#review-bulk-submit.esc-tooltipped-webcat-toolbar.toolbar-button-spacer{ onclick: 'review_bulk_submit();', title: 'Bulk Review'}
        %span.toolbar-button-text Confirm Review
  %div.webcat-toolbar-tall-wrapper
    %input{type: 'checkbox', id:'self_review'}
    %label{for: 'self_review'} Allow Self Review
