<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <input type="checkbox">
    <button onclick="">New Complaint</button>
    <button onclick="">Fetch more complaints</button>
    <button onclick="edit_selected_complaints()">Edit Selected</button>
    <button onclick="">remove Subdomain from selected prefix</button>
    <button onclick="take_selected()">Take selected</button>
    <button onclick="return_selected()">Return selected</button>
    <button onclick="">collapse all</button>
    <button onclick="">collapse selected</button>
    <button onclick="">expand all</button>
    <button onclick="">expand selected</button>
    <button type="button" data-toggle="modal" data-target="#cat_new_url_modal">
      categorize new URL
    </button>
  </div>
  <div class="col-lg-5">
    <button onclick="select_all_pages()">Select All</button>
    <button onclick="unselect_all_pages()">Select None</button>
    <button onclick="open_viewable()">Open All Viewable</button>
    <button onclick="open_nonviewable()">Open Non Viewable</button>
    <button onclick="open_selected()">Open Selected</button>
    <button onclick="open_all()">Open All</button>
  </div>
</div>

