#wbnp-full-report{title: 'WBNP Report Details'}
  .container
    .row
      .col-xs-12#current-wbnp-report
        %h6 Current WBNP Report
        .wbnp-status-wrapper
          .wbnp-status
          .wbnp-status-msg
        %table.wbnp-full-report-table
          %thead
            %tr
              %th ID
              %th Total New Cases
              %th Cases Imported
              %th Cases Failed
              %th Created At
              %th Updated At
        .wbnp-notes
    .row
      .col-xs-12#previous-wbnp-report
        %h6 Previous WBNP Report
        .wbnp-status-wrapper
          .wbnp-status
          .wbnp-status-msg
        %table.wbnp-full-report-table
          %thead
            %tr
              %th ID
              %th Total New Cases
              %th Cases Imported
              %th Cases Failed
              %th Created At
              %th Updated At
        .wbnp-notes

