.webcat-research-wrapper
  %table.domain-history-table
    %thead
      %tr
        %th
          %input{type: "checkbox", name: "select all urls", class: 'categorize-url-button'}
        %th
          source
        %th
          category
        %th
          domain
        %th
          entries
        %th
          time of action
        %th
          operation
    %tbody
