.webcat-research-wrapper
  %table.xbrs-history-table
    %thead
      %tr
        %th
          %input{type: "checkbox", name: "select all urls", class: 'categorize-url-button'}
        %th
          Source
        %th
          Category
        %th
          Domain
        %th
          Entries
        %th
          Time of Action
        %th
          Operation
    %tbody
