.content-wrapper
  .row
    .col-xs-12
      %h1 CSAM Reports

      .toolbar.csam-reports-toolbar
        .toolbar-container
          %label.toolbar-section-label
            Send Report
          %button.toolbar-button.toolbar-button-spacer.icon-reports.esc-tooltipped#resend-csam-reports-button{title: 'Resend report(s) to IWF and NCMEC', disabled: 'disabled'}
            %span Resend Report(s) to IWF and NCMEC
          %button.toolbar-button.icon-email.esc-tooltipped#email-csam-reports-button{title: 'Forward report(s) to external email address', disabled: 'disabled'}
            %span
              Forward Report(s)

      -# Entry id links to (complaint) show page
      -# Report id's open up the compiled report in a dialog

      %table.table.responsive.dataTable.no-footer.webcat-list-view#webcat-csam-reports-index{role:'datatable'}
        %thead
          %tr
            %th.attention-flag-col
              -# attention flag
            %th Entry ID
            %th Date Entry was Resolved
            %th URL
            %th Analyst
            %th Source
            %th Report ID
            %th Date Sent
            %th
              -# actions column

        %tbody
          %tr
            %td.attention-flag-col.attention-flag
            %td.entry-id-col
              %a{href: ''} 123456
            %td 2024-02-21 22:01:14
            %td badurlsobad.co/superbad
            %td Analyst Name
            %td
            %td.alt-col.csam-report-id-col
            %td
            %td.tools-col
              %button.toolbar-button.toolbar-button-spacer.icon-reports.esc-tooltipped{title: 'Resend report to IWF and NCMEC'}
              %button.toolbar-button.icon-email.esc-tooltipped{title: 'Forward report to external email address'}

          %tr
            %td.attention-flag-col.attention-flag
            %td.entry-id-col
              %a{href: ''} 123522
            %td 2024-02-18 12:03:08
            %td alsobad.com/evisl&ick
            %td Analyst Name
            %td
            %td.alt-col.csam-report-id-col
            %td
            %td.tools-col
              %button.toolbar-button.toolbar-button-spacer.icon-reports.esc-tooltipped{title: 'Resend report to IWF and NCMEC'}
              %button.toolbar-button.icon-email.esc-tooltipped{title: 'Forward report to external email address'}
          %tr
            %td.attention-flag-col
            %td.entry-id-col
              %a{href: ''} 123613
            %td 2024-02-05 02:05:43
            %td grossurl.com
            %td Analyst Name
            %td NCMEC
            %td.alt-col.csam-report-id-col{'data-report-id': '3962592', 'data-report-source': 'ncmec'}
              %span.report-id-wrapper 3962592
            %td 2024-02-05 13:45:07
            %td.tools-col
              %button.toolbar-button.toolbar-button-spacer.icon-reports.esc-tooltipped{title: 'Resend report to IWF and NCMEC'}
              %button.toolbar-button.icon-email.esc-tooltipped{title: 'Forward report to external email address'}
          %tr
            %td.attention-flag-col
            %td.entry-id-col
              %a{href: ''} 123747
            %td 2024-01-05 17:23:19
            %td domainnamehere.com
            %td Analyst Name
            %td IWF
            %td.alt-col.csam-report-id-col{'data-report-id': '1124442', 'data-report-source': 'iwf'} 1124442
            %td 2024-01-05 23:52:06
            %td.tools-col
              %button.toolbar-button.toolbar-button-spacer.icon-reports.esc-tooltipped{title: 'Resend report to IWF and NCMEC'}
              %button.toolbar-button.icon-email.esc-tooltipped{title: 'Forward report to external email address'}
          %tr
            %td.attention-flag-col
            %td.entry-id-col
              %a{href: ''} 123785
            %td 2024-01-01 13:56:22
            %td morebadurl.com/no
            %td Analyst Name
            %td NCMEC
            %td.alt-col.csam-report-id-col{'data-report-id': '3962220', 'data-report-source': 'ncmec'} 3962220
            %td 2024-01-02 07:43:22
            %td.tools-col
              %button.toolbar-button.toolbar-button-spacer.icon-reports.esc-tooltipped{title: 'Resend report to IWF and NCMEC'}
              %button.toolbar-button.icon-email.esc-tooltipped{title: 'Forward report to external email address'}




.csam-report-dialog#ncmec_report_dialog_3962592{title: 'NCMEC Report #3962592'}
  .dialog-content-wrapper
    .row
      .col-xs-12
        Add report content here for NCMEC 3962592

.csam-report-dialog#ncmec_report_dialog_3962514{title: 'NCMEC Report #3962514'}
  .dialog-content-wrapper
    .row
      .col-xs-12
        Add report content here for NCMEC 3962514

.csam-report-dialog#ncmec_report_dialog_3962220{title: 'NCMEC Report #3962220'}
  .dialog-content-wrapper
    .row
      .col-xs-12
        Add report content here for NCMEC 3962220

.csam-report-dialog#iwf_report_dialog_1124442{title: 'IWF Report #1124442'}
  .dialog-content-wrapper
    .row
      .col-xs-12
        Add report content here for IWF 1124442

.csam-report-dialog#iwf_report_dialog_1124403{title: 'IWF Report #1124403'}
  .dialog-content-wrapper
    .row
      .col-xs-12
        Add report content here for IWF 1124403