.content-wrapper
  - content_for(:webcat_page) do
    Complaints management

  = render "escalations/webcat/shared/telemetry"

.content-wrapper
  .tool-bar
    = render "toolbar"

  %div{:style => "position:relative"}
    %div{:style => "width:600px;"}
      .grid-header{:style => "width:100%"}
  %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}/

  .row
    .col-xs-12
      %table.table.responsive#complaints-index
        %thead
          %tr
            %th
            %th
            %th Complaint id
            %th Entry id
            %th Age
            %th Status
            %th Subdomain
            %th Domain
            %th Path
            %th Customer
            %th WBRS
            %th Category
            %th Assigned To
            %th



/ Modal
#cat_new_url_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cat_new_url_modal_label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#cat_new_url_modal_label.modal-title Add Categories to URL
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %input{:name => "token", :type => "text", :value => "", :placeholder=>"URL"}/
        %input{:name => "token", :type => "text", :value => "", :placeholder=>"categories comma separated"}/
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button", :onclick=>"cat_new_url()", "data-dismiss" => "modal"} Save changes



:javascript
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
  $(document).ready(function() {



  var complaint_table = $('#complaints-index').DataTable({
      // order: [[ 9, "desc" ]],
      // dom: '<"datatable-top-tools"lf>t<ip>',
      "rowCallback": function( row, data, index ) {
        var $node = this.api().row(row).nodes().to$();
        $node.addClass('not-shown')

        if (data.subdomain.length > 0 ){
          $node.addClass('highlight-has-subdomain')
        }
        if (data.is_important ){
          $node.addClass('highlight-second-review')
        }
        if (data.age_int <  10800) {
          $node.addClass('highlight-minus3Hours')
        }
        else if (data.age_int <  18000) {
          $node.addClass('highlight-minus5Hours')
        }
        else if(data.age_int >  18000) {
          $node.addClass('highlight-plus5Hours')
        }
        else{
        }

      },
      columnDefs: [
        {targets: [0, 1], orderable: false, searchable: false},
        {targets: [0], className:'expandable-row-column'},

        {targets: [2], className:'id-col', "width": "1%"},
        {targets: [3], className:'entry-id-col', "width": "1%"}
      ],
      columns: [
        {data: null, defaultContent: '<button class="expand-row-button-inline"></button>'}, // expansion button
        {data: null, defaultContent: '<p class="">icons</p>'},
        {
          sortable: false,
           "render": function ( data, type, full, meta ) {
               var complaintID = (full.complaint_id).toString();
               return '<a href="complaints/'+ complaintID +'">' + complaintID+ '</a>';
           }
        },
        {data: 'entry_id'},
        {data: 'age'},
        {data: "status"},                 // status
        {data: "subdomain"},                 // status
        {data: "domain"},
        {data: "path"},
        {data: "customer_name"},
        {data: "wbrs_score"},
        {data: "category"},
        {data: "assigned_to"}
      ],
      select: {"style": "os"},
      responsive: true
    });
    populate_webcat_index_table();



  $('#complaints-index tbody').on('click', 'td.expandable-row-column', function () {

      click_table_buttons(complaint_table, this);


    });

  } );
