.content-wrapper
  - content_for(:webcat_page) do
    Complaints Management
  - content_for(:webcat_icon) do
    icon-queue
  .complaint-mgt-top-area
    = render "escalations/webcat/shared/telemetry"

  .row
    .col-xs-12.temp-spacer
      = render "toolbar"

      %div{:style => "position:relative"}
        %div{:style => "width:600px;"}
          .grid-header{:style => "width:100%"}
      %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}/


      %table.table.responsive#complaints-index
        %thead
          %tr
            %th.sorting_disabled
              -#  Expandable button area
              %input#complaints_check_box{type: 'checkbox'}
            %th
            -#    icons
            -#%th Case ID
            %th Entry ID
            %th Age
            %th Status
            %th Subdomain
            %th Domain / IP
            %th Path
            %th Primary Cat
            %th Suggested Cat
            %th WBRS
            %th Submitter Type
            %th Submitter Org
            %th Contact Name

            -#%th Category
            %th Assigned To


/ Modal
#cat_new_url_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cat_new_url_modal_label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#cat_new_url_modal_label.modal-title Categorize URLs without a complaint
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group
          %input.form-control#url_1{:name => "token", :type => "text", :value => "", :placeholder=>"URL"}/
          %select.form-control#cat_new_url_1.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "-1"}

        .form-group
          %input.form-control#url_2{:name => "token", :type => "text", :value => "", :placeholder=>"URL"}/
          %select.form-control#cat_new_url_2.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "-1"}

        .form-group
          %input.form-control#url_3{:name => "token", :type => "text", :value => "", :placeholder=>"URL"}/
          %select.form-control#cat_new_url_3.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "-1"}

        .form-group
          %input.form-control#url_4{:name => "token", :type => "text", :value => "", :placeholder=>"URL"}/
          %select.form-control#cat_new_url_4.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "-1"}

        .form-group
          %input.form-control#url_5{:name => "token", :type => "text", :value => "", :placeholder=>"URL"}/
          %select.form-control#cat_new_url_5.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "-1"}

        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary{:type => "button", :onclick=>"cat_new_url()", "data-dismiss" => "modal"} Save changes

