.content-wrapper
  - content_for(:webcat_page) do
    Complaints Management
  - content_for(:webcat_icon) do
    icon-queue
  .complaint-mgt-top-area
    = render "escalations/webcat/shared/telemetry"

  .row.top-margin
    .col-xs-12
      %h1#webcat-index-title All Web Categorization Tickets
    #webcat_searchref_container
  .row
    .col-xs-12
      = render "toolbar"

      %div{:style => "position:relative"}
        %div{:style => "width:600px;"}
          .grid-header{:style => "width:100%"}
      %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}/

      %table.table.responsive.no-wrap#complaints-index{role: 'datatable', 'data-source': escalations_webcat_complaint_entries_path(format: :json) }
        %thead
          %tr
            %th.sorting_disabled
              -#  Expandable button area
              %input#complaints_check_box{type: 'checkbox'}
            %th
            -#    icons
            -#%th Case ID
            %th Entry ID
            %th Age
            %th Status
            %th Tags
            %th Subdomain
            %th Domain / IP
            %th Path
            %th Primary Cat
            %th Suggested Cat
            %th WBRS
            %th Submitter Type
            %th Submitter Org
            %th Assigned To