- content_for(:webcat_page) do
  Complaints management

= render "escalations/webcat/shared/dashboard"

.tool-bar
  = render "toolbar"

%div{:style => "position:relative"}
  %div{:style => "width:600px;"}
    .grid-header{:style => "width:100%"}
%input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}/
-#
-#.tab-content.content-wrapper{id: 'complaints-tab-content'}
-#  .tab-pane.active{id: 'complaints', role: 'tabpanel', 'aria-labelledby': 'admin-complaints-tab'}
-#    %h1 Notes
-#    %table#complaints-index.table.responsive.no-wrap.compact{'data-source': "#{escalations_webcat_complaints_path(format: :json)}"}
-#      %thead
-#        %tr
-#          %th ID
-#          %th Tag
-#          %th Subdomain
-#          %th Domain
-#          %th Path
-#          %th Status
-#          %th Age
-#          %th Customer
-#          %th WBRS Score
-#          %th
-#      %tbody


%table#complaints-index.table.responsive.no-wrap.compact
  %thead
    %th ID
    %th Tag
    %th Subdomain
    %th Domain
    %th Path
    %th Status
    %th Age
    %th Customer
    %th WBRS Score
  %tbody

:javascript
  $(document).ready(function() {
    $('#disputes-index').DataTable({
      searching: false,
      columns: [
        {data: "id"},
        {data: "Tag"},
        {data: "Subdomain"},
        {data: "Domain"},
        {data: "Path"},
        {data: "Status"},
        {data: "Age"},
        {data: "Customer"},
        {data: "WBRS Score"}
      ]
    });
    populate_webcat_index_table();

  } );
