.content-wrapper
  - content_for(:webcat_page) do
    Cluster Management
  - content_for(:webcat_icon) do
    icon-categories

  .complaint-mgt-top-area.cluster-mgt-top-area
    .row.cluster-title
      .col-xs-3.dashboard-left-data
        %h1= content_for :webcat_page
        %span.top-info-icon{class: "#{content_for :webcat_icon}"}
      .col-xs-9.search-stg
        .row
          .col-xs-8
            .row
              .col-xs-9
                %input.text_field.search-box{placeholder: 'Regex', autofocus: 'true'}
              .col-xs-3.no_pad
                %button.primary{class:'apply-filter-btn icon-filter-white'}Apply Filter
          .col-xs-4
            .row.search-options-row.btn-layout
              .col-xs-6
                .radio
                  %label
                    %input{name: 'choice', type: 'radio', value: 'value'}
                    Include Pattern
              .col-xs-6
                .radio
                  %label
                    %input{name: 'choice', type: 'radio', value: 'value'}
                    Exclude Pattern
  .row
    .col-xs-6.temp-spacer
      .row.default-padding
        .result-label.vertical-separator
          Current Cluster Entries:
          %span 2,354
        .result-label
          Regex:
          %span \d
      .toolbar
        .div
          %label.toolbar-section-label View
          %button.toolbar-button.icon-opened-selected.esc-tooltipped{onclick: 'open_selected()', type: 'button', title: 'Open Viewable'}
            %span.toolbar-button-text Open Selected
          %button.toolbar-button.icon-open-all.esc-tooltipped{onclick: 'open_all()', type: 'button', title: 'Open All'}
            %span.toolbar-button-text Open All
        -#%button.toolbar-button{class:'cat-btn icon-copycat'} CopyCat Tool
        %button.toolbar-button.cat-btn.icon-copycat.esc-tooltipped{onclick: 'copycat_tool()', type: 'button', title: 'CopyCat Tool'}
          %span.toolbar-button-text CopyCat Tool

    .col-xs-6.temp-spacer
      .card
        .label.content-label-sm Comment
        .card-body
          %input.text_field
          %button Submit Changes

  .row
    .col-xs-12
      %table.table.responsive#rules-index
        %thead
          %tr
            %th
              %input#disputes_check_box{type: 'checkbox', class: 'right-space'} Cluster Entry
            %th Volume
            %th Age
            %th Score
            %th ID Number
            %th Domain
            %th Hostname(s)
            %th Rules
            %th Categories

        %tbody
          %tr
            %th{:scope => "row", class: 'other-stg'} 13.68.93.109
            %td 84883009
            %td 45 MIN
            %td 8488309
            %td N / A
            %td N / A
            %td N / A
            %td N / A
            %td
              %input.category-search
              %button