- content_for(:title) do
  Admin - Analyst Console

- content_for(:nav_banner) do
  %input{type: 'text', name: 'search', placeholder: 'Search', class: 'search-box'}


= render template: "layouts/rocket"
