- content_for(:title) do
  Escalations SDR - Analyst Console

= render template: "layouts/rocket"

- if params[:f]
  :javascript
    $(document).ready(function(){
      window.filter_param = "#{params[:f]}";
      standard_webrep_index_table("#{params[:f]}")
    })